.kmw-spacebar-caption {
    	font-family: font_family_NotoSansCanadianAboriginal,NotoSansCanadianAboriginal-Regular,helvetica,sans-serif !important; 
    	font-size:0.5em !important;
    	}
#default-T_LENGTHEN.kmw-key.kmw-key-default {color:#fff;background-color:#b2b9c5;}
#default-T_SYMBOL.kmw-key.kmw-key-special,
#more-T_SYMBOL.kmw-key.kmw-key-special {color:#fff; font-size:0.8em; background-color:#b2b9c5} 
#symbol-T_SYMBOL.kmw-key.kmw-key-special {color:#444; font-size:0.8em; background-color:#fdfdfe;}

.tablet.android #default-T_LENGTHEN.kmw-key.kmw-key-default,
.tablet.android #default-T_SYMBOL.kmw-key.kmw-key-special,
.tablet.android #more-T_SYMBOL.kmw-key.kmw-key-special {color:#77f;background-color:#a8a8a8;} 
.tablet.android #symbol-T_SYMBOL.kmw-key.kmw-key-special {color:#000;background-color:#77f;} 

.phone.android #default-T_LENGTHEN.kmw-key.kmw-key-default,
.phone.android #default-T_SYMBOL.kmw-key.kmw-key-special,
.phone.android #more-T_SYMBOL.kmw-key.kmw-key-special {color:#fff;background-color:#555;} 
.phone.android #symbol-T_SYMBOL.kmw-key.kmw-key-special {color:#000;background-color:#ddd;} 

