/* Based on sil_geez_keyboard.css */


.phone.android .kmw-key-layer-group, 
.phone.ios .kmw-key-layer-group, 
.hone.tablet .kmw-key-layer-group 
 { 
  /* background-color: #ffffff;  */
 } 


/* ----------------------- PHONE  LATIN LABELS ------------------------- */


/* LATIN LABEL STYLE */

.phone .kmw-key-label {
  
    color: black; 
    font-size: 12px;
}

.tablet .kmw-key-label {
  
    color: black; 
    font-size: 12px;
}

.ios .kmw-key-geezword_amharic #default-K_A {background: #CCCCCC}

/* ----------------------- IPHONE VOWELS  KEYS COLOR ------------------------- */
.ios .kmw-keyboard-geezword_amharic #default-K_A,
.ios .kmw-keyboard-geezword_amharic #default-K_E,
.ios .kmw-keyboard-geezword_amharic #default-K_I,
.ios .kmw-keyboard-geezword_amharic #default-K_O,
.ios .kmw-keyboard-geezword_amharic #default-K_U,
.ios .kmw-keyboard-geezword_amharic #default-K_E,
.ios .kmw-keyboard-geezword_amharic #default-K_E\+shift, 
/* .ios .kmw-keyboard-geezword_amharic #default-K_O\+shift, */
/* .ios .kmw-keyboard-geezword_amharic #default-K_A\+shift, */

.ios .kmw-keyboard-geezword_amharic #shift-K_E 
/* .ios .kmw-keyboard-geezword_amharic #shift-K_O, */
/* .ios .kmw-keyboard-geezword_amharic #shift-K_A  */
  {   
        background: #ADD8E6; /* BLUE */
  } 




/* ----------------------- ANDROID  VOWELS  KEYS COLOR ------------------------- */
.android .kmw-keyboard-geezword_amharic #default-K_A,
.android .kmw-keyboard-geezword_amharic #default-K_E,
.android .kmw-keyboard-geezword_amharic #default-K_I,
.android .kmw-keyboard-geezword_amharic #default-K_O,
.android .kmw-keyboard-geezword_amharic #default-K_U,
.android .kmw-keyboard-geezword_amharic #default-K_E,
.android .kmw-keyboard-geezword_amharic #default-K_E\+shift,
/* .android .kmw-keyboard-geezword_amharic #default-K_O\+shift, */
/* .android .kmw-keyboard-geezword_amharic #default-K_A\+shift, */

 .android .kmw-keyboard-geezword_amharic #shift-K_E 
/* .android .kmw-keyboard-geezword_amharic #shift-K_O, */
/* .android .kmw-keyboard-geezword_amharic #shift-K_A  */

  {   
        background: #ADD8E6; /* BLUE */
  } 

