.kmw-key.kmw-key-deadkey{color:#888;background-color:#f0f0f0;} 
.kmw-key-text {font-family: helvetica,sans-serif;}
.kmw-spacebar-caption {font-family: font_family_NotoSansCanadianAboriginal,NotoSansCanadianAboriginal-Regular,helvetica,sans-serif !important; font-size:0.6em;}

.phone.android .kmw-key.kmw-key-deadkey{color:#909090;background-color:#777;} 
.tablet.android .kmw-key.kmw-key-deadkey{color:#aaa; background-color:#ddd;}
.tablet.android .kmw-key-text {font-size:1em !important;}

