*.kpj.user
.idea/
legacy/*/*/build/
release/*/*/build/
release/*/*/tests/
experimental/*/*/build/
packages/*/build/
.cache
servervars.sh
/.project
release/j/jawa/jawa.kpj.user
release/j/jawa/source/jawa-help.htm
