*.kpj.user
.idea/
legacy/*/*/build/
release/*/*/build/
release/*/*/tests/
experimental/*/*/build/
packages/*/build/
.cache
servervars.sh
/.project
release/j/jawa/jawa.kpj.user
release/j/jawa/source/jawa-help.htm
release/j/jawa/source/jawa.keyman-touch-layout
.vscode/
release/l/latin_jawa/latin_jawa.kpj
release/j/jawa_standar/jawa_standar.kpj
