/*
 * Pastel colors for GFF Keyboards
 * Primarily from: https://www.behance.net/gallery/125405749/Top-10-trending-pastel-color-palettes-in-2021
 */

/* functional keys */
.phone div.kmw-key.kmw-key-shift[id$='K_LOPT'],     .tablet div.kmw-key.kmw-key-shift[id$='K_LOPT'],
.phone div.kmw-key.kmw-key-shift[id$='K_BKSP'],     .tablet div.kmw-key.kmw-key-shift[id$='K_BKSP'],
.phone div.kmw-key.kmw-key-shift[id$='K_ENTER'],   .tablet div.kmw-key.kmw-key-shift[id$='K_ENTER'],
.phone div.kmw-key.kmw-key-shift[id$='K_SHIFT'],    .tablet div.kmw-key.kmw-key-shift[id$='K_SHIFT'],
.phone div.kmw-key.kmw-key-special[id$='K_SHIFT'], .tablet div.kmw-key.kmw-key-special[id$='K_SHIFT'],
.phone div.kmw-key.kmw-key-shift[id$='T_EMPTY'],   .tablet div.kmw-key.kmw-key-shift[id$='T_EMPTY']
/* { background: #f3d6ce  ; color: black; } */
  { background: #ece1d5 ; color: black ; }

/* default layers: latin punctuation */
.phone div.kmw-key.kmw-key-default[id$='K_SPACE'], .tablet div.kmw-key.kmw-key-default[id$='K_SPACE']
  { background: #f4eee7 ; color: #f4eee7 ; } /* eceae4 */

.phone div.kmw-key.kmw-key-default[id$='K_1+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_1+shift'], /* ! */
.phone div.kmw-key.kmw-key-default[id$='U_1362'],    .tablet div.kmw-key.kmw-key-default[id$='U_1362']     /* ። */
  { background: #f4eee7 ; color: black ; }

/* ethiopic-extra layer:  punctuation */
.phone div.kmw-key.kmw-key-default[id$='extra-U_00AB'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_00AB'], /* « */
.phone div.kmw-key.kmw-key-default[id$='extra-U_00BB'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_00BB'],  /* » */
.phone div.kmw-key.kmw-key-default[id$='extra-U_2039'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_2039'], /* « */
.phone div.kmw-key.kmw-key-default[id$='extra-U_203A'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_203A']  /* » */
  { background:  #ebece6 ; color: black ; } 

  /* ethiopic-punctuation layer:  punctuation */
.phone div.kmw-key.kmw-key-default[id$='punctuation-U_2039'], .tablet div.kmw-key.kmw-key-default[id$='punctuation-U_2039'], /* ‹ */
.phone div.kmw-key.kmw-key-default[id$='punctuation-U_203A'], .tablet div.kmw-key.kmw-key-default[id$='punctuation-U_203A'],  /* › */
.phone div.kmw-key.kmw-key-default[id$='punctuation-U_00AB'], .tablet div.kmw-key.kmw-key-default[id$='punctuation-U_00AB'], /* « */
.phone div.kmw-key.kmw-key-default[id$='punctuation-U_00BB'], .tablet div.kmw-key.kmw-key-default[id$='punctuation-U_00BB']  /* » */
{ background:  #ebece6 ; color: black ; } 

/* ethiopic-extra layer: ethiopic punctuation */
.phone div.kmw-key.kmw-key-default[id$='extra-U_1361'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_1361'], /* ፡ */
.phone div.kmw-key.kmw-key-default[id$='extra-U_1362'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_1362'], /* ። */
.phone div.kmw-key.kmw-key-default[id$='extra-U_1363'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_1363'], /* ፣ */
.phone div.kmw-key.kmw-key-default[id$='extra-U_1364'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_1364'], /* ፤ */
.phone div.kmw-key.kmw-key-default[id$='extra-U_1365'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_1365'], /* ፥ */
.phone div.kmw-key.kmw-key-default[id$='extra-U_1366'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_1366'], /* ፦ */
.phone div.kmw-key.kmw-key-default[id$='extra-U_1367'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_1367'], /* ፧ */
.phone div.kmw-key.kmw-key-default[id$='extra-U_1360'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_1360'], /* ፠ */
.phone div.kmw-key.kmw-key-default[id$='extra-U_1368'], .tablet div.kmw-key.kmw-key-default[id$='extra-U_1368']  /* ፨ */
  { background:  #f4eee7 ; color: black ; }

/* ethiopic-extra layer: western numerals */
.phone div.kmw-key.kmw-key-default[id$='K_1'], .tablet div.kmw-key.kmw-key-default[id$='K_1'], /* 1 */
.phone div.kmw-key.kmw-key-default[id$='K_2'], .tablet div.kmw-key.kmw-key-default[id$='K_2'], /* 2 */
.phone div.kmw-key.kmw-key-default[id$='K_3'], .tablet div.kmw-key.kmw-key-default[id$='K_3'], /* 3 */
.phone div.kmw-key.kmw-key-default[id$='K_4'], .tablet div.kmw-key.kmw-key-default[id$='K_4'], /* 4 */
.phone div.kmw-key.kmw-key-default[id$='K_5'], .tablet div.kmw-key.kmw-key-default[id$='K_5'], /* 5 */
.phone div.kmw-key.kmw-key-default[id$='K_6'], .tablet div.kmw-key.kmw-key-default[id$='K_6'], /* 6 */
.phone div.kmw-key.kmw-key-default[id$='K_7'], .tablet div.kmw-key.kmw-key-default[id$='K_7'], /* 7 */
.phone div.kmw-key.kmw-key-default[id$='K_8'], .tablet div.kmw-key.kmw-key-default[id$='K_8'], /* 8 */
.phone div.kmw-key.kmw-key-default[id$='K_9'], .tablet div.kmw-key.kmw-key-default[id$='K_9'], /* 9 */
.phone div.kmw-key.kmw-key-default[id$='K_0'], .tablet div.kmw-key.kmw-key-default[id$='K_0'], /* 0 */
.tablet div.kmw-key.kmw-key-default[id$='K_HYPHEN'], .tablet div.kmw-key.kmw-key-default[id$='K_EQUAL'], 
.kmw-keyboard-gff_ethiopic #ethiopic-etens-extra-T_MORE  /* ▶ */
  { background:  #ebece6 ; color: black ; }

/* ethiopic-extra layer: ge'ez numerals */
.phone div.kmw-key.kmw-key-default[id$='K_SPACE'], .tablet div.kmw-key.kmw-key-default[id$='K_SPACE'],
.phone div.kmw-key.kmw-key-default[id$='U_1369'], .tablet div.kmw-key.kmw-key-default[id$='U_1369'], /* ፩ */
.phone div.kmw-key.kmw-key-default[id$='U_136A'], .tablet div.kmw-key.kmw-key-default[id$='U_136A'], /* ፪ */
.phone div.kmw-key.kmw-key-default[id$='U_136B'], .tablet div.kmw-key.kmw-key-default[id$='U_136B'], /* ፫ */
.phone div.kmw-key.kmw-key-default[id$='U_136C'], .tablet div.kmw-key.kmw-key-default[id$='U_136C'], /* ፬ */
.phone div.kmw-key.kmw-key-default[id$='U_136D'], .tablet div.kmw-key.kmw-key-default[id$='U_136D'], /* ፭ */
.phone div.kmw-key.kmw-key-default[id$='U_136E'], .tablet div.kmw-key.kmw-key-default[id$='U_136E'], /* ፮ */
.phone div.kmw-key.kmw-key-default[id$='U_136F'], .tablet div.kmw-key.kmw-key-default[id$='U_136F'], /* ፯ */
.phone div.kmw-key.kmw-key-default[id$='U_1370'], .tablet div.kmw-key.kmw-key-default[id$='U_1370'], /* ፰ */
.phone div.kmw-key.kmw-key-default[id$='U_1371'], .tablet div.kmw-key.kmw-key-default[id$='U_1371'], /* ፱ */
.phone div.kmw-key.kmw-key-default[id$='U_1372+shift'], .tablet div.kmw-key.kmw-key-default[id$='U_1372'],  /* ፲ */
.kmw-keyboard-gff_ethiopic #ethiopic-tens-extra-T_MORE  /* ▶ */
  { background:  #ece1d5 ; color: black ; }

.phone div.kmw-key.kmw-key-default[id$='U_1372'], .tablet div.kmw-key.kmw-key-default[id$='U_1372'], /* ፲ */
.phone div.kmw-key.kmw-key-default[id$='U_1373'], .tablet div.kmw-key.kmw-key-default[id$='U_1373'], /* ፳ */
.phone div.kmw-key.kmw-key-default[id$='U_1374'], .tablet div.kmw-key.kmw-key-default[id$='U_1374'], /* ፴ */
.phone div.kmw-key.kmw-key-default[id$='U_1375'], .tablet div.kmw-key.kmw-key-default[id$='U_1375'], /* ፵ */
.phone div.kmw-key.kmw-key-default[id$='U_1376'], .tablet div.kmw-key.kmw-key-default[id$='U_1376'], /* ፶ */
.phone div.kmw-key.kmw-key-default[id$='U_1377'], .tablet div.kmw-key.kmw-key-default[id$='U_1377'], /* ፷ */
.phone div.kmw-key.kmw-key-default[id$='U_1378'], .tablet div.kmw-key.kmw-key-default[id$='U_1378'], /* ፸ */
.phone div.kmw-key.kmw-key-default[id$='U_1379'], .tablet div.kmw-key.kmw-key-default[id$='U_1379'], /* ፹ */
.phone div.kmw-key.kmw-key-default[id$='U_137A'], .tablet div.kmw-key.kmw-key-default[id$='U_137A'], /* ፺ */
.phone div.kmw-key.kmw-key-default[id$='U_137B'], .tablet div.kmw-key.kmw-key-default[id$='U_137B'], /* ፻ */
.phone div.kmw-key.kmw-key-default[id$='T_THOUSAND'], .tablet div.kmw-key.kmw-key-default[id$='T_THOUSAND'], /* ፲፻ */ 
.phone div.kmw-key.kmw-key-default[id$='U_137C'], .tablet div.kmw-key.kmw-key-default[id$='U_137C'],  /* ፼ */
/* .kmw-keyboard-gff_ethiopic #ethiopic-extra-T_MORE, */
.phone div.kmw-key.kmw-key-special[id$='extra-T_MORE'] /* ▶ */
  { background:  #f3d6ce ; color: black ; }

.phone div.kmw-key.kmw-key-default[id$='U_1390'], .tablet div.kmw-key.kmw-key-default[id$='U_1390'], /* ᎐ */ 
.phone div.kmw-key.kmw-key-default[id$='U_1391'], .tablet div.kmw-key.kmw-key-default[id$='U_1391'], /* ᎑ */ 
.phone div.kmw-key.kmw-key-default[id$='U_1391'], .tablet div.kmw-key.kmw-key-default[id$='U_1392'], /* ᎒ */ 
.phone div.kmw-key.kmw-key-default[id$='U_1393'], .tablet div.kmw-key.kmw-key-default[id$='U_1393'], /* ᎓ */
.phone div.kmw-key.kmw-key-default[id$='U_1394'], .tablet div.kmw-key.kmw-key-default[id$='U_1394'], /* ᎔ */
.phone div.kmw-key.kmw-key-default[id$='U_1395'], .tablet div.kmw-key.kmw-key-default[id$='U_1395'], /* ᎕ */
.phone div.kmw-key.kmw-key-default[id$='U_1396'], .tablet div.kmw-key.kmw-key-default[id$='U_1396'], /* ᎖ */
.phone div.kmw-key.kmw-key-default[id$='U_1397'], .tablet div.kmw-key.kmw-key-default[id$='U_1397'], /* ᎗ */
.phone div.kmw-key.kmw-key-default[id$='U_1398'], .tablet div.kmw-key.kmw-key-default[id$='U_1398'], /* ᎘ */
.phone div.kmw-key.kmw-key-default[id$='U_1399'], .tablet div.kmw-key.kmw-key-default[id$='U_1399'] /* ᎙ */
    { background:  #f8f2e0 ; color: black ; } 

/* default layer ግዕዝ */
.phone div.kmw-key.kmw-key-default[id$='T_ግዕዝ'], .tablet div.kmw-key.kmw-key-default[id$='T_ግዕዝ']
  { background:  #e2f0cb ; color: black; } /*#baed91 */

/* default layer ካዕብ */
.phone div.kmw-key.kmw-key-default[id$='T_ካዕብ'], .tablet div.kmw-key.kmw-key-default[id$='T_ካዕብ']
  { background:  #ffffb5 ; color: black; } /* #faf884 */ 

/* default layer ሣልስ */
.phone div.kmw-key.kmw-key-default[id$='T_ሣልስ'], .tablet div.kmw-key.kmw-key-default[id$='T_ሣልስ']
  { background:  #fea3aa  ; color: black; }

/* default layer ራብዕ */
.phone div.kmw-key.kmw-key-default[id$='T_ራብዕ'], .tablet div.kmw-key.kmw-key-default[id$='T_ራብዕ']
  { background:  #ccf1ff  ; color: black; } /* #b2cefe */

/* default layer ኃምስ */
.phone div.kmw-key.kmw-key-default[id$='T_ኃምስ'], .tablet div.kmw-key.kmw-key-default[id$='T_ኃምስ']
  { background:  #e0d7ff  ; color: black; } /* #f2a2e8 */

/* default layer ሳድስ - used primarily when a sadis letter appears in a popup or on the -extra layers */
/*
.phone div.kmw-key.kmw-key-default[id$='T_ሳድስ'], .tablet div.kmw-key.kmw-key-default[id$='T_ሳድስ']
  { background: #eceae4; color: black; }
*/

/* default layer ሳብዕ */
.phone div.kmw-key.kmw-key-default[id$='T_ሳብዕ'], .tablet div.kmw-key.kmw-key-default[id$='T_ሳብዕ']
  { background:  #fad6b6  ; color: black; } /* f8b88b*/

/* ዘመደ-ግዕዝ */
.phone div.kmw-key.kmw-key-default[id$='T_ዘመደ_ግዕዝ'], .tablet div.kmw-key.kmw-key-default[id$='T_ዘመደ_ግዕዝ']
  {
    background: #ffffff;  color: black ;
    background: linear-gradient(180deg, #ffffff 0%, #e2f0cb 100%);
  }

/* ዘመደ-ካዕብ */
.phone div.kmw-key.kmw-key-default[id$='T_ዘመደ_ካዕብ'], .tablet div.kmw-key.kmw-key-default[id$='T_ዘመደ_ካዕብ'],
.phone div.kmw-key.kmw-key-default[id$='T_ዘመደ_ካዕብ_ጉራጌ'], .tablet div.kmw-key.kmw-key-default[id$='T_ዘመደ_ካዕብ_ጉራጌ']
  {
    background: #ffffff; color: black ;
    background: linear-gradient(180deg, #ffffff 0%, #ffffb5 100%);
  }

/* ዘመደ-ሣልስ */
.phone div.kmw-key.kmw-key-default[id$='T_ዘመደ_ሣልስ'], .tablet div.kmw-key.kmw-key-default[id$='T_ዘመደ_ሣልስ'],
.phone div.kmw-key.kmw-key-default[id$='T_ዘመደ_ሣልስ_ጉራጌ'], .tablet div.kmw-key.kmw-key-default[id$='T_ዘመደ_ሣልስ_ጉራጌ'],
.phone div.kmw-key.kmw-key-default[id$='T_ዘመደ_ሣልስ_ጉራጌ_ታሪካዊ'], .tablet div.kmw-key.kmw-key-default[id$='T_ዘመደ_ሣልስ_ጉራጌ_ታሪካዊ']
  {
    background: #ffffff;  color: black ;
    background: linear-gradient(180deg, #ffffff 0%, #fea3aa 100%);
  }

/* ዘመደ-ራብዕ */
.phone div.kmw-key.kmw-key-default[id$='T_ዘመደ_ራብዕ'], .tablet div.kmw-key.kmw-key-default[id$='T_ዘመደ_ራብዕ'],
.phone div.kmw-key.kmw-key-default[id$='T_WWA'], .tablet div.kmw-key.kmw-key-default[id$='T_WWA']
  {
    background: #ffffff;  color: black ;
    background: linear-gradient(180deg, #ffffff 0%, #ccf1ff 100%);
  }

/* ዘመደ-ኃምስ */
.phone div.kmw-key.kmw-key-default[id$='T_ዘመደ_ኃምስ'], .tablet div.kmw-key.kmw-key-default[id$='T_ዘመደ_ኃምስ'],
.phone div.kmw-key.kmw-key-default[id$='T_ዘመደ_ኃምስ_ጉራጌ'], .tablet div.kmw-key.kmw-key-default[id$='T_ዘመደ_ኃምስ_ጉራጌ'],
.phone div.kmw-key.kmw-key-default[id$='T_ዘመደ_ኃምስ_ጉራጌ_ታሪካዊ'], .tablet div.kmw-key.kmw-key-default[id$='T_ዘመደ_ኃምስ_ጉራጌ_ታሪካዊ']
  {
    background: #ffffff;  color: black ;
    background: linear-gradient(180deg, #ffffff 0%, #e0d7ff 100%);
  }

/* resets sadis letters that appear in popups of the default layers, this is needed for when the keys appear on the -extra layer */
.tablet.ios .kmw-keyboard-gff_ethiopic #punctuation-K_HYPHEN, .tablet.ios .kmw-keyboard-gff_ethiopic #punctuation-K_EQUAL,  
.ios .kmw-keyboard-gff_ethiopic #punctuation-K_1\+shift, .phone.ios .kmw-keyboard-gff_ethiopic #punctuation-2-K_1\+shift
{background: #fdfdfe ; color: black ; }

.tablet.android .kmw-keyboard-gff_ethiopic #punctuation-K_HYPHEN, .tablet.android .kmw-keyboard-gff_ethiopic #punctuation-K_EQUAL, 
.android .kmw-keyboard-gff_ethiopic #punctuation-K_1\+shift, .phone.android .kmw-keyboard-gff_ethiopic #punctuation-2-K_1\+shift
{background: #777 ; color: white ; }

.phone div.kmw-key.kmw-key-default[id$='U_135D'],  .tablet div.kmw-key.kmw-key-default[id$='U_135D'],
.phone div.kmw-key.kmw-key-default[id$='U_135E'],  .tablet div.kmw-key.kmw-key-default[id$='U_135E'],
.phone div.kmw-key.kmw-key-default[id$='U_135F'],  .tablet div.kmw-key.kmw-key-default[id$='U_135F']
{background: #E2EADA ; color: black ; }
