.kmw-key-layer-group {
  background: linear-gradient(180deg,  #8f83b9 0%, #c1b6ee 80%) !important;
}

.kmw-key-text {
    color: rgb(255, 255, 255)
}

.kmw-key {
  border: none !important;
  background: #5c4c9c69 !important;
  border-radius: 10px !important;
}
