.kmw-keyboard-warang_citi #default-K_W, #default-K_E, #default-K_Q, #default-K_R, #default-K_T, #default-K_Y, #default-K_U, #default-K_I, #default-K_O, #default-K_P, #default-K_A, #default-K_S, #default-K_D, #default-K_F, #default-K_G, #default-K_H, #default-K_J, #default-K_K, #default-K_L, #default-K_Z, #default-K_X, #default-K_C, #default-K_V, #default-K_B, #default-K_N, #default-K_M, #default-K_1, #default-K_2, #shift-K_2, #default-K_3, #default-K_4, #default-K_5, #default-K_6, #default-K_6, #default-K_7, #default-K_8, #default-K_9, #default-K_0, #shift-U_0021, #shift-U_0023, #shift-U_0024, #shift-U_0025, #shift-U_0026, #shift-U_0027, #shift-U_0028, #shift-U_0029, #shift-U_20B9, #default-K_BKSP, #default-K_SHIFT, #default-K_LOPT, #default-K_PERIOD, #default-K_ENTER, #default-K_COMMA, #default-K_NUMLOCK, #default-K_W, #default-K_W, #shift-K_Q, #shift-K_W, #shift-K_E, #shift-K_R, #shift-K_T, #shift-K_Y, #shift-K_U, #shift-K_I, #shift-K_O, #shift-K_P, #shift-K_A, #shift-K_S, #shift-K_D, #shift-K_F, #shift-K_G, #shift-K_H, #shift-K_J, #shift-K_K, #shift-K_L, #shift-K_Z, #shift-K_X, #shift-K_C, #shift-K_V, #shift-K_B, #shift-K_N, #shift-K_M, #shift-K_1, #shift-K_2, #shift-K_2, #shift-K_3, #shift-K_4, #shift-K_5, #shift-K_6, #shift-K_6, #shift-K_7, #shift-K_8, #shift-K_9, #shift-K_0, #shift-K_W, #shift-K_W, #shift-K_W, #shift-K_W, #shift-K_W, #shift-K_W, #shift-K_W, #shift-K_W, #shift-K_W, #shift-K_W, #shift-K_W, #shift-K_W, #shift-K_W, #shift-K_BKSP, #shift-K_SHIFT, #shift-K_LOPT, #shift-K_PERIOD, #shift-K_ENTER, #shift-K_COMMA, #shift-K_NUMLOCK, #numeric-K_1, #numeric-K_2, #numeric-K_2, #numeric-K_3, #numeric-K_4, #numeric-K_5, #numeric-K_6, #numeric-K_6, #numeric-K_7, #numeric-K_8, #numeric-K_9, #numeric-K_0, #numeric-K_BKSP, #numeric-K_NUMERIC, #numeric-K_LOPT, #numeric-K_PERIOD, #numeric-K_ENTER, #numeric-K_COMMA, #numeric-K_NUMLOCK, #numeric-K_HYPHEN, #numeric-K_EQUAL, #numeric-K_BKSLASH, #numeric-K_LBRKT, #numeric-K_RBRKT, #numeric-K_SLASH, #shift-U_005E {
    background-color: rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    padding-bottom: 20px;
}

.kmw-keyboard-warang_citi #default-K_SPACE, #shift-K_SPACE {
    color: rgb(51, 51, 51);
}

.kmw-keyboard-warang_citi #default-K_SPACE, #shift-K_SPACE, #numeric-K_SPACE {
    border-color: rgb(51, 51, 51);
    border-block-end-width: 15px;
    background-color: rgb(51, 51, 51);
}

.kmw-keyboard-warang_citi #default-K_Q {
background-color: rgb(51, 51, 51);
border-color: rgb(51, 51, 51);
}



