.kmw-keyboard-warang_citi   /*1234567890-ROW-NORMAL*/

#default-U_0031, #default-U_0031, #default-U_0032, #default-U_0033, #default-U_0034, #default-U_0035, #default-U_0036, #default-U_0036, #default-U_0037, #default-U_0038, #default-U_0039, #default-U_0030,

#default-U_0031, #default-U_0031, #default-U_0032, #default-U_0033, #default-U_0034, #default-U_0035, #default-U_0036, #default-U_0036, #default-U_0037, #default-U_0038, #default-U_0039, #default-U_0030,

#shift-K_1, #shift-K_2, #shift-K_2, #shift-K_3, #shift-K_4, #shift-K_5, #shift-K_6, #shift-K_6, #shift-K_7, #shift-K_8, #shift-K_9,

#wara-numeric-U_0031, #wara-numeric-U_0032, #wara-numeric-U_0033, #wara-numeric-U_0034, #wara-numeric-U_0035, #wara-numeric-U_0036, #wara-numeric-U_0036, #wara-numeric-U_0037, #wara-numeric-U_0038, #wara-numeric-U_0039, #wara-numeric-U_0030,

#wara-lock-U_0031, #wara-lock-U_0032, #wara-lock-U_0033, #wara-lock-U_0034, #wara-lock-U_0035, #wara-lock-U_0036, #wara-lock-U_0036, #wara-lock-U_0037, #wara-lock-U_0038, #wara-lock-U_0039, #wara-lock-U_0030,

#lock-U_0031, #lock-U_0032, #lock-U_0033, #lock-U_0034, #lock-U_0035, #lock-U_0036, #lock-U_0036, #lock-U_0037, #lock-U_0038, #lock-U_0039, #lock-U_0030,

#wara-numeric-U_118E1, #wara-numeric-U_118E1, #wara-numeric-U_118E2, #wara-numeric-U_118E3, #wara-numeric-U_118E4, #wara-numeric-U_118E5, #wara-numeric-U_118E6, #wara-numeric-U_118E7, #wara-numeric-U_118E8, #wara-numeric-U_118E9, #wara-numeric-U_118E0,

#numeric-U_0031, #numeric-U_0032, #numeric-U_0033, #numeric-U_0034, #numeric-U_0035, #numeric-U_0036, #numeric-U_0037, #numeric-U_0038, #numeric-U_0039, #numeric-U_0030 {
    background-color: rgb(51, 51, 51);
    color: white;
    border-color: rgb(51, 51, 51);
    padding-bottom: 42px;
    border-radius: 0px;
}

.kmw-keyboard-warang_citi /* QWERTYUIOP-ROW*/

#default-K_Q, #default-K_Q, #default-K_W, #default-K_E, #default-K_R, #default-K_T, #default-K_Y, #default-K_U, #default-K_I, #default-K_O, #default-K_P,

#wara-shift-K_Q, #wara-shift-K_W, #wara-shift-K_E, #wara-shift-K_R, #wara-shift-K_T, #wara-shift-K_Y, #wara-shift-K_U, #wara-shift-K_I, #wara-shift-K_O, #wara-shift-K_P,

#wara-lock-K_Q, #wara-lock-K_Q, #wara-lock-K_W, #wara-lock-K_E, #wara-lock-K_R, #wara-lock-K_T, #wara-lock-K_Y, #wara-lock-K_U, #wara-lock-K_I, #wara-lock-K_O, #wara-lock-K_P,

#default-U_0071, #default-U_0077, #default-U_0065, #default-U_0072, #default-U_0074, #default-U_0079, #default-U_0075, #default-U_0069, #default-U_006F, #default-U_0070,

#shift-U_0051, #shift-U_0057, #shift-U_0045, #shift-U_0052, #shift-U_0054, #shift-U_0059, #shift-U_0055, #shift-U_0049, #shift-U_004F, #shift-U_0050,

#lock-U_0051, #lock-U_0057, #lock-U_0045, #lock-U_0052, #lock-U_0054, #lock-U_0059, #lock-U_0055, #lock-U_0049, #lock-U_004F, #lock-U_0050,

#wara-numeric-U_0025, #wara-numeric-U_00A9, #wara-numeric-U_00AE, #wara-numeric-U_002A, #wara-numeric-U_007E, #wara-numeric-U_0025, #wara-numeric-U_005C, #wara-numeric-K_EQUAL, #wara-numeric-U_003C, #wara-numeric-U_003E,

#numeric-U_0025, #numeric-U_00A9, #numeric-U_00AE, #numeric-U_002A, #numeric-U_007E, #numeric-U_0025, #numeric-U_005C, #numeric-K_EQUAL, #numeric-U_003C, #numeric-U_003E {
    background-color: rgb(51, 51, 51);
    color: white;
    border-color: rgb(51, 51, 51);
    padding-bottom: 50px;
    border-radius: 0px;
}

.kmw-keyboard-warang_citi /*ASDFGHJKL-ROW*/

#default-K_A, #default-K_A, #default-K_S, #default-K_D, #default-U_118D4, #default-K_G, #default-K_H, #default-K_J, #default-K_K, #default-K_L,

#wara-shift-K_A, #wara-shift-K_S, #wara-shift-K_D, #wara-shift-U_118B4, #wara-shift-K_G, #wara-shift-K_H, #wara-shift-K_J, #wara-shift-K_K, #wara-shift-K_L,

#wara-lock-K_A, #wara-lock-K_S, #wara-lock-K_D, #wara-lock-U_118B4, #wara-lock-K_G, #wara-lock-K_H, #wara-lock-K_J, #wara-lock-K_K, #wara-lock-K_L,

#default-U_0061, #default-U_0073, #default-U_0064, #default-U_0066, #default-U_0067, #default-U_0068, #default-U_006A, #default-U_006B, #default-U_006C,

#shift-U_0041, #shift-U_0053, #shift-U_0044, #shift-U_0046, #shift-U_0047, #shift-U_0048, #shift-U_004A, #shift-U_004B, #shift-U_004C,

#lock-U_0041, #lock-U_0053, #lock-U_0044, #lock-U_0046, #lock-U_0047, #lock-U_0048, #lock-U_004A, #lock-U_004B, #lock-U_004C,

#wara-numeric-U_118FF, #wara-numeric-U_20B9, #wara-numeric-U_0023, #wara-numeric-U_005F, #wara-numeric-U_0026, #wara-numeric-U_002D, #wara-numeric-U_002B, #wara-numeric-U_0028, #wara-numeric-U_0029, #wara-numeric-U_007C,

#numeric-U_118FF, #numeric-U_20B9, #numeric-U_0023, #numeric-U_005F, #numeric-U_0026, #numeric-U_002D, #numeric-U_002B, #numeric-U_0028, #numeric-U_0029, #numeric-U_007C {
    background-color: rgb(51, 51, 51);
    color: white;
    border-color: rgb(51, 51, 51);
    padding-bottom: 46px;
    border-radius: 0px;
}

.kmw-keyboard-warang_citi /*ZXCVBNM-ROW*/

#default-K_SHIFT, #default-K_SHIFT, #default-U_118D5, #default-K_X, #default-U_118CF, #default-K_V, #default-K_B, #default-K_N, #default-K_M, #default-K_BKSP,

#wara-shift-K_SHIFT, #wara-shift-U_118B5, #wara-shift-K_X, #wara-shift-U_118AF, #wara-shift-K_V, #wara-shift-K_B, #wara-shift-K_N, #wara-shift-K_M, #wara-shift-K_BKSP,

#wara-lock-K_F2, #wara-lock-U_118B5, #wara-lock-K_X, #wara-lock-U_118AF, #wara-lock-K_V, #wara-lock-K_B, #wara-lock-K_N, #wara-lock-K_M, #wara-lock-K_BKSP,

#default-K_SHIFT, #default-U_007A, #default-U_0078, #default-U_0063, #default-U_0076, #default-U_0062, #default-U_006E, #default-U_006D, #default-K_BKSP,

#shift-K_SHIFT, #shift-U_005A, #shift-U_0058, #shift-U_0043, #shift-U_0056, #shift-U_0042, #shift-U_004E, #shift-U_004D, #shift-K_BKSP,

#lock-K_SHIFT, #lock-U_005A, #lock-U_0058, #lock-U_0043, #lock-U_0056, #lock-U_0042, #lock-U_004E, #lock-U_004D, #lock-K_BKSP,

#wara-numeric-U_0040, #wara-numeric-U_0022, #wara-numeric-U_0027, #wara-numeric-U_003A, #wara-numeric-U_003B, #wara-numeric-U_002C, #wara-numeric-U_002E, #wara-numeric-U_002F, #wara-numeric-K_BKSP,

#numeric-U_0040, #numeric-U_0022, #numeric-U_0027, #numeric-U_003A, #numeric-U_003B, #numeric-U_002C, #numeric-U_002E, #numeric-U_002F, #numeric-K_BKSP {
    background-color: rgb(51, 51, 51);
    color: white;
    border-color: rgb(51, 51, 51);
    padding-bottom: 42px;
    border-radius: 0px;
}

.kmw-keyboard-warang_citi /*BOTTOM-ROW*/    

#default-K_NUMLOCK, #default-K_NUMLOCK, #default-K_COMMA, #default-K_F13, #default-K_SPACE, #default-K_LOPT, #default-K_PERIOD, #default-K_ENTER,

#wara-shift-K_NUMLOCK, #wara-shift-K_COMMA, #wara-shift-K_F13, #wara-shift-K_SPACE, #wara-shift-K_LOPT, #wara-shift-K_PERIOD, #wara-shift-K_ENTER,

#wara-lock-K_NUMLOCK, #wara-lock-K_COMMA, #wara-lock-K_F13, #wara-lock-K_SPACE, #wara-lock-K_LOPT, #wara-lock-K_PERIOD, #wara-lock-K_ENTER,

#default-K_NUMLOCK, #default-K_COMMA, #default-K_F13, #default-K_SPACE, #default-K_LOPT, #default-K_PERIOD, #default-K_ENTER,

#shift-K_NUMLOCK, #shift-U_002C, #shift-K_F13, #shift-K_SPACE, #shift-K_LOPT, #shift-U_002E, #shift-K_ENTER,

#lock-K_NUMLOCK, #lock-K_COMMA, #lock-K_F13, #lock-K_SPACE, #lock-K_LOPT, #lock-K_PERIOD, #lock-K_ENTER,

#numeric-K_LOWER, #numeric-U_0021, #numeric-K_F13, #numeric-K_SPACE, #numeric-K_LOPT, #numeric-U_003F, #numeric-K_ENTER,

#wara-numeric-K_LOWER, #wara-numeric-U_0021, #wara-numeric-K_F13, #wara-numeric-K_SPACE, #wara-numeric-K_LOPT, #wara-numeric-U_003F, #wara-numeric-K_ENTER {
    background-color: rgb(51, 51, 51);
    color: white;
    border-color: rgb(51, 51, 51);
    padding-bottom: 25px;
    border-radius: 0px;
}

.kmw-keyboard-warang_citi /*SPACE-BAR-CSS*/

#lock-K_SPACE, #numeric-K_SPACE, #shift-K_SPACE /* #wara-numeric-K_SPACE, #wara-lock-K_SPACE, default-K_SPACE, #wara-shift-K_SPACE*/ {
    border: rgb(51, 51, 51);
    border-radius: 15px;
    border-top: 0px;
    background: -webkit-linear-gradient(top, rgb(51, 51, 51) 20%, rgba(0, 0, 0, 0) 20%), -webkit-linear-gradient(top, #aaaaaa 80%, rgb(51, 51, 51) 80%);
    margin-bottom: 9px;
    padding-top: 5px;
}

.kmw-keyboard-warang_citi   /*shift-SYMBOLS-TOP-ROW*/
#wara-shift-U_0021, #wara-shift-U_0021, #wara-shift-U_0040, #wara-shift-U_0023, #wara-shift-U_0024, #wara-shift-U_0025, #wara-shift-U_005E, #wara-shift-U_0026, #wara-shift-U_002A, #wara-shift-U_0028, #wara-shift-U_0029,

#shift-U_0021, #shift-U_0040, #shift-U_0023, #shift-U_0024, #shift-U_0025, #shift-U_005E, #shift-U_0026, #shift-U_002A, #shift-U_0028, #shift-U_0029 {
    background-color: rgb(51, 51, 51);
    color: white;
    border-color: rgb(51, 51, 51);
    padding-bottom: 42px;
    border-radius: 0px;
}


.kmw-keyboard-warang_citi /*NUMLOCK-CSS*/    

#default-K_NUMLOCK, #default-K_NUMLOCK, #shift-K_NUMLOCK, #lock-K_NUMLOCK, #default-K_NUMLOCK, #wara-shift-K_NUMLOCK, #wara-lock-K_NUMLOCK {

    font-size: 16px;
}


