/***
   Cameroon QWERTY CSS
   Copyright 2023 SIL International
***/
 
/*Fix Baseline Height https://github.com/keymanapp/keyboards/issues/1399*/
.kmw-keyboard-sil_cameroon_qwerty .kmw-key span  { line-height: 1;}

 /*CamKey*/
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_CAM'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_CAM'],
.web .kmw-keyboard-sil_cameroon_qwerty #default-K_COLON,
.osk .kmw-keyboard-sil_cameroon_qwerty #default-K_COLON, 
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_COLON {background: #8c4646; color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF; font-weight: bold;} 

/* Active Keys */
.phone.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on,
.tablet.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on, 
.phone.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on, 
.tablet.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on {color: #ffffff;background-color:#88f; font-weight: bold;}
.phone.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on,
.tablet.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on, 
.phone.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on, 
.tablet.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on {color: #220868;background-color:#88f; font-weight: bold;}

/* Green Diacritics on iOS, Default and light. */
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0300'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0304'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0301'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_030C'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0302'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0303'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0308'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0327'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC5'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC6'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC7'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC4'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_030D'],
.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0330'] { background: #598059; background: linear-gradient(#ffffff, #598059); }


 /* Yellow Vowels iOS Light */
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_A'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_E'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_I'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_U'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_O'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_P'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_T'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_F'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_H'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_P'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_T'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_F'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_H'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_P'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_T'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_F'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_H'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id='popup-default-U_0254'] { background: #beac40; background: linear-gradient(#ffffff, #fff09c); }

@media (prefers-color-scheme: dark) {
 /* Green Diacitics iOS Dark */
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0300'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0304'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0301'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_030C'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0302'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0303'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0308'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0327'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC5'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC6'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC7'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC4'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_030D'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0330'] { background: #598059; background: linear-gradient(#3d3d3e, #598059); }

  /* Yellow Vowels iOS Dark */
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_A'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_E'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_I'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_U'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_O'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_P'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_T'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_F'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_H'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_P'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_T'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_F'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_H'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_P'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_T'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_F'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_H'],
  .ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id='popup-default-U_0254'] { background: #978833; background: linear-gradient(#3d3d3e, #beab40a2); }

    /* Active Keys iOS Dark */
  .phone.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on,
  .tablet.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on, 
  .phone.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on, 
  .tablet.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on {color: #220868;background-color:#88f; font-weight: bold;}
}

/* Green Diacritics on Android (Preferred selector) */
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0300'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0304'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0301'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_030C'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0302'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0303'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0308'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0327'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC5'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC6'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC7'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_1DC4'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_030D'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id*='T_0330'] { background: #598059; background: linear-gradient(#7f7f7f, #598059); }

/* Yellow Vowels  Android */
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_A'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_E'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_I'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_U'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='K_O'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_P'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_T'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_F'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-K_H'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_P'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_T'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_F'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-caps-K_H'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_P'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_T'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_F'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id$='rightalt-shift-K_H'],
.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key[id='popup-default-U_0254'] { background: #978833; background: linear-gradient(#7f7f7f, #beab40); }

/* Green Diacritics on web */
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_QUOTE,
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_LBRKT,
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_RBRKT,
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_BKSLASH,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_QUOTE,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_RBRKT,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_LBRKT,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_BKQUOTE,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_C,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_K,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_L,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_J,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_J,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_K,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_L { background: #598059; background: linear-gradient(#ffffff, #598059); }

/* Yellow Vowels on Web */
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_A,
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_E,
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_I,
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_U,
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_O,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_P,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_A,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_E,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_I,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_U,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_O,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_T,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_F,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_H,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_I,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_U,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_O,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_A,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_E,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-caps-K_P,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-caps-K_T,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-caps-K_F,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-caps-K_H,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_P,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_T,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_F,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_H,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_A,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_U,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_I,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_O,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_E { background: #beac40; background: linear-gradient(#ffffff, #beac40); } 


