/***
   Cameroon Qwerty CSS
   Copyright 2017 SIL International
***/

 
.phone.android .kmw-key.kmw-key-deadkey {background: #8c4646; color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;} 
.phone.ios .kmw-key.kmw-key-deadkey {background: #8c4646; color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;}
.tablet.android .kmw-key.kmw-key-deadkey {background: #8c4646; color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;} 
.tablet.ios .kmw-key.kmw-key-deadkey {background: #8c4646; color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;} 
         

/* Common key appearance styles (can override with form-factor styles if necessary) */
.kmw-key-default{color:#000;background-color:#eee;}
.kmw-key-shift{color:#aaa;background-color:#ddd;}     /*color was #88f (blue) */
.kmw-key-shift-on{color:#88f;background-color:#ccf;}
/* .kmw-key-deadkey{color:#0d0;background-color:#eee;}  */
.kmw-key-deadkey{background: #8c4646; color:#0F0; background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;}
.kmw-key-blank{color:#000;background-color:rgba(100,100,100,0.5);}
.kmw-key-hidden{visibility:hidden;}
.kmw-key-touched{background-color:#88f;} 

/* Green Diacritics */
.ios #default-T_0300,
.ios #default-T_0304,
.ios #default-T_0301,
.ios #default-T_030C,
.ios #default-T_0302,
.ios #default-T_0303,
.ios #default-T_0308,
.ios #default-T_0327,
.ios #shift-T_1DC5,
.ios #shift-T_1DC6,
.ios #shift-T_1DC7,
.ios #shift-T_1DC4,
.ios #shift-T_030D,
.ios #shift-T_0330 { background: #598059; background: linear-gradient(#ffffff, #598059); }
.android #default-T_0300,
.android #default-T_0304,
.android #default-T_0301,
.android #default-T_030C,
.android #default-T_0302,
.android #default-T_0303,
.android #default-T_0308,
.android #default-T_0327,
.android #shift-T_1DC5,
.android #shift-T_1DC6,
.android #shift-T_1DC7,
.android #shift-T_1DC4,
.android #shift-T_030D,
.android #shift-T_0330 { background: #598059; background: linear-gradient(#7f7f7f, #598059); }
/* #7f7f7f is 50% Grey, #598059 is 30% Green */

/* Yellow Vowels */
/*
android.kmw-keyboard-sil_cameroon_qwerty #default-K_A,
.android.kmw-keyboard-sil_cameroon_qwerty #default-K_E,
.android.kmw-keyboard-sil_cameroon_qwerty #default-K_I,
.android.kmw-keyboard-sil_cameroon_qwerty #default-K_O, 
.android.kmw-keyboard-sil_cameroon_qwerty #default-K_U,
.android.kmw-keyboard-sil_cameroon_qwerty #shift-K_A,
.android.kmw-keyboard-sil_cameroon_qwerty #shift-K_E,
.android.kmw-keyboard-sil_cameroon_qwerty #shift-K_I,
.android.kmw-keyboard-sil_cameroon_qwerty #shift-K_O,
.android.kmw-keyboard-sil_cameroon_qwerty #shift-K_U,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-nocaps-U_025B,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-nocaps-U_0259,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-nocaps-U_0289,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-nocaps-U_0153,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-nocaps-U_0268,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-nocaps-U_0254,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-nocaps-U_00E6,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-nocaps-U_03B1,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-nocaps-U_0190,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-nocaps-U_018F,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-nocaps-U_0152,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-nocaps-U_0244,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-nocaps-U_0197,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-nocaps-U_0186,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-nocaps-U_00C6,
.android.kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-nocaps-U_2C6D { background: #abab78; background: linear-gradient(#7f7f7f, #abab78); }     
*/
/* #abab78 is 30% of #aaaa00 yellow */
/*
.ios #default-K_A,
.ios #default-K_E,
.ios #default-K_I,
.ios #default-K_O, 
.ios #default-K_U,
.ios #shift-K_A,
.ios #shift-K_E,
.ios #shift-K_I,
.ios #shift-K_O,
.ios #shift-K_U,
.ios #rightalt-nocaps-U_025B,
.ios #rightalt-nocaps-U_0259,
.ios #rightalt-nocaps-U_0289,
.ios #rightalt-nocaps-U_0153,
.ios #rightalt-nocaps-U_0268,
.ios #rightalt-nocaps-U_0254,
.ios #rightalt-nocaps-U_00E6,
.ios #rightalt-nocaps-U_03B1,
.ios #rightalt-shift-nocaps-U_0190,
.ios #rightalt-shift-nocaps-U_018F,
.ios #rightalt-shift-nocaps-U_0152,
.ios #rightalt-shift-nocaps-U_0244,
.ios #rightalt-shift-nocaps-U_0197,
.ios #rightalt-shift-nocaps-U_0186,
.ios #rightalt-shift-nocaps-U_00C6,
.ios #rightalt-shift-nocaps-U_2C6D { background: #abab78; background: linear-gradient(#ffffff, #abab78); } 
*/