/***
   Cameroon QWERTY CSS
   Copyright 2021 SIL International
***/
 
/*Fix Baseline Height https://github.com/keymanapp/keyboards/issues/1399*/
.kmw-keyboard-sil_cameroon_qwerty .kmw-key span,
.kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty .kmw-key span,
.kmw-keyboard-cloud\:\:sil_cameroon_qwerty .kmw-key span  { line-height: 1;}


 /*CamKey*/
.android .kmw-keyboard-sil_cameroon_qwerty #default-T_CAM,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #default-T_CAM,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #default-T_CAM,
.android .kmw-keyboard-sil_cameroon_qwerty #shift-T_CAM,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #shift-T_CAM,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #shift-T_CAM, 
.ios .kmw-keyboard-sil_cameroon_qwerty #default-T_CAM,
.ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_CAM,
.web .kmw-keyboard-sil_cameroon_qwerty #default-K_COLON,
.osk .kmw-keyboard-sil_cameroon_qwerty #default-K_COLON, 
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_COLON {background: #8c4646; color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;} 
        

/* Green Diacritics on web */
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_QUOTE,
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_LBRKT,
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_RBRKT,
.desktop .kmw-keyboard-sil_cameroon_qwerty #default-K_BKSLASH,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_QUOTE,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_RBRKT,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_LBRKT,
.desktop .kmw-keyboard-sil_cameroon_qwerty #shift-K_BKQUOTE,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_C,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_K,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_L,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-K_J,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_J,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_K,
.desktop .kmw-keyboard-sil_cameroon_qwerty #rightalt-shift-K_L { background: #598059; background: linear-gradient(#ffffff, #598059); }

/* Green Diacritics on iOS, Default and light. */
.ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0300,
.ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0304,
.ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0301,
.ios .kmw-keyboard-sil_cameroon_qwerty #default-T_030C,
.ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0302,
.ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0303,
.ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0308,
.ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0327,
.ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC5,
.ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC6,
.ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC7,
.ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC4,
.ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_030D,
.ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_0330 { background: #598059; background: linear-gradient(#ffffff, #598059); }
.phone.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on,
.tablet.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on, 
.phone.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on, 
.tablet.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on {color: #4f11f8;background-color:#88f;}

@media (prefers-color-scheme: dark) {
  .ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0300,
  .ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0304,
  .ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0301,
  .ios .kmw-keyboard-sil_cameroon_qwerty #default-T_030C,
  .ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0302,
  .ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0303,
  .ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0308,
  .ios .kmw-keyboard-sil_cameroon_qwerty #default-T_0327,
  .ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC5,
  .ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC6,
  .ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC7,
  .ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC4,
  .ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_030D,
  .ios .kmw-keyboard-sil_cameroon_qwerty #shift-T_0330 { background: #598059; background: linear-gradient(#3d3d3e, #598059); }
  .phone.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on,
  .tablet.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on, 
  .phone.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on, 
  .tablet.ios .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on{color: #4f11f8;background-color:#88f;}
}


/* Green Diacritics on Android (Preferred selector) */
.android .kmw-keyboard-sil_cameroon_qwerty #default-T_0300,
.android .kmw-keyboard-sil_cameroon_qwerty #default-T_0304,
.android .kmw-keyboard-sil_cameroon_qwerty #default-T_0301,
.android .kmw-keyboard-sil_cameroon_qwerty #default-T_030C,
.android .kmw-keyboard-sil_cameroon_qwerty #default-T_0302,
.android .kmw-keyboard-sil_cameroon_qwerty #default-T_0303,
.android .kmw-keyboard-sil_cameroon_qwerty #default-T_0308,
.android .kmw-keyboard-sil_cameroon_qwerty #default-T_0327,
.android .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC5,
.android .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC6,
.android .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC7,
.android .kmw-keyboard-sil_cameroon_qwerty #shift-T_1DC4,
.android .kmw-keyboard-sil_cameroon_qwerty #shift-T_030D,
.android .kmw-keyboard-sil_cameroon_qwerty #shift-T_0330 { background: #598059; background: linear-gradient(#7f7f7f, #598059); }
.phone.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on,
.tablet.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-special-on, 
.phone.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on, 
.tablet.android .kmw-keyboard-sil_cameroon_qwerty .kmw-key.kmw-key-shift-on {color: #4f11f8; background-color:#88f;}


/* Handle Keyman 10.0-13.0 bug #3910 */
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #default-T_0300,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #default-T_0304,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #default-T_0301,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #default-T_030C,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #default-T_0302,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #default-T_0303,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #default-T_0308,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #default-T_0327,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #shift-T_1DC5,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #shift-T_1DC6,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #shift-T_1DC7,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #shift-T_1DC4,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #shift-T_030D,
.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty #shift-T_0330 { background: #598059; background: linear-gradient(#7f7f7f, #598059); }
.phone.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty .kmw-key.kmw-key-special-on,
.tablet.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty .kmw-key.kmw-key-special-on, 
.phone.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty .kmw-key.kmw-key-shift-on, 
.tablet.android .kmw-keyboard-sil_cameroon_qwerty\:\:sil_cameroon_qwerty .kmw-key.kmw-key-shift-on {color: #4f11f8; background-color:#88f;}

/* Handle Keyman 13.0 Bug #3910 */
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #default-T_0300,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #default-T_0304,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #default-T_0301,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #default-T_030C,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #default-T_0302,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #default-T_0303,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #default-T_0308,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #default-T_0327,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #shift-T_1DC5,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #shift-T_1DC6,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #shift-T_1DC7,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #shift-T_1DC4,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #shift-T_030D,
.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty #shift-T_0330 { background: #598059; background: linear-gradient(#7f7f7f, #598059); }
.phone.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty .kmw-key.kmw-key-special-on,
.tablet.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty .kmw-key.kmw-key-special-on, 
.phone.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty .kmw-key.kmw-key-shift-on, 
.tablet.android .kmw-keyboard-cloud\:\:sil_cameroon_qwerty .kmw-key.kmw-key-shift-on {color: #4f11f8; background-color:#88f;}
