body {
    margin: 0;
    font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #CDE6FF;
}
h1 {
    color: #003B72;
    margin: 0 0 5px 10px;
    font-weight: normal;
}
h2 {
    margin: 25px 0 25px -15px;
    background-color: #003B72;
    color: #CDE6FF;
    padding: 0.5em 0em 0.6em 0.9em;
    font-weight: normal;
}
#wrap {
    padding-left: 15px;
}
#logo {
    width: 120px;
    margin: 28px 0px 0 10px;
    float: left;
}
.header {
    background-color: #003B72;
    height: 60px;
    margin: 0 0 20px 0;
}
.header-title {
    color: #CDE6FF;
    display: inline-block;
    margin: 14px 0 0 -10px;
    font-size: 1.4em;
}
td {
    padding: 0 2px; text-align: center;
}
.footer {
    background-color: #003B72;
    height: 40px;
    color: #CDE6FF;
    margin: 30px 0 0 -15px;
    padding: 17px 0 0 15px
}
