.phone div.kmw-key.kmw-key-default[id$='T_E']
  { background: #e2f0cb ; color: black; }
 .phone div.kmw-key.kmw-key-default[id$='T_I']
  { background: #ffffb5 ; color: black; }
 .phone div.kmw-key.kmw-key-default[id$='T_O']
  { background: #fea3aa ; color: black; }
 .phone div.kmw-key.kmw-key-default[id$='T_U']
  { background: #ccf1ff ; color: black; }
  
