/* Common key appearance styles (can override with form-factor styles if necessary) */
.kmw-key-default {
  font-weight: bold;
}
.kmw-key-shift {
  font-weight: bold;
} 
.kmw-key-shift-on {
  font-weight: bold;
}

/*unused keys dimmed*/
.kmw-key-blank {color:#000;background-color:rgba(83, 83, 83, 0.466);}
.phone.android .kmw-key-blank {color:#000;background-color:rgba(83, 83, 83, 0.466);}
.phone.ios .kmw-key-blank {color:#000;background-color:rgba(83, 83, 83, 0.466);}
.tablet.android .kmw-key-blank {color:#000;background-color:rgba(83, 83, 83, 0.466);}
.tablet.ios .kmw-key-blank {color:#000;background-color:rgba(83, 83, 83, 0.466);}
