/*red keys on desktop layout*/
/***********************
To do after the desktop layout is finalized
.desktop .kmw-keyboard-thai_qwerty #shift-K_A,
.desktop .kmw-keyboard-thai_qwerty #shift-K_A { background: #ff0000; }  
*/

/*red keys on touch layout*/
div#popup-default-U_0E1C,
div#default-K_S,
div#popup-default-U_0E28,
div#popup-default-U_0E29,
div#popup-default-U_0E1D,
div#default-K_H,
div#popup-default-U_0E09,
div#popup-default-U_0E02,
div#popup-default-U_0E03,
div#popup-default-U_0E16,
div#popup-default-U_0E10 { background: #ff0000; }



/*green keys on desktop layout*/
/***********************
To do after the desktop layout is finalized
.desktop .kmw-keyboard-thai_qwerty #default-K_Q,
.desktop .kmw-keyboard-thai_qwerty #default-K_A { background: #008000; }
*/

/*green keys on touch layout*/
div#default-K_T,
div#popup-default-U_0E0F,
div#default-K_O,
div#default-K_P,
div#default-K_D,
div#popup-default-U_0E0E,
div#default-K_G,
div#default-K_C,
div#default-K_B { background: #008000; }

/*blue keys on touch layout*/
div#default-K_Q,
div#popup-default-U_0E20,
div#default-K_W,
div#default-K_R,
div#default-K_Y,
div#popup-default-U_0E0D { background: #0000ff; }
