/*red keys on desktop layout*/
/***********************
To do after the desktop layout is finalized
.desktop .kmw-keyboard-thai_qwerty #shift-K_A,
.desktop .kmw-keyboard-thai_qwerty #shift-K_A { background: #ff0000; }  
*/

/*red keys on touch layout*/
div#popup-default-U_0E1C,
div#default-K_S,
div#popup-default-U_0E28,
div#popup-default-U_0E29,
div#popup-default-U_0E1D,
div#default-K_H,
div#popup-default-U_0E09,
div#popup-default-U_0E02,
div#popup-default-U_0E03,
div#popup-default-U_0E16,
div#popup-default-U_0E10,
div#shift-K_Q,
div#shift-U_0E03,
{ background: #bf4040; }



/*green keys on desktop layout*/
/***********************
To do after the desktop layout is finalized
.desktop .kmw-keyboard-thai_qwerty #default-K_Q,
.desktop .kmw-keyboard-thai_qwerty #default-K_A { background: #008000; }
*/

/*green keys on touch layout*/
div#default-K_T,
div#popup-default-U_0E0F,
div#default-K_O,
div#default-K_P,
div#default-K_D,
div#popup-default-U_0E0E,
div#default-K_G,
div#default-K_C,
div#default-K_B,
{ background: #40bf6a; }

/*blue keys on touch layout*/
div#default-K_Q,
div#popup-default-U_0E20,
div#default-K_W,
div#default-K_R,
div#default-K_Y,
div#popup-default-U_0E0D,
div#popup-default-U_0E0B,
div#popup-default-U_0E11,
div#default-K_F,
div#popup-default-U_0E2E,
div#default-K_J,
div#popup-default-U_0E0C,
div#default-K_K,
div#popup-default-U_0E03,
div#popup-default-U_0E05,
div#default-K_L,
div#popup-default-U_0E2C,
div#default-K_Z,
div#popup-default-U_0E18,
div#popup-default-U_0E12,
div#popup-default-U_0E11,
div#default-K_N,
div#popup-default-U_0E13,
div#popup-default-U_0E07,
div#default-K_M,
div#shift-K_Y,
div#shift-K_RBRKT,
div#shift-U_0E05,
{ background: #4040bf; }
