/*red keys on desktop layout*/
.desktop .kmw-keyboard-thai_qwerty #shift-K_S,
.desktop .kmw-keyboard-thai_qwerty #shift-K_F,
.desktop .kmw-keyboard-thai_qwerty #shift-K_K,
.desktop .kmw-keyboard-thai_qwerty #shift-K_LBRKT, 
.desktop .kmw-keyboard-thai_qwerty #shift-K_S,
.desktop .kmw-keyboard-thai_qwerty #rightalt-K_S,
.desktop .kmw-keyboard-thai_qwerty #rightalt-K_J,
.desktop .kmw-keyboard-thai_qwerty #rightalt-K_Z,
.desktop .kmw-keyboard-thai_qwerty #rightalt-K_X

{ background: #bf4040; }

/*green keys on desktop layout*/
.desktop .kmw-keyboard-thai_qwerty #shift-K_T,
.desktop .kmw-keyboard-thai_qwerty #shift-K_P,
.desktop .kmw-keyboard-thai_qwerty #shift-K_D,
.desktop .kmw-keyboard-thai_qwerty #shift-K_J,
.desktop .kmw-keyboard-thai_qwerty #shift-K_C,
.desktop .kmw-keyboard-thai_qwerty #shift-K_T
{ background: #40bf6a; }

/*blue keys on desktop layout - shift*/
.desktop .kmw-keyboard-thai_qwerty #shift-K_RBRKT,
.desktop .kmw-keyboard-thai_qwerty #shift-K_H,
.desktop .kmw-keyboard-thai_qwerty #shift-K_L,
.desktop .kmw-keyboard-thai_qwerty #shift-K_Z,
.desktop .kmw-keyboard-thai_qwerty #shift-K_N,
.desktop .kmw-keyboard-thai_qwerty #rightalt-K_Q,
.desktop .kmw-keyboard-thai_qwerty #rightalt-K_LBRKT,
.desktop .kmw-keyboard-thai_qwerty #rightalt-K_A,
.desktop .kmw-keyboard-thai_qwerty #rightalt-K_H,
.desktop .kmw-keyboard-thai_qwerty #rightalt-K_K,
.desktop .kmw-keyboard-thai_qwerty #rightalt-K_C,
.desktop .kmw-keyboard-thai_qwerty #rightalt-K_V
{ background: #4040bf; }

/**********************************************************************************************/

/*red keys on touch layout*/
div#popup-default-U_0E1C,
div#default-K_S,
div#popup-default-U_0E28,
div#popup-default-U_0E29,
div#popup-default-U_0E1D,
div#default-K_H,
div#popup-default-U_0E09,
div#popup-default-U_0E02,
div#popup-default-U_0E16,
div#popup-default-U_0E10,
div#shift-K_Q, /*for the desktop layout*/
div#numeric-U_0E03,
div#popup-default-U_0E05
{ background: #bf4040; }

/*green keys on touch layout*/
div#default-K_T,
div#popup-default-U_0E0F,
div#default-K_P,
div#default-K_D,
div#popup-default-U_0E0E,
div#default-K_G,
div#default-K_J,
div#default-K_C,
div#default-K_B
{ background: hsl(140, 47%, 45%); }

/*blue keys on touch layout*/
div#default-K_Q,
div#default-K_W,
div#default-K_R,
div#default-K_Y,
div#popup-default-U_0E0D,
div#popup-default-U_0E0B,
div#popup-default-U_0E11,
div#default-K_F,
div#popup-default-U_0E2E,
div#popup-default-U_0E0C,
div#default-K_K,
div#popup-default-U_0E03,
div#popup-default-U_0E06,
div#default-K_L,
div#popup-default-U_0E2C,
div#default-K_Z,
div#popup-default-U_0E18,
div#popup-default-U_0E12,
div#popup-default-U_0E11,
div#default-K_N,
div#popup-default-U_0E13,
div#default-K_M,
div#shift-K_Y, /*for desktop layout*/
div#default-K_LBRKT,
div#popup-default-U_0E20,
div#default-K_RBRKT,
div#popup-numeric-U_0E05
{ background: #4040bf; }

/*green keys on desktop layout DO WE STILL NEED THIS?*/
/***********************
To do after the desktop layout is finalized
.desktop .kmw-keyboard-thai_qwerty #default-K_Q,
.desktop .kmw-keyboard-thai_qwerty #default-K_A { background: #008000; }
*/
