* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;	
    background-color: #F0E5D3;
    color: black;
    width: 100%;
    font-family: "Calibri Light";
    font-size: 1.25em;
}

h1 {
    font-weight: normal;
    font-size: 36px;
    color: #987B4A;
    margin: 30px 0 12px 0;
}

h2 {
    font-weight: normal;
    font-size: 28px;
    color: #987B4A;
    margin-top: 35px;
}

a {
    color: #846a40 !important;
    text-decoration: none;
}

#divWrap {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

#divHeader, #divFooter {
    height: 52px;
    line-height: 52px;
    min-width: 280px;
    color: #987B4A;
    background-color: #CFBAA4;
    padding-left: 15px;
}

#divHeader {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr;
}

#divHeaderTitle {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #846a40;
    margin-top: -3px;    
}

#divFlag {
    margin: 8px 0 0 17px;
}

#imgFlag {
    height: 34px;
    opacity: 0.7;
}

#divContent {
    padding-left: 15px;
    padding-bottom: 20px;
}

#divKeyboards {
    display: inline-grid;
    grid-gap: 18px 20px;
}

#divFooter {
    letter-spacing: 0.5px;
}

.rules {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 20px;
    align-items: start;
    justify-content: start;
}

.macro {
    font-size: 32px;
    color: #fcf1e0;
}

.boxes {
    display: grid;
    grid-row-gap: 18px;
}

.box {
    display: grid;
    grid-column-gap: 8px;
    justify-content: start;
    padding: 11px 20px 12px 19px;
    background-color: #FDFDDF;
    border-radius: 5px;
    border: 1px solid #CFBAA4;
    box-shadow: 3px 3px 3px #aaa;
}

.box-3 {
    grid-template-columns: repeat(3, auto);
}

.box-5 {
    grid-template-columns: repeat(5, auto);
}

.special-char {
    color: #ca4606;    
}

.keyboard {
    border-radius: 0.2em;
    box-shadow: 5px 5px 5px #777;
    height: 180px;
}

.key {
    height: 26px;
    margin-bottom: -6px;
    border-radius: 0.2em;
}