/*
 * Pastel colors for GFF Keyboards
 * Primarily from: https://www.behance.net/gallery/125405749/Top-10-trending-pastel-color-palettes-in-2021
 */

/* modifier keys */
.kmw-keyboard-gff_amharic #ሀ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ለ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ሐ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #መ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ሠ-T_ግዕዝ,
.kmw-keyboard-non_amharic #ሠ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ረ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ሰ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ሸ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ቀ-T_ግዕዝ,
.kmw-keyboard-gff_non_amharic #ቐ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #በ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ቨ-T_ግዕዝ,
.kmw-keyboard-gff_non_amharic #ቨ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ተ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ቸ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ኀ-T_ግዕዝ,
.kmw-keyboard-gff_non_amharic #ኀ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ነ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ኘ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #አ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ከ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ኸ-T_ግዕዝ,
.kmw-keyboard-gff_non_amharic #ኸ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ወ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ዐ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ዘ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ዠ-T_ግዕዝ,
.kmw-keyboard-gff_non_amharic #ዠ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #የ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ደ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ጀ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ገ-T_ግዕዝ,
.kmw-keyboard-gff_non_amharic #ⷘ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ጠ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ጨ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ጰ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ጸ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ፀ-T_ግዕዝ,
.kmw-keyboard-gff_non_amharic #ፀ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ፈ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ፐ-T_ግዕዝ,
.kmw-keyboard-gff_non_amharic #ፐ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #default-T_ግዕዝ,
.kmw-keyboard-gff_amharic #non-amharic-T_ግዕዝ
{ background: #e2f0cb ; color: black ; }

.kmw-keyboard-gff_amharic #ሀ-K_U,
.kmw-keyboard-gff_amharic #ለ-K_U,
.kmw-keyboard-gff_amharic #ሐ-K_U,
.kmw-keyboard-gff_amharic #መ-K_U,
.kmw-keyboard-gff_amharic #ሠ-K_U,
.kmw-keyboard-non_amharic #ሠ-K_U,
.kmw-keyboard-gff_amharic #ረ-K_U,
.kmw-keyboard-gff_amharic #ሰ-K_U,
.kmw-keyboard-gff_amharic #ሸ-K_U,
.kmw-keyboard-gff_amharic #ቀ-K_U,
.kmw-keyboard-gff_non_amharic #ቐ-K_U,
.kmw-keyboard-gff_amharic #በ-K_U,
.kmw-keyboard-gff_amharic #ቨ-K_U,
.kmw-keyboard-gff_non_amharic #ቨ-K_U,
.kmw-keyboard-gff_amharic #ተ-K_U,
.kmw-keyboard-gff_amharic #ቸ-K_U,
.kmw-keyboard-gff_amharic #ኀ-K_U,
.kmw-keyboard-gff_non_amharic #ኀ-K_U,
.kmw-keyboard-gff_amharic #ነ-K_U,
.kmw-keyboard-gff_amharic #ኘ-K_U,
.kmw-keyboard-gff_amharic #አ-K_U,
.kmw-keyboard-gff_amharic #ከ-K_U,
.kmw-keyboard-gff_amharic #ኸ-K_U,
.kmw-keyboard-gff_non_amharic #ኸ-K_U,
.kmw-keyboard-gff_amharic #ወ-K_U,
.kmw-keyboard-gff_amharic #ዐ-K_U,
.kmw-keyboard-gff_amharic #ዘ-K_U,
.kmw-keyboard-gff_amharic #ዠ-K_U,
.kmw-keyboard-gff_non_amharic #ዠ-K_U,
.kmw-keyboard-gff_amharic #የ-K_U,
.kmw-keyboard-gff_amharic #ደ-K_U,
.kmw-keyboard-gff_amharic #ጀ-K_U,
.kmw-keyboard-gff_amharic #ገ-K_U,
.kmw-keyboard-gff_non_amharic #ⷘ-K_U,
.kmw-keyboard-gff_amharic #ጠ-K_U,
.kmw-keyboard-gff_amharic #ጨ-K_U,
.kmw-keyboard-gff_amharic #ጰ-K_U,
.kmw-keyboard-gff_amharic #ጸ-K_U,
.kmw-keyboard-gff_amharic #ፀ-K_U,
.kmw-keyboard-gff_non_amharic #ፀ-K_U,
.kmw-keyboard-gff_amharic #ፈ-K_U,
.kmw-keyboard-gff_amharic #ፐ-K_U,
.kmw-keyboard-gff_non_amharic #ፐ-K_U,
.kmw-keyboard-gff_amharic #default-K_U,
.kmw-keyboard-gff_amharic #non-amharic-K_U
  { background: #ffffb5 ; color: black ; }

.kmw-keyboard-gff_amharic #ሀ-K_I,
.kmw-keyboard-gff_amharic #ለ-K_I,
.kmw-keyboard-gff_amharic #ሐ-K_I,
.kmw-keyboard-gff_amharic #መ-K_I,
.kmw-keyboard-gff_amharic #ሠ-K_I,
.kmw-keyboard-non_amharic #ሠ-K_I,
.kmw-keyboard-gff_amharic #ረ-K_I,
.kmw-keyboard-gff_amharic #ሰ-K_I,
.kmw-keyboard-gff_amharic #ሸ-K_I,
.kmw-keyboard-gff_amharic #ቀ-K_I,
.kmw-keyboard-gff_non_amharic #ቐ-K_I,
.kmw-keyboard-gff_amharic #በ-K_I,
.kmw-keyboard-gff_amharic #ቨ-K_I,
.kmw-keyboard-gff_non_amharic #ቨ-K_I,
.kmw-keyboard-gff_amharic #ተ-K_I,
.kmw-keyboard-gff_amharic #ቸ-K_I,
.kmw-keyboard-gff_amharic #ኀ-K_I,
.kmw-keyboard-gff_non_amharic #ኀ-K_I,
.kmw-keyboard-gff_amharic #ነ-K_I,
.kmw-keyboard-gff_amharic #ኘ-K_I,
.kmw-keyboard-gff_amharic #አ-K_I,
.kmw-keyboard-gff_amharic #ከ-K_I,
.kmw-keyboard-gff_amharic #ኸ-K_I,
.kmw-keyboard-gff_non_amharic #ኸ-K_I,
.kmw-keyboard-gff_amharic #ወ-K_I,
.kmw-keyboard-gff_amharic #ዐ-K_I,
.kmw-keyboard-gff_amharic #ዘ-K_I,
.kmw-keyboard-gff_amharic #ዠ-K_I,
.kmw-keyboard-gff_non_amharic #ዠ-K_I,
.kmw-keyboard-gff_amharic #የ-K_I,
.kmw-keyboard-gff_amharic #ደ-K_I,
.kmw-keyboard-gff_amharic #ጀ-K_I,
.kmw-keyboard-gff_amharic #ገ-K_I,
.kmw-keyboard-gff_non_amharic #ⷘ-K_I,
.kmw-keyboard-gff_amharic #ጠ-K_I,
.kmw-keyboard-gff_amharic #ጨ-K_I,
.kmw-keyboard-gff_amharic #ጰ-K_I,
.kmw-keyboard-gff_amharic #ጸ-K_I,
.kmw-keyboard-gff_amharic #ፀ-K_I,
.kmw-keyboard-gff_non_amharic #ፀ-K_I,
.kmw-keyboard-gff_amharic #ፈ-K_I,
.kmw-keyboard-gff_amharic #ፐ-K_I,
.kmw-keyboard-gff_non_amharic #ፐ-K_I,
.kmw-keyboard-gff_amharic #default-K_I,
.kmw-keyboard-gff_amharic #non-amharic-K_I 
  { background: #fea3aa ; color: black ; }

.kmw-keyboard-gff_amharic #ሀ-K_A,
.kmw-keyboard-gff_amharic #ለ-K_A,
.kmw-keyboard-gff_amharic #ሐ-K_A,
.kmw-keyboard-gff_amharic #መ-K_A,
.kmw-keyboard-gff_amharic #ሠ-K_A,
.kmw-keyboard-non_amharic #ሠ-K_A,
.kmw-keyboard-gff_amharic #ረ-K_A,
.kmw-keyboard-gff_amharic #ሰ-K_A,
.kmw-keyboard-gff_amharic #ሸ-K_A,
.kmw-keyboard-gff_amharic #ቀ-K_A,
.kmw-keyboard-gff_non_amharic #ቐ-K_A,
.kmw-keyboard-gff_amharic #በ-K_A,
.kmw-keyboard-gff_amharic #ቨ-K_A,
.kmw-keyboard-gff_non_amharic #ቨ-K_A,
.kmw-keyboard-gff_amharic #ተ-K_A,
.kmw-keyboard-gff_amharic #ቸ-K_A,
.kmw-keyboard-gff_amharic #ኀ-K_A,
.kmw-keyboard-gff_non_amharic #ኀ-K_A,
.kmw-keyboard-gff_amharic #ነ-K_A,
.kmw-keyboard-gff_amharic #ኘ-K_A,
.kmw-keyboard-gff_amharic #አ-K_A,
.kmw-keyboard-gff_amharic #ከ-K_A,
.kmw-keyboard-gff_amharic #ኸ-K_A,
.kmw-keyboard-gff_non_amharic #ኸ-K_A,
.kmw-keyboard-gff_amharic #ወ-K_A,
.kmw-keyboard-gff_amharic #ዐ-K_A,
.kmw-keyboard-gff_amharic #ዘ-K_A,
.kmw-keyboard-gff_amharic #ዠ-K_A,
.kmw-keyboard-gff_non_amharic #ዠ-K_A,
.kmw-keyboard-gff_amharic #የ-K_A,
.kmw-keyboard-gff_amharic #ደ-K_A,
.kmw-keyboard-gff_amharic #ጀ-K_A,
.kmw-keyboard-gff_amharic #ገ-K_A,
.kmw-keyboard-gff_non_amharic #ⷘ-K_A,
.kmw-keyboard-gff_amharic #ጠ-K_A,
.kmw-keyboard-gff_amharic #ጨ-K_A,
.kmw-keyboard-gff_amharic #ጰ-K_A,
.kmw-keyboard-gff_amharic #ጸ-K_A,
.kmw-keyboard-gff_amharic #ፀ-K_A,
.kmw-keyboard-gff_non_amharic #ፀ-K_A,
.kmw-keyboard-gff_amharic #ፈ-K_A,
.kmw-keyboard-gff_amharic #ፐ-K_A,
.kmw-keyboard-gff_non_amharic #ፐ-K_A,
.kmw-keyboard-gff_amharic #default-K_A,
.kmw-keyboard-gff_amharic #non-amharic-K_A
  { background: #ccf1ff ; color: black ; }

.kmw-keyboard-gff_amharic #ሀ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ለ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ሐ-T_ኃምስ,
.kmw-keyboard-gff_amharic #መ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ሠ-T_ኃምስ,
.kmw-keyboard-non_amharic #ሠ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ረ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ሰ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ሸ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ቀ-T_ኃምስ,
.kmw-keyboard-gff_non_amharic #ቐ-T_ኃምስ,
.kmw-keyboard-gff_amharic #በ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ቨ-T_ኃምስ,
.kmw-keyboard-gff_non_amharic #ቨ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ተ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ቸ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ኀ-T_ኃምስ,
.kmw-keyboard-gff_non_amharic #ኀ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ነ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ኘ-T_ኃምስ,
.kmw-keyboard-gff_amharic #አ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ከ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ኸ-T_ኃምስ,
.kmw-keyboard-gff_non_amharic #ኸ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ወ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ዐ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ዘ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ዠ-T_ኃምስ,
.kmw-keyboard-gff_non_amharic #ዠ-T_ኃምስ,
.kmw-keyboard-gff_amharic #የ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ደ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ጀ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ገ-T_ኃምስ,
.kmw-keyboard-gff_non_amharic #ⷘ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ጠ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ጨ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ጰ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ጸ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ፀ-T_ኃምስ,
.kmw-keyboard-gff_non_amharic #ፀ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ፈ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ፐ-T_ኃምስ,
.kmw-keyboard-gff_non_amharic #ፐ-T_ኃምስ,
.kmw-keyboard-gff_amharic #default-T_ኃምስ,
.kmw-keyboard-gff_amharic #non-amharic-T_ኃምስ
  { background: #e0d7ff ; color: black ; }

.kmw-keyboard-gff_amharic #ሀ-K_O,
.kmw-keyboard-gff_amharic #ለ-K_O,
.kmw-keyboard-gff_amharic #ሐ-K_O,
.kmw-keyboard-gff_amharic #መ-K_O,
.kmw-keyboard-gff_amharic #ሠ-K_O,
.kmw-keyboard-non_amharic #ሠ-K_O,
.kmw-keyboard-gff_amharic #ረ-K_O,
.kmw-keyboard-gff_amharic #ሰ-K_O,
.kmw-keyboard-gff_amharic #ሸ-K_O,
.kmw-keyboard-gff_amharic #ቀ-K_O,
.kmw-keyboard-gff_non_amharic #ቐ-K_O,
.kmw-keyboard-gff_amharic #በ-K_O,
.kmw-keyboard-gff_amharic #ቨ-K_O,
.kmw-keyboard-gff_non_amharic #ቨ-K_O,
.kmw-keyboard-gff_amharic #ተ-K_O,
.kmw-keyboard-gff_amharic #ቸ-K_O,
.kmw-keyboard-gff_amharic #ኀ-K_O,
.kmw-keyboard-gff_non_amharic #ኀ-K_O,
.kmw-keyboard-gff_amharic #ነ-K_O,
.kmw-keyboard-gff_amharic #ኘ-K_O,
.kmw-keyboard-gff_amharic #አ-K_O,
.kmw-keyboard-gff_amharic #ከ-K_O,
.kmw-keyboard-gff_amharic #ኸ-K_O,
.kmw-keyboard-gff_non_amharic #ኸ-K_O,
.kmw-keyboard-gff_amharic #ወ-K_O,
.kmw-keyboard-gff_amharic #ዐ-K_O,
.kmw-keyboard-gff_amharic #ዘ-K_O,
.kmw-keyboard-gff_amharic #ዠ-K_O,
.kmw-keyboard-gff_non_amharic #ዠ-K_O,
.kmw-keyboard-gff_amharic #የ-K_O,
.kmw-keyboard-gff_amharic #ደ-K_O,
.kmw-keyboard-gff_amharic #ጀ-K_O,
.kmw-keyboard-gff_amharic #ገ-K_O,
.kmw-keyboard-gff_non_amharic #ⷘ-K_O,
.kmw-keyboard-gff_amharic #ጠ-K_O,
.kmw-keyboard-gff_amharic #ጨ-K_O,
.kmw-keyboard-gff_amharic #ጰ-K_O,
.kmw-keyboard-gff_amharic #ጸ-K_O,
.kmw-keyboard-gff_amharic #ፀ-K_O,
.kmw-keyboard-gff_non_amharic #ፀ-K_O,
.kmw-keyboard-gff_amharic #ፈ-K_O,
.kmw-keyboard-gff_amharic #ፐ-K_O,
.kmw-keyboard-gff_non_amharic #ፐ-K_O,
.kmw-keyboard-gff_amharic #default-K_O,
.kmw-keyboard-gff_amharic #non-amharic-K_O
  { background: #fad6b6 ; color: black ; }


/*
  * unfortunately, a selector like the following does not work, but probably should, thus the need for stating each layer

   div[id*='U_1200']

*/
