/* ጸ layer ግዕዝ */
div#popup-ጸ-U_1200, /* ሀ */
div#popup-ጸ-U_1208, /* ለ */
div#popup-ጸ-U_1210, /* ሐ */
div#popup-ጸ-U_1218, /* መ */
div#popup-ጸ-U_1220, /* ሠ */
div#popup-ጸ-U_1228, /* ረ */
div#popup-ጸ-U_1230, /* ሰ */
div#popup-ጸ-U_1238, /* ሸ */
div#popup-ጸ-U_1240, /* ቀ */
div#popup-ጸ-U_1260, /* በ */
div#popup-ጸ-U_1268, /* ቨ */
div#popup-ጸ-U_1270, /* ተ */
div#popup-ጸ-U_1278, /* ቸ */
div#popup-ጸ-U_1280, /* ኀ */
div#popup-ጸ-U_1290, /* ነ */
div#popup-ጸ-U_1298, /* ኘ */
div#popup-ጸ-U_12A0, /* አ */
div#popup-ጸ-U_12A8, /* ከ */
div#popup-ጸ-U_12B8, /* ኸ */
div#popup-ጸ-U_12C8, /* ወ */
div#popup-ጸ-U_12D0, /* ዐ */
div#popup-ጸ-U_12D8, /* ዘ */
div#popup-ጸ-U_12E0, /* ዠ */
div#popup-ጸ-U_12E8, /* የ */
div#popup-ጸ-U_12F0, /* ደ */
div#popup-ጸ-U_12F8, /* ዸ */
div#popup-ጸ-U_1300, /* ጀ */
div#popup-ጸ-U_1308, /* ገ */
div#popup-ጸ-U_1318, /* ጘ */
div#popup-ጸ-U_1320, /* ጠ */
div#popup-ጸ-U_1328, /* ጨ */
div#popup-ጸ-U_1330, /* ጰ */
div#popup-ጸ-U_1338, /* ጸ */
div#popup-ጸ-U_1340, /* ፀ */
div#popup-ጸ-U_1348, /* ፈ */
div#popup-ጸ-U_1350  /* ፐ */
  { background: #e2f0cb ; color: black ; } /*#baed91 */

/* ጸ layer ካዕብ */
div#popup-ጸ-U_1201, /* ሁ */
div#popup-ጸ-U_1209, /* ሉ */
div#popup-ጸ-U_1211, /* ሑ */
div#popup-ጸ-U_1219, /* ሙ */
div#popup-ጸ-U_1221, /* ሡ */
div#popup-ጸ-U_1229, /* ሩ */
div#popup-ጸ-U_1231, /* ሱ */
div#popup-ጸ-U_1239, /* ሹ */
div#popup-ጸ-U_1241, /* ቁ */
div#popup-ጸ-U_1251, /* ቑ */
div#popup-ጸ-U_1261, /* ቡ */
div#popup-ጸ-U_1269, /* ቩ */
div#popup-ጸ-U_1271, /* ቱ */
div#popup-ጸ-U_1279, /* ቹ */
div#popup-ጸ-U_1281, /* ኁ */
div#popup-ጸ-U_1291, /* ኑ */
div#popup-ጸ-U_1299, /* ኙ */
div#popup-ጸ-U_12A1, /* ኡ */
div#popup-ጸ-U_12A9, /* ኩ */
div#popup-ጸ-U_12B9, /* ኹ */
div#popup-ጸ-U_12C9, /* ዉ */
div#popup-ጸ-U_12D1, /* ዑ */
div#popup-ጸ-U_12D9, /* ዙ */
div#popup-ጸ-U_12E1, /* ዡ */
div#popup-ጸ-U_12E9, /* ዩ */
div#popup-ጸ-U_12F1, /* ዱ */
div#popup-ጸ-U_12F9, /* ዹ */
div#popup-ጸ-U_1301, /* ጁ */
div#popup-ጸ-U_1309, /* ጉ */
div#popup-ጸ-U_1319, /* ጙ */
div#popup-ጸ-U_1321, /* ጡ */
div#popup-ጸ-U_1329, /* ጩ */
div#popup-ጸ-U_1331, /* ጱ */
div#popup-ጸ-U_1339, /* ጹ */
div#popup-ጸ-U_1341, /* ፁ */
div#popup-ጸ-U_1349, /* ፉ */
div#popup-ጸ-U_1351   /* ፑ */
  { background: #ffffb5 ; color: black ; } /* #faf884 */ 

/* ጸ layer ሣልስ */
div#popup-ጸ-U_1202, /* ሂ */
div#popup-ጸ-U_120A, /* ሊ */
div#popup-ጸ-U_1212, /* ሒ */
div#popup-ጸ-U_121A, /* ሚ */
div#popup-ጸ-U_1222, /* ሢ */
div#popup-ጸ-U_122A, /* ሪ */
div#popup-ጸ-U_1232, /* ሲ */
div#popup-ጸ-U_123A, /* ሺ */
div#popup-ጸ-U_1242, /* ቂ */
div#popup-ጸ-U_1252, /* ቒ */
div#popup-ጸ-U_1262, /* ቢ */
div#popup-ጸ-U_126A, /* ቪ */
div#popup-ጸ-U_1272, /* ቲ */
div#popup-ጸ-U_127A, /* ቺ */
div#popup-ጸ-U_1282, /* ኂ */
div#popup-ጸ-U_1292, /* ኒ */
div#popup-ጸ-U_129A, /* ኚ */
div#popup-ጸ-U_12A2, /* ኢ */
div#popup-ጸ-U_12AA, /* ኪ */
div#popup-ጸ-U_12BA, /* ኺ */
div#popup-ጸ-U_12CA, /* ዊ */
div#popup-ጸ-U_12D2, /* ዒ */
div#popup-ጸ-U_12DA, /* ዚ */
div#popup-ጸ-U_12E2, /* ዢ */
div#popup-ጸ-U_12EA, /* ዪ */
div#popup-ጸ-U_12F2, /* ዲ */
div#popup-ጸ-U_12FA, /* ዺ */
div#popup-ጸ-U_1302, /* ጂ */
div#popup-ጸ-U_130A, /* ጊ */
div#popup-ጸ-U_131A, /* ጚ */
div#popup-ጸ-U_1322, /* ጢ */
div#popup-ጸ-U_132A, /* ጪ */
div#popup-ጸ-U_1332, /* ጲ */
div#popup-ጸ-U_133A, /* ጺ */
div#popup-ጸ-U_1342, /* ፂ */
div#popup-ጸ-U_134A, /* ፊ */
div#popup-ጸ-U_1352  /* ፒ */
  { background: #fea3aa ; color: black ; }

/* ጸ layer ራብዕ */
div#popup-ጸ-U_1203, /* ሃ */
div#popup-ጸ-U_120B, /* ላ */
div#popup-ጸ-U_1213, /* ሓ */
div#popup-ጸ-U_121B, /* ማ */
div#popup-ጸ-U_1223, /* ሣ */
div#popup-ጸ-U_122B, /* ራ */
div#popup-ጸ-U_1233, /* ሳ */
div#popup-ጸ-U_123B, /* ሻ */
div#popup-ጸ-U_1243, /* ቃ */
div#popup-ጸ-U_1253, /* ቓ */
div#popup-ጸ-U_1263, /* ባ */
div#popup-ጸ-U_126B, /* ቫ */
div#popup-ጸ-U_1273, /* ታ */
div#popup-ጸ-U_127B, /* ቻ */
div#popup-ጸ-U_1283, /* ኃ */
div#popup-ጸ-U_1293, /* ና */
div#popup-ጸ-U_129B, /* ኛ */
div#popup-ጸ-U_12A3, /* ኣ */
div#popup-ጸ-U_12AB, /* ካ */
div#popup-ጸ-U_12BB, /* ኻ */
div#popup-ጸ-U_12CB, /* ዋ */
div#popup-ጸ-U_12D3, /* ዓ */
div#popup-ጸ-U_12DB, /* ዛ */
div#popup-ጸ-U_12E3, /* ዣ */
div#popup-ጸ-U_12EB, /* ያ */
div#popup-ጸ-U_12F3, /* ዳ */
div#popup-ጸ-U_12FB, /* ዻ */
div#popup-ጸ-U_1303, /* ጃ */
div#popup-ጸ-U_130B, /* ጋ */
div#popup-ጸ-U_131B, /* ጛ */
div#popup-ጸ-U_1323, /* ጣ */
div#popup-ጸ-U_132B, /* ጫ */
div#popup-ጸ-U_1333, /* ጳ */
div#popup-ጸ-U_133B, /* ጻ */
div#popup-ጸ-U_1343, /* ፃ */
div#popup-ጸ-U_134B, /* ፋ */
div#popup-ጸ-U_1353  /* ፓ */
  { background: #ccf1ff ; color: black ; } /* #b2cefe */

/* ጸ layer ኃምስ */
div#popup-ጸ-U_1204, /* ሄ */
div#popup-ጸ-U_120C, /* ሌ */
div#popup-ጸ-U_1214, /* ሔ */
div#popup-ጸ-U_121C, /* ሜ */
div#popup-ጸ-U_1224, /* ሤ */
div#popup-ጸ-U_122C, /* ሬ */
div#popup-ጸ-U_1234, /* ሴ */
div#popup-ጸ-U_123C, /* ሼ */
div#popup-ጸ-U_1244, /* ቄ */
div#popup-ጸ-U_1254, /* ቔ */
div#popup-ጸ-U_1264, /* ቤ */
div#popup-ጸ-U_126C, /* ቬ */
div#popup-ጸ-U_1274, /* ቴ */
div#popup-ጸ-U_127C, /* ቼ */
div#popup-ጸ-U_1284, /* ኄ */
div#popup-ጸ-U_1294, /* ኔ */
div#popup-ጸ-U_129C, /* ኜ */
div#popup-ጸ-U_12A4, /* ኤ */
div#popup-ጸ-U_12AC, /* ኬ */
div#popup-ጸ-U_12BC, /* ኼ */
div#popup-ጸ-U_12CC, /* ዌ */
div#popup-ጸ-U_12D4, /* ዔ */
div#popup-ጸ-U_12DC, /* ዜ */
div#popup-ጸ-U_12E4, /* ዤ */
div#popup-ጸ-U_12EC, /* ዬ */
div#popup-ጸ-U_12F4, /* ዴ */
div#popup-ጸ-U_12FC, /* ዼ */
div#popup-ጸ-U_1304, /* ጄ */
div#popup-ጸ-U_130C, /* ጌ */
div#popup-ጸ-U_131C, /* ጜ */
div#popup-ጸ-U_1324, /* ጤ */
div#popup-ጸ-U_132C, /* ጬ */
div#popup-ጸ-U_1334, /* ጴ */
div#popup-ጸ-U_133C, /* ጼ */
div#popup-ጸ-U_1344, /* ፄ */
div#popup-ጸ-U_134C, /* ፌ */
div#popup-ጸ-U_1354  /* ፔ */
  { background: #e0d7ff ; color: black ; } /* #f2a2e8 */

/* ጸ layer ሳድስ */
div#popup-ጸ-U_1225, /* ሥ */
div#popup-ጸ-U_1235, /* ስ */
div#popup-ጸ-U_1265, /* ብ */
div#popup-ጸ-U_126D, /* ቭ */
div#popup-ጸ-U_1285, /* ኅ */
div#popup-ጸ-U_1295, /* ን */
div#popup-ጸ-U_129D, /* ኝ */
div#popup-ጸ-U_12D5, /* ዕ */
div#popup-ጸ-U_12DD, /* ዝ */
div#popup-ጸ-U_12E5, /* ዥ */
div#popup-ጸ-U_1335, /* ጵ */
div#popup-ጸ-U_133D, /* ጽ */
div#popup-ጸ-U_1345, /* ፅ */
div#popup-ጸ-U_1355  /* ፕ */
  { background: #ece1d5 ; color: black ; } 

/* ጸ layer ሳብዕ */
div#popup-ጸ-U_1206, /* ሆ */
div#popup-ጸ-U_120E, /* ሎ */
div#popup-ጸ-U_1216, /* ሖ */
div#popup-ጸ-U_121E, /* ሞ */
div#popup-ጸ-U_1226, /* ሦ */
div#popup-ጸ-U_122E, /* ሮ */
div#popup-ጸ-U_1236, /* ሶ */
div#popup-ጸ-U_123E, /* ሾ */
div#popup-ጸ-U_1246, /* ቆ */
div#popup-ጸ-U_1256, /* ቖ */
div#popup-ጸ-U_1266, /* ቦ */
div#popup-ጸ-U_126E, /* ቮ */
div#popup-ጸ-U_1276, /* ቶ */
div#popup-ጸ-U_127E, /* ቾ */
div#popup-ጸ-U_1286, /* ኆ */
div#popup-ጸ-U_1296, /* ኖ */
div#popup-ጸ-U_129E, /* ኞ */
div#popup-ጸ-U_12A6, /* ኦ */
div#popup-ጸ-U_12AE, /* ኮ */
div#popup-ጸ-U_12BE, /* ኾ */
div#popup-ጸ-U_12CE, /* ዎ */
div#popup-ጸ-U_12D6, /* ዖ */
div#popup-ጸ-U_12DE, /* ዞ */
div#popup-ጸ-U_12E6, /* ዦ */
div#popup-ጸ-U_12EE, /* ዮ */
div#popup-ጸ-U_12F6, /* ዶ */
div#popup-ጸ-U_12FE, /* ዾ */
div#popup-ጸ-U_1306, /* ጆ */
div#popup-ጸ-U_130E, /* ጎ */
div#popup-ጸ-U_131E, /* ጞ */
div#popup-ጸ-U_1326, /* ጦ */
div#popup-ጸ-U_132E, /* ጮ */
div#popup-ጸ-U_1336, /* ጶ */
div#popup-ጸ-U_133E, /* ጾ */
div#popup-ጸ-U_1346, /* ፆ */
div#popup-ጸ-U_134E, /* ፎ */
div#popup-ጸ-U_1356  /* ፖ */
  { background: #fad6b6 ; color: black; } /* f8b88b*/


/* ጸ layer ዘመደ-ራብዕ */
div#popup-ጸ-U_120F, /* ሏ */
div#popup-ጸ-U_1217, /* ሗ */
div#popup-ጸ-U_121F, /* ሟ */
div#popup-ጸ-U_1227, /* ሧ */
div#popup-ጸ-U_122F, /* ሯ */
div#popup-ጸ-U_1237, /* ሷ */
div#popup-ጸ-U_123F, /* ሿ */
div#popup-ጸ-U_1267, /* ቧ */
div#popup-ጸ-U_126F, /* ቯ */
div#popup-ጸ-U_1277, /* ቷ */
div#popup-ጸ-U_127F, /* ቿ */
div#popup-ጸ-U_1297, /* ኗ */
div#popup-ጸ-U_129F, /* ኟ */
div#popup-ጸ-U_12A7, /* ኧ */
div#popup-ጸ-U_12DF, /* ዟ */
div#popup-ጸ-U_12E7, /* ዧ */
div#popup-ጸ-U_12F7, /* ዷ*/
div#popup-ጸ-U_12FF, /* ዿ */
div#popup-ጸ-U_1307, /* ጇ */
div#popup-ጸ-U_1327, /* ጧ */
div#popup-ጸ-U_132F, /* ጯ */
div#popup-ጸ-U_1337, /* ጷ */
div#popup-ጸ-U_133F, /* ጿ */
div#popup-ጸ-U_134F, /* ፏ */
div#popup-ጸ-U_1357  /* ፗ */
  { background: #e1cec9 ; color: black; }

/* ዘመደ-ግዕዝ */
div#popup-ጸ-U_1248, /* ቈ */
div#popup-ጸ-U_1288, /* ኈ */
div#popup-ጸ-U_12B0, /* ኰ */
div#popup-ጸ-U_1310  /* ጐ */
  {
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #e2f0cb 100%);
  }

/* ዘመደ-ካዕብ */
div#popup-ጸ-U_124D, /* ቍ */
div#popup-ጸ-U_128D, /* ኍ */
div#popup-ጸ-U_12B5, /* ኵ */
div#popup-ጸ-U_1315  /* ጕ */
  {
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #ffffb5 100%);
  }

/* ዘመደ-ሣልስ */
div#popup-ጸ-U_124A, /* ቊ */
div#popup-ጸ-U_128A, /* ኊ */
div#popup-ጸ-U_12B2, /* ኲ */
div#popup-ጸ-U_1312  /* ጒ */
  {
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #fea3aa 100%);
  }

/* ዘመደ-ራብዕ */
div#popup-ጸ-U_124B, /* ቋ */
div#popup-ጸ-U_128B, /* ኋ */
div#popup-ጸ-U_12B3, /* ኳ */
div#popup-ጸ-U_1313  /* ጓ */
  {
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #ccf1ff 100%);
  }

/* ዘመደ-ኃምስ */
div#popup-ጸ-U_124C, /* ቌ */
div#popup-ጸ-U_128C, /* ኌ */
div#popup-ጸ-U_12B4, /* ኴ */
div#popup-ጸ-U_1314  /* ጔ */
  {
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #e0d7ff 100%);
  }
