/* ቐ-extra layer ግዕዝ */
div#popup-ቐ-extra-U_1220, /* ሠ */
div#popup-ቐ-extra-U_1250, /* ቐ */
div#popup-ቐ-extra-U_1268, /* ቨ */
div#popup-ቐ-extra-U_1280, /* ኀ */
div#popup-ቐ-extra-U_12E0, /* ዠ */
div#popup-ቐ-extra-U_12B8, /* ኸ */
div#popup-ቐ-extra-U_1318, /* ጘ */
div#popup-ቐ-extra-U_1340, /* ፀ */
div#popup-ቐ-extra-U_1350, /* ፐ */
div#popup-ቐ-extra-U_1E7E0 /* 𞟠 */
  { background: #e2f0cb; color: black; } /*#baed91 */

/* ቐ-extra layer ካዕብ */
div#popup-ቐ-extra-U_1221, /* ሡ */
div#popup-ቐ-extra-U_1251, /* ቑ */
div#popup-ቐ-extra-U_1269, /* ቡ */
div#popup-ቐ-extra-U_1281, /* ኁ */
div#popup-ቐ-extra-U_12E1, /* ዡ */
div#popup-ቐ-extra-U_12B9, /* ኩ */
div#popup-ቐ-extra-U_1319, /* ጙ */
div#popup-ቐ-extra-U_1341, /* ፁ */
div#popup-ቐ-extra-U_1351, /* ፑ */
div#popup-ቐ-extra-U_1E7E1 /* 𞟡 */
  { background: #ffffb5 ; color: black; } /* #faf884 */ 

/* ቐ-extra layer ሣልስ */
div#popup-ቐ-extra-U_1222, /* ሢ */
div#popup-ቐ-extra-U_1252, /* ቒ */
div#popup-ቐ-extra-U_126A, /* ቪ */
div#popup-ቐ-extra-U_1282, /* ኂ */
div#popup-ቐ-extra-U_12E2, /* ዢ */
div#popup-ቐ-extra-U_12BA, /* ኺ */
div#popup-ቐ-extra-U_131A, /* ጚ */
div#popup-ቐ-extra-U_1342, /* ፂ */
div#popup-ቐ-extra-U_1352, /* ፒ */
div#popup-ቐ-extra-U_1E7E2 /* 𞟢 */
  { background: #fea3aa ; color: black; }

/* ቐ-extra layer ራብዕ */
div#popup-ቐ-extra-U_1223, /* ሣ */
div#popup-ቐ-extra-U_1253, /* ቓ */
div#popup-ቐ-extra-U_126B, /* ቫ */
div#popup-ቐ-extra-U_1283, /* ኃ */
div#popup-ቐ-extra-U_12E3, /* ዣ */
div#popup-ቐ-extra-U_12BB, /* ኻ */
div#popup-ቐ-extra-U_131B, /* ጛ */
div#popup-ቐ-extra-U_1343, /* ፃ */
div#popup-ቐ-extra-U_1353, /* ፓ */
div#popup-ቐ-extra-U_1E7E3 /* 𞟣 */
  { background: #ccf1ff ; color: black; } /* #b2cefe */

/* ቐ-extra layer ኃምስ */
div#popup-ቐ-extra-U_1224, /* ሤ */
div#popup-ቐ-extra-U_1254, /* ቔ */
div#popup-ቐ-extra-U_126C, /* ቤ */
div#popup-ቐ-extra-U_1284, /* ኄ */
div#popup-ቐ-extra-U_12E4, /* ዤ */
div#popup-ቐ-extra-U_12BC, /* ኼ */
div#popup-ቐ-extra-U_131C, /* ጜ */
div#popup-ቐ-extra-U_1344, /* ፄ */
div#popup-ቐ-extra-U_1354, /* ፔ */
div#popup-ቐ-extra-U_1E7E4 /* 𞟤 */
  { background: #e0d7ff ; color: black; } /* #f2a2e8 */

/* ቐ-extra layer ሳድስ */
div#popup-ቐ-extra-U_1255, /* ቕ */
div#popup-ቐ-extra-U_131D  /* ጝ */
/* { background: #eceae4; color: black; } */
  { background: #ece1d5 ; color: black; } 

/* ቐ-extra layer ሳብዕ */
div#popup-ቐ-extra-U_1226, /* ሦ */
div#popup-ቐ-extra-U_1256, /* ቖ */
div#popup-ቐ-extra-U_126E, /* ቮ */
div#popup-ቐ-extra-U_1286, /* ኆ */
div#popup-ቐ-extra-U_12E6, /* ዦ */
div#popup-ቐ-extra-U_12BE, /* ኾ */
div#popup-ቐ-extra-U_131E, /* ጞ */
div#popup-ቐ-extra-U_1346, /* ፆ */
div#popup-ቐ-extra-U_1356, /* ፖ */
div#popup-ቐ-extra-U_1E7E6 /* 𞟦 */
{ background: #fad6b6 ; color: black; } /* f8b88b*/

/* ቐ-extra layer ዘመደ-ራብዕ */
div#popup-ቐ-extra-U_1227, /* ሧ */
div#popup-ቐ-extra-U_126F, /* ቯ */
div#popup-ቐ-extra-U_12E7, /* ዧ */
div#popup-ቐ-extra-U_12C3, /* ዃ */
div#popup-ቐ-extra-U_1357  /* ፗ */
{ background: #e1cec9 ; color: black; }

/* ዘመደ-ግዕዝ */
div#popup-ቐ-extra-U_1258, /* ቘ */
div#popup-ቐ-extra-U_1288, /* ኈ */
div#popup-ቐ-extra-U_12C0, /* ዀ */
div#popup-ቐ-extra-U_2D93,  /* ⶓ */
div#popup-ቐ-extra-U_1E7E8, /* 𞟨 */
div#popup-ቐ-extra-U_1380, /* ᎀ */
div#popup-ቐ-extra-U_1384, /* ᎄ */
div#popup-ቐ-extra-U_1388, /* ᎈ */
div#popup-ቐ-extra-U_138C  /* ᎌ */
{
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, #e2f0cb 100%);
}

/* ዘመደ-ካዕብ */
div#popup-ቐ-extra-U_125D, /* ቝ */
div#popup-ቐ-extra-U_128D, /* ኍ */
div#popup-ቐ-extra-U_12C5, /* ዅ */
div#popup-ቐ-extra-U_2D96,  /* ⶔ */
div#popup-ቐ-extra-U_1E7F7,  /* 𞟷 */
div#popup-ቐ-extra-U_1E7EB, /* 𞟫 */
div#popup-ቐ-extra-U_1383, /* ᎃ */
div#popup-ቐ-extra-U_1E7F2, /* 𞟲 */
div#popup-ቐ-extra-U_1387, /* ᎇ */
div#popup-ቐ-extra-U_1E7FA,  /* 𞟺 */
div#popup-ቐ-extra-U_138B, /* ᎋ */
div#popup-ቐ-extra-U_138F /* ᎏ */
{
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, #ffffb5 100%);
}

/* ዘመደ-ሣልስ */
div#popup-ቐ-extra-U_125A, /* ቚ */
div#popup-ቐ-extra-U_128A, /* ኊ */
div#popup-ቐ-extra-U_12C2, /* ዂ */
div#popup-ቐ-extra-U_2D94,  /* ⶔ */
div#popup-ቐ-extra-U_1E7F5, /* 𞟵 */
div#popup-ቐ-extra-U_1E7E9, /* 𞟩 */
div#popup-ቐ-extra-U_1E7ED, /* 𞟭 */
div#popup-ቐ-extra-U_1E7F0, /* 𞟰 */
div#popup-ቐ-extra-U_1E7F3, /* 𞟳 */
div#popup-ቐ-extra-U_1E7F8,  /* 𞟸 */
div#popup-ቐ-extra-U_1E7FB,  /* 𞟻 */
div#popup-ቐ-extra-U_1E7FD  /* 𞟽 */
{
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, #fea3aa 100%);
}

/* ዘመደ-ራብዕ */
div#popup-ቐ-extra-U_125B, /* ቛ */
div#popup-ቐ-extra-U_128B, /* ኋ */
div#popup-ቐ-extra-U_12C3, /* ዃ */
div#popup-ቐ-extra-U_131F /* ጟ */
{
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, #ccf1ff 100%);
}

/* ዘመደ-ኃምስ */
div#popup-ቐ-extra-U_125C, /* ቜ */
div#popup-ቐ-extra-U_128C, /* ኌ */
div#popup-ቐ-extra-U_12C4, /* ዄ */
div#popup-ቐ-extra-U_2D95,  /* ⶕ */
div#popup-ቐ-extra-U_1E7EA, /* 𞟪 */
div#popup-ቐ-extra-U_1E7EE, /* 𞟮 */
div#popup-ቐ-extra-U_1E7F1, /* 𞟱 */
div#popup-ቐ-extra-U_1E7F4, /* 𞟴 */
div#popup-ቐ-extra-U_1E7F6, /* 𞟶 */
div#popup-ቐ-extra-U_1E7F9,  /* 𞟹 */
div#popup-ቐ-extra-U_1E7FC,  /* 𞟼 */
div#popup-ቐ-extra-U_1E7FE  /* 𞟾 */
{
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, #e0d7ff 100%);
}
