/*
 * Pastel colors for GFF Keyboards
 * Primarily from: https://www.behance.net/gallery/125405749/Top-10-trending-pastel-color-palettes-in-2021
 */

/* modifier keys */
.kmw-keyboard-gff_amharic #ሀ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ለ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ሐ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #𞟠-extra-T_ግዕዝ,
.kmw-keyboard-gff_amharic #መ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ሠ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ሠ-extra-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ረ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ሰ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ሸ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ቀ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ቐ-extra-T_ግዕዝ,
.kmw-keyboard-gff_amharic #በ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ቨ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ቨ-extra-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ተ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ቸ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ኀ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ኀ-extra-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ነ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ኘ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #አ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ከ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ኸ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ኸ-extra-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ወ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ዐ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ዘ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ዠ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ዠ-extra-T_ግዕዝ,
.kmw-keyboard-gff_amharic #የ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ደ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ጀ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ገ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ጘ-extra-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ጠ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ጨ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ጰ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ጸ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ፀ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ፀ-extra-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ፈ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ፐ-T_ግዕዝ,
.kmw-keyboard-gff_amharic #ፐ-extra-T_ግዕዝ,
.kmw-keyboard-gff_amharic #default-T_ግዕዝ,
.kmw-keyboard-gff_amharic #non-amharic-T_ግዕዝ
  { background: #e2f0cb ; color: black ; }

.kmw-keyboard-gff_amharic #ሀ-K_U,
.kmw-keyboard-gff_amharic #ለ-K_U,
.kmw-keyboard-gff_amharic #ሐ-K_U,
.kmw-keyboard-gff_amharic #𞟠-extra-K_U,
.kmw-keyboard-gff_amharic #መ-K_U,
.kmw-keyboard-gff_amharic #ሠ-K_U,
.kmw-keyboard-gff_amharic #ሠ-extra-K_U,
.kmw-keyboard-gff_amharic #ረ-K_U,
.kmw-keyboard-gff_amharic #ሰ-K_U,
.kmw-keyboard-gff_amharic #ሸ-K_U,
.kmw-keyboard-gff_amharic #ቀ-K_U,
.kmw-keyboard-gff_amharic #ቐ-extra-K_U,
.kmw-keyboard-gff_amharic #በ-K_U,
.kmw-keyboard-gff_amharic #ቨ-K_U,
.kmw-keyboard-gff_amharic #ቨ-extra-K_U,
.kmw-keyboard-gff_amharic #ተ-K_U,
.kmw-keyboard-gff_amharic #ቸ-K_U,
.kmw-keyboard-gff_amharic #ኀ-K_U,
.kmw-keyboard-gff_amharic #ኀ-extra-K_U,
.kmw-keyboard-gff_amharic #ነ-K_U,
.kmw-keyboard-gff_amharic #ኘ-K_U,
.kmw-keyboard-gff_amharic #አ-K_U,
.kmw-keyboard-gff_amharic #ከ-K_U,
.kmw-keyboard-gff_amharic #ኸ-K_U,
.kmw-keyboard-gff_amharic #ኸ-extra-K_U,
.kmw-keyboard-gff_amharic #ወ-K_U,
.kmw-keyboard-gff_amharic #ዐ-K_U,
.kmw-keyboard-gff_amharic #ዘ-K_U,
.kmw-keyboard-gff_amharic #ዠ-K_U,
.kmw-keyboard-gff_amharic #ዠ-extra-K_U,
.kmw-keyboard-gff_amharic #የ-K_U,
.kmw-keyboard-gff_amharic #ደ-K_U,
.kmw-keyboard-gff_amharic #ጀ-K_U,
.kmw-keyboard-gff_amharic #ገ-K_U,
.kmw-keyboard-gff_amharic #ጘ-extra-K_U,
.kmw-keyboard-gff_amharic #ጠ-K_U,
.kmw-keyboard-gff_amharic #ጨ-K_U,
.kmw-keyboard-gff_amharic #ጰ-K_U,
.kmw-keyboard-gff_amharic #ጸ-K_U,
.kmw-keyboard-gff_amharic #ፀ-K_U,
.kmw-keyboard-gff_amharic #ፀ-extra-K_U,
.kmw-keyboard-gff_amharic #ፈ-K_U,
.kmw-keyboard-gff_amharic #ፐ-K_U,
.kmw-keyboard-gff_amharic #ፐ-extra-K_U,
.kmw-keyboard-gff_amharic #default-K_U,
.kmw-keyboard-gff_amharic #non-amharic-K_U
  { background: #ffffb5 ; color: black ; }

.kmw-keyboard-gff_amharic #ሀ-K_I,
.kmw-keyboard-gff_amharic #ለ-K_I,
.kmw-keyboard-gff_amharic #ሐ-K_I,
.kmw-keyboard-gff_amharic #𞟠-extra-K_I,
.kmw-keyboard-gff_amharic #መ-K_I,
.kmw-keyboard-gff_amharic #ሠ-K_I,
.kmw-keyboard-gff_amharic #ሠ-extra-K_I,
.kmw-keyboard-gff_amharic #ረ-K_I,
.kmw-keyboard-gff_amharic #ሰ-K_I,
.kmw-keyboard-gff_amharic #ሸ-K_I,
.kmw-keyboard-gff_amharic #ቀ-K_I,
.kmw-keyboard-gff_amharic #ቐ-extra-K_I,
.kmw-keyboard-gff_amharic #በ-K_I,
.kmw-keyboard-gff_amharic #ቨ-K_I,
.kmw-keyboard-gff_amharic #ቨ-extra-K_I,
.kmw-keyboard-gff_amharic #ተ-K_I,
.kmw-keyboard-gff_amharic #ቸ-K_I,
.kmw-keyboard-gff_amharic #ኀ-K_I,
.kmw-keyboard-gff_amharic #ኀ-extra-K_I,
.kmw-keyboard-gff_amharic #ነ-K_I,
.kmw-keyboard-gff_amharic #ኘ-K_I,
.kmw-keyboard-gff_amharic #አ-K_I,
.kmw-keyboard-gff_amharic #ከ-K_I,
.kmw-keyboard-gff_amharic #ኸ-K_I,
.kmw-keyboard-gff_amharic #ኸ-extra-K_I,
.kmw-keyboard-gff_amharic #ወ-K_I,
.kmw-keyboard-gff_amharic #ዐ-K_I,
.kmw-keyboard-gff_amharic #ዘ-K_I,
.kmw-keyboard-gff_amharic #ዠ-K_I,
.kmw-keyboard-gff_amharic #ዠ-extra-K_I,
.kmw-keyboard-gff_amharic #የ-K_I,
.kmw-keyboard-gff_amharic #ደ-K_I,
.kmw-keyboard-gff_amharic #ጀ-K_I,
.kmw-keyboard-gff_amharic #ገ-K_I,
.kmw-keyboard-gff_amharic #ጘ-extra-K_I,
.kmw-keyboard-gff_amharic #ጠ-K_I,
.kmw-keyboard-gff_amharic #ጨ-K_I,
.kmw-keyboard-gff_amharic #ጰ-K_I,
.kmw-keyboard-gff_amharic #ጸ-K_I,
.kmw-keyboard-gff_amharic #ፀ-K_I,
.kmw-keyboard-gff_amharic #ፀ-extra-K_I,
.kmw-keyboard-gff_amharic #ፈ-K_I,
.kmw-keyboard-gff_amharic #ፐ-K_I,
.kmw-keyboard-gff_amharic #ፐ-extra-K_I,
.kmw-keyboard-gff_amharic #default-K_I,
.kmw-keyboard-gff_amharic #non-amharic-K_I 
  { background: #fea3aa ; color: black ; }

.kmw-keyboard-gff_amharic #ሀ-K_A,
.kmw-keyboard-gff_amharic #ለ-K_A,
.kmw-keyboard-gff_amharic #ሐ-K_A,
.kmw-keyboard-gff_amharic #𞟠-extra-K_A,
.kmw-keyboard-gff_amharic #መ-K_A,
.kmw-keyboard-gff_amharic #ሠ-K_A,
.kmw-keyboard-gff_amharic #ሠ-extra-K_A,
.kmw-keyboard-gff_amharic #ረ-K_A,
.kmw-keyboard-gff_amharic #ሰ-K_A,
.kmw-keyboard-gff_amharic #ሸ-K_A,
.kmw-keyboard-gff_amharic #ቀ-K_A,
.kmw-keyboard-gff_amharic #ቐ-extra-K_A,
.kmw-keyboard-gff_amharic #በ-K_A,
.kmw-keyboard-gff_amharic #ቨ-K_A,
.kmw-keyboard-gff_amharic #ቨ-extra-K_A,
.kmw-keyboard-gff_amharic #ተ-K_A,
.kmw-keyboard-gff_amharic #ቸ-K_A,
.kmw-keyboard-gff_amharic #ኀ-K_A,
.kmw-keyboard-gff_amharic #ኀ-extra-K_A,
.kmw-keyboard-gff_amharic #ነ-K_A,
.kmw-keyboard-gff_amharic #ኘ-K_A,
.kmw-keyboard-gff_amharic #አ-K_A,
.kmw-keyboard-gff_amharic #ከ-K_A,
.kmw-keyboard-gff_amharic #ኸ-K_A,
.kmw-keyboard-gff_amharic #ኸ-extra-K_A,
.kmw-keyboard-gff_amharic #ወ-K_A,
.kmw-keyboard-gff_amharic #ዐ-K_A,
.kmw-keyboard-gff_amharic #ዘ-K_A,
.kmw-keyboard-gff_amharic #ዠ-K_A,
.kmw-keyboard-gff_amharic #ዠ-extra-K_A,
.kmw-keyboard-gff_amharic #የ-K_A,
.kmw-keyboard-gff_amharic #ደ-K_A,
.kmw-keyboard-gff_amharic #ጀ-K_A,
.kmw-keyboard-gff_amharic #ገ-K_A,
.kmw-keyboard-gff_amharic #ጘ-extra-K_A,
.kmw-keyboard-gff_amharic #ጠ-K_A,
.kmw-keyboard-gff_amharic #ጨ-K_A,
.kmw-keyboard-gff_amharic #ጰ-K_A,
.kmw-keyboard-gff_amharic #ጸ-K_A,
.kmw-keyboard-gff_amharic #ፀ-K_A,
.kmw-keyboard-gff_amharic #ፀ-extra-K_A,
.kmw-keyboard-gff_amharic #ፈ-K_A,
.kmw-keyboard-gff_amharic #ፐ-K_A,
.kmw-keyboard-gff_amharic #ፐ-extra-K_A,
.kmw-keyboard-gff_amharic #default-K_A,
.kmw-keyboard-gff_amharic #non-amharic-K_A
  { background: #ccf1ff ; color: black ; }

.kmw-keyboard-gff_amharic #ሀ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ለ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ሐ-T_ኃምስ,
.kmw-keyboard-gff_amharic #𞟠-extra-T_ኃምስ,
.kmw-keyboard-gff_amharic #መ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ሠ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ሠ-extra-T_ኃምስ,
.kmw-keyboard-gff_amharic #ረ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ሰ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ሸ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ቀ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ቐ-extra-T_ኃምስ,
.kmw-keyboard-gff_amharic #በ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ቨ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ቨ-extra-T_ኃምስ,
.kmw-keyboard-gff_amharic #ተ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ቸ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ኀ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ኀ-extra-T_ኃምስ,
.kmw-keyboard-gff_amharic #ነ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ኘ-T_ኃምስ,
.kmw-keyboard-gff_amharic #አ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ከ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ኸ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ኸ-extra-T_ኃምስ,
.kmw-keyboard-gff_amharic #ወ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ዐ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ዘ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ዠ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ዠ-extra-T_ኃምስ,
.kmw-keyboard-gff_amharic #የ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ደ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ጀ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ገ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ጘ-extra-T_ኃምስ,
.kmw-keyboard-gff_amharic #ጠ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ጨ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ጰ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ጸ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ፀ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ፀ-extra-T_ኃምስ,
.kmw-keyboard-gff_amharic #ፈ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ፐ-T_ኃምስ,
.kmw-keyboard-gff_amharic #ፐ-extra-T_ኃምስ,
.kmw-keyboard-gff_amharic #default-T_ኃምስ,
.kmw-keyboard-gff_amharic #non-amharic-T_ኃምስ
  { background: #e0d7ff ; color: black ; }

.kmw-keyboard-gff_amharic #ሀ-K_O,
.kmw-keyboard-gff_amharic #ለ-K_O,
.kmw-keyboard-gff_amharic #ሐ-K_O,
.kmw-keyboard-gff_amharic #𞟠-extra-K_O,
.kmw-keyboard-gff_amharic #መ-K_O,
.kmw-keyboard-gff_amharic #ሠ-K_O,
.kmw-keyboard-gff_amharic #ሠ-extra-K_O,
.kmw-keyboard-gff_amharic #ረ-K_O,
.kmw-keyboard-gff_amharic #ሰ-K_O,
.kmw-keyboard-gff_amharic #ሸ-K_O,
.kmw-keyboard-gff_amharic #ቀ-K_O,
.kmw-keyboard-gff_amharic #ቐ-extra-K_O,
.kmw-keyboard-gff_amharic #በ-K_O,
.kmw-keyboard-gff_amharic #ቨ-K_O,
.kmw-keyboard-gff_amharic #ቨ-extra-K_O,
.kmw-keyboard-gff_amharic #ተ-K_O,
.kmw-keyboard-gff_amharic #ቸ-K_O,
.kmw-keyboard-gff_amharic #ኀ-K_O,
.kmw-keyboard-gff_amharic #ኀ-extra-K_O,
.kmw-keyboard-gff_amharic #ነ-K_O,
.kmw-keyboard-gff_amharic #ኘ-K_O,
.kmw-keyboard-gff_amharic #አ-K_O,
.kmw-keyboard-gff_amharic #ከ-K_O,
.kmw-keyboard-gff_amharic #ኸ-K_O,
.kmw-keyboard-gff_amharic #ኸ-extra-K_O,
.kmw-keyboard-gff_amharic #ወ-K_O,
.kmw-keyboard-gff_amharic #ዐ-K_O,
.kmw-keyboard-gff_amharic #ዘ-K_O,
.kmw-keyboard-gff_amharic #ዠ-K_O,
.kmw-keyboard-gff_amharic #ዠ-extra-K_O,
.kmw-keyboard-gff_amharic #የ-K_O,
.kmw-keyboard-gff_amharic #ደ-K_O,
.kmw-keyboard-gff_amharic #ጀ-K_O,
.kmw-keyboard-gff_amharic #ገ-K_O,
.kmw-keyboard-gff_amharic #ጘ-extra-K_O,
.kmw-keyboard-gff_amharic #ጠ-K_O,
.kmw-keyboard-gff_amharic #ጨ-K_O,
.kmw-keyboard-gff_amharic #ጰ-K_O,
.kmw-keyboard-gff_amharic #ጸ-K_O,
.kmw-keyboard-gff_amharic #ፀ-K_O,
.kmw-keyboard-gff_amharic #ፀ-extra-K_O,
.kmw-keyboard-gff_amharic #ፈ-K_O,
.kmw-keyboard-gff_amharic #ፐ-K_O,
.kmw-keyboard-gff_amharic #ፐ-extra-K_O,
.kmw-keyboard-gff_amharic #default-K_O,
.kmw-keyboard-gff_amharic #non-amharic-K_O
  { background: #fad6b6 ; color: black ; }

.kmw-keyboard-gff_amharic #ዀ-extra-K_K\+shift,
.kmw-keyboard-gff_amharic #ዀ-extra-U_12C0,  /* ዀ */
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7E8, /* 𞟨 */
.kmw-keyboard-gff_amharic #ᎀ-extra-U_1380, /* ᎀ */
.kmw-keyboard-gff_amharic #ᎀ-extra-U_1384, /* ᎄ */
.kmw-keyboard-gff_amharic #ᎈ-extra-U_1388, /* ᎈ */
.kmw-keyboard-gff_amharic #ᎈ-extra-U_138C  /* ᎌ */
{
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, #e2f0cb 100%);
}


.kmw-keyboard-gff_amharic #ዀ-extra-U_12C5,  /* ዅ */
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7EB,  /* 𞟫 */  
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7F2, /* 𞟲 */ 
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7F7, /* 𞟷 */
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7FA, /* 𞟺 */
.kmw-keyboard-gff_amharic #ᎀ-extra-U_1383, /* ᎃ */
.kmw-keyboard-gff_amharic #ᎀ-extra-U_1387,  /* ᎇ */
.kmw-keyboard-gff_amharic #ᎈ-extra-U_138B, /* ᎋ */
.kmw-keyboard-gff_amharic #ᎈ-extra-U_138F /* ᎏ */
{
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%,  #ece1d5  100%);
}

.kmw-keyboard-gff_amharic #ዀ-extra-U_12C2,  /* ዂ */
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7E9, /* 𞟩 */
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7F0, /* 𞟰 */
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7F5, /* 𞟵 */
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7F8,  /* 𞟸 */
.kmw-keyboard-gff_amharic #ᎀ-extra-U_1E7ED, /* 𞟭 */
.kmw-keyboard-gff_amharic #ᎀ-extra-U_1E7F3, /* 𞟳 */
.kmw-keyboard-gff_amharic #ᎈ-extra-U_1E7FB,  /* 𞟻 */
.kmw-keyboard-gff_amharic #ᎈ-extra-U_1E7FD  /* 𞟽 */
  {
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #fea3aa 100%);
  }


.kmw-keyboard-gff_amharic #ዀ-extra-U_12C3  /* ዃ */
{
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, #ccf1ff 100%);
}


.kmw-keyboard-gff_amharic #ዀ-extra-U_12C4, /* ዄ */
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7EA, /* 𞟪 */
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7F1, /* 𞟱 */
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7F6, /* 𞟶 */
.kmw-keyboard-gff_amharic #𞟨-extra-U_1E7F9,  /* 𞟹 */
.kmw-keyboard-gff_amharic #ᎀ-extra-U_1E7EE, /* 𞟮 */
.kmw-keyboard-gff_amharic #ᎀ-extra-U_1E7F4, /* 𞟴 */
.kmw-keyboard-gff_amharic #ᎈ-extra-U_1E7FC,  /* 𞟼 */
.kmw-keyboard-gff_amharic #ᎈ-extra-U_1E7FE  /* 𞟾 */
{
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, #e0d7ff 100%);
}

/* default layer ዘመደ-ራብዕ */
.kmw-keyboard-gff_amharic #ለ-T_WWA, /* ሏ */
.kmw-keyboard-gff_amharic #ሐ-T_WWA, /* ሗ */
.kmw-keyboard-gff_amharic #መ-T_WWA, /* ሟ */
.kmw-keyboard-gff_amharic #ሠ-T_WWA, /* ሧ */
.kmw-keyboard-gff_amharic #ረ-T_WWA, /* ሯ */
.kmw-keyboard-gff_amharic #ሰ-T_WWA, /* ሷ */
.kmw-keyboard-gff_amharic #ሸ-T_WWA, /* ሿ */
.kmw-keyboard-gff_amharic #በ-T_WWA, /* ቧ */
.kmw-keyboard-gff_amharic #ቨ-T_WWA, /* ቯ */
.kmw-keyboard-gff_amharic #ተ-T_WWA, /* ቷ */
.kmw-keyboard-gff_amharic #ቸ-T_WWA, /* ቿ */
.kmw-keyboard-gff_amharic #ነ-T_WWA, /* ኗ */
.kmw-keyboard-gff_amharic #ኘ-T_WWA, /* ኟ */
.kmw-keyboard-gff_amharic #default-T_WWA, /* ኧ */
.kmw-keyboard-gff_amharic #ዘ-T_WWA, /* ዟ */
.kmw-keyboard-gff_amharic #ዠ-T_WWA, /* ዧ */
.kmw-keyboard-gff_amharic #ደ-T_WWA, /* ዷ*/
.kmw-keyboard-gff_amharic #ዸ-T_WWA, /* ዿ */
.kmw-keyboard-gff_amharic #ጀ-T_WWA, /* ጇ */
.kmw-keyboard-gff_amharic #ጠ-T_WWA, /* ጧ */
.kmw-keyboard-gff_amharic #ጨ-T_WWA, /* ጯ */
.kmw-keyboard-gff_amharic #ጰ-T_WWA, /* ጷ */
.kmw-keyboard-gff_amharic #ጸ-T_WWA, /* ጿ */
.kmw-keyboard-gff_amharic #ፈ-T_WWA, /* ፏ */
.kmw-keyboard-gff_amharic #ፐ-T_WWA  /* ፗ */
  { background: #e1cec9 ; color: black; }

/*
  * unfortunately, a selector like the following does not work, but probably should, thus the need for stating each layer

   div[id*='U_1200']

*/