.kmw-keyboard-gff_amharic #default-T_GEEZ { background:  #baed91 ; color: black; }
.kmw-keyboard-gff_amharic #default-K_U  { background:  #faf884  ; color: black; }
.kmw-keyboard-gff_amharic #default-K_I  { background:  #fea3aa  ; color: black; }
.kmw-keyboard-gff_amharic #default-K_A  { background: #b2cefe  ; color: black; }
.kmw-keyboard-gff_amharic #default-T_HAMIS { background: #f8b88b  ; color: black; }
.kmw-keyboard-gff_amharic #default-K_O  { background:  #f2a2e8  ; color: black; }

div#popup-default-U_1200,
div#popup-default-U_1208,
div#popup-default-U_1210,
div#popup-default-U_1218,
div#popup-default-U_1220,
div#popup-default-U_1228,
div#popup-default-U_1230,
div#popup-default-U_1238,
div#popup-default-U_1240,
div#popup-default-U_1250,
div#popup-default-U_1260,
div#popup-default-U_1268,
div#popup-default-U_1270,
div#popup-default-U_1278,
div#popup-default-U_1280,
div#popup-default-U_1290,
div#popup-default-U_1298,
div#popup-default-U_12A0,
div#popup-default-U_12A8,
div#popup-default-U_12B8,
div#popup-default-U_12C8,
div#popup-default-U_12D0,
div#popup-default-U_12D8,
div#popup-default-U_12E0,
div#popup-default-U_12E8,
div#popup-default-U_12F0,
div#popup-default-U_12F8,
div#popup-default-U_1300,
div#popup-default-U_1308,
div#popup-default-U_1318,
div#popup-default-U_1320,
div#popup-default-U_1328,
div#popup-default-U_1330,
div#popup-default-U_1338,
div#popup-default-U_1340,
div#popup-default-U_1348,
div#popup-default-U_1350
{ background:  #baed91 ; color: black; }

div#popup-default-U_1201,
div#popup-default-U_1209,
div#popup-default-U_1211,
div#popup-default-U_1219,
div#popup-default-U_1221,
div#popup-default-U_1229,
div#popup-default-U_1231,
div#popup-default-U_1239,
div#popup-default-U_1241,
div#popup-default-U_1251,
div#popup-default-U_1261,
div#popup-default-U_1269,
div#popup-default-U_1271,
div#popup-default-U_1279,
div#popup-default-U_1281,
div#popup-default-U_1291,
div#popup-default-U_1299,
div#popup-default-U_12A1,
div#popup-default-U_12A9,
div#popup-default-U_12B9,
div#popup-default-U_12C9,
div#popup-default-U_12D1,
div#popup-default-U_12D9,
div#popup-default-U_12E1,
div#popup-default-U_12E9,
div#popup-default-U_12F1,
div#popup-default-U_12F9,
div#popup-default-U_1301,
div#popup-default-U_1309,
div#popup-default-U_1319,
div#popup-default-U_1321,
div#popup-default-U_1329,
div#popup-default-U_1331,
div#popup-default-U_1339,
div#popup-default-U_1341,
div#popup-default-U_1349,
div#popup-default-U_1351
{ background:  #faf884  ; color: black; }

div#popup-default-U_1202,
div#popup-default-U_120A,
div#popup-default-U_1212,
div#popup-default-U_121A,
div#popup-default-U_1222,
div#popup-default-U_122A,
div#popup-default-U_1232,
div#popup-default-U_123A,
div#popup-default-U_1242,
div#popup-default-U_1252,
div#popup-default-U_1262,
div#popup-default-U_126A,
div#popup-default-U_1272,
div#popup-default-U_127A,
div#popup-default-U_1282,
div#popup-default-U_1292,
div#popup-default-U_129A,
div#popup-default-U_12A2,
div#popup-default-U_12AA,
div#popup-default-U_12BA,
div#popup-default-U_12CA,
div#popup-default-U_12D2,
div#popup-default-U_12DA,
div#popup-default-U_12E2,
div#popup-default-U_12EA,
div#popup-default-U_12F2,
div#popup-default-U_12FA,
div#popup-default-U_1302,
div#popup-default-U_130A,
div#popup-default-U_131A,
div#popup-default-U_1322,
div#popup-default-U_132A,
div#popup-default-U_1332,
div#popup-default-U_133A,
div#popup-default-U_1342,
div#popup-default-U_134A,
div#popup-default-U_1352
{ background:  #fea3aa  ; color: black; }

div#popup-default-U_1203,
div#popup-default-U_120B,
div#popup-default-U_1213,
div#popup-default-U_121B,
div#popup-default-U_1223,
div#popup-default-U_122B,
div#popup-default-U_1233,
div#popup-default-U_123B,
div#popup-default-U_1243,
div#popup-default-U_1253,
div#popup-default-U_1263,
div#popup-default-U_126B,
div#popup-default-U_1273,
div#popup-default-U_127B,
div#popup-default-U_1283,
div#popup-default-U_1293,
div#popup-default-U_129B,
div#popup-default-U_12A3,
div#popup-default-U_12AB,
div#popup-default-U_12BB,
div#popup-default-U_12CB,
div#popup-default-U_12D3,
div#popup-default-U_12DB,
div#popup-default-U_12E3,
div#popup-default-U_12EB,
div#popup-default-U_12F3,
div#popup-default-U_12FB,
div#popup-default-U_1303,
div#popup-default-U_130B,
div#popup-default-U_131B,
div#popup-default-U_1323,
div#popup-default-U_132B,
div#popup-default-U_1333,
div#popup-default-U_133B,
div#popup-default-U_1343,
div#popup-default-U_134B,
div#popup-default-U_1353
{ background: #b2cefe  ; color: black; }

div#popup-default-U_1204,
div#popup-default-U_120C,
div#popup-default-U_1214,
div#popup-default-U_121C,
div#popup-default-U_1224,
div#popup-default-U_122C,
div#popup-default-U_1234,
div#popup-default-U_123C,
div#popup-default-U_1244,
div#popup-default-U_1254,
div#popup-default-U_1264,
div#popup-default-U_126C,
div#popup-default-U_1274,
div#popup-default-U_127C,
div#popup-default-U_1284,
div#popup-default-U_1294,
div#popup-default-U_129C,
div#popup-default-U_12A4,
div#popup-default-U_12AC,
div#popup-default-U_12BC,
div#popup-default-U_12CC,
div#popup-default-U_12D4,
div#popup-default-U_12DC,
div#popup-default-U_12E4,
div#popup-default-U_12EC,
div#popup-default-U_12F4,
div#popup-default-U_12FC,
div#popup-default-U_1304,
div#popup-default-U_130C,
div#popup-default-U_131C,
div#popup-default-U_1324,
div#popup-default-U_132C,
div#popup-default-U_1334,
div#popup-default-U_133C,
div#popup-default-U_1344,
div#popup-default-U_134C,
div#popup-default-U_1354
{ background: #f8b88b  ; color: black; }

div#popup-default-U_1206,
div#popup-default-U_120E,
div#popup-default-U_1216,
div#popup-default-U_121E,
div#popup-default-U_1226,
div#popup-default-U_122E,
div#popup-default-U_1236,
div#popup-default-U_123E,
div#popup-default-U_1246,
div#popup-default-U_1256,
div#popup-default-U_1266,
div#popup-default-U_126E,
div#popup-default-U_1276,
div#popup-default-U_127E,
div#popup-default-U_1286,
div#popup-default-U_1296,
div#popup-default-U_129E,
div#popup-default-U_12A6,
div#popup-default-U_12AE,
div#popup-default-U_12BE,
div#popup-default-U_12CE,
div#popup-default-U_12D6,
div#popup-default-U_12DE,
div#popup-default-U_12E6,
div#popup-default-U_12EE,
div#popup-default-U_12F6,
div#popup-default-U_12FE,
div#popup-default-U_1306,
div#popup-default-U_130E,
div#popup-default-U_131E,
div#popup-default-U_1326,
div#popup-default-U_132E,
div#popup-default-U_1336,
div#popup-default-U_133E,
div#popup-default-U_1346,
div#popup-default-U_134E,
div#popup-default-U_1356
{ background:  #f2a2e8  ; color: black; }

/*
.ios.kmw-keyboard-gff_amharic #default-U_1200,
.ios.kmw-keyboard-gff_amharic #default-U_1210,
.ios.kmw-keyboard-gff_amharic #default-K_E { background: greenyellow; }

.android.kmw-keyboard-gff_amharic #default-U_1201,
.android.kmw-keyboard-gff_amharic #default-U_1210,
.android.kmw-keyboard-gff_amharic #default-K_E { background: greenyellow; }
*/