
/*
.kmw-keyboard-gff_amharic #default-T_GEEZ { background:  #baed91 ; color: black; }
.kmw-keyboard-gff_amharic #default-K_U  { background:  #faf884  ; color: black; }
.kmw-keyboard-gff_amharic #default-K_I  { background:  #fea3aa  ; color: black; }
.kmw-keyboard-gff_amharic #default-K_A  { background: #b2cefe  ; color: black; }
.kmw-keyboard-gff_amharic #default-T_HAMIS { background: #f8b88b  ; color: black; }
.kmw-keyboard-gff_amharic #default-K_O  { background:  #f2a2e8  ; color: black; }
*/

.kmw-keyboard-gff_amharic #default-T_GEEZ { background:  #e2f0cb ; color: black; }
.kmw-keyboard-gff_amharic #default-K_U  { background:  #ffffb5  ; color: black; }
.kmw-keyboard-gff_amharic #default-K_I  { background:  #ff9aa2  ; color: black; }
.kmw-keyboard-gff_amharic #default-K_A  { background: #ccf1ff  ; color: black; }
.kmw-keyboard-gff_amharic #default-T_HAMIS { background: #f8b88b  ; color: black; } /* ffb782 */
.kmw-keyboard-gff_amharic #default-K_O  { background:  #e0d7ff  ; color: black; }
.kmw-keyboard-gff_amharic #non-amharic-T_GEEZ { background:  #e2f0cb ; color: black; }
.kmw-keyboard-gff_amharic #non-amharic-K_U  { background:  #ffffb5  ; color: black; }
.kmw-keyboard-gff_amharic #non-amharic-K_I  { background:  #ff9aa2  ; color: black; }
.kmw-keyboard-gff_amharic #non-amharic-K_A  { background: #ccf1ff  ; color: black; }
.kmw-keyboard-gff_amharic #non-amharic-T_HAMIS { background: #f8b88b  ; color: black; } /* ffb782 */
.kmw-keyboard-gff_amharic #non-amharic-K_O  { background:  #e0d7ff  ; color: black; }

div#popup-default-U_1200, /* ሀ */
div#popup-default-U_1208, /* ለ */
div#popup-default-U_1210, /* ሐ */
div#popup-default-U_1218, /* መ */
div#popup-default-U_1220, /* ሠ */
div#popup-default-U_1228, /* ረ */
div#popup-default-U_1230, /* ሰ */
div#popup-default-U_1238, /* ሸ */
div#popup-default-U_1240, /* ቀ */
div#popup-default-U_1260, /* በ */
div#popup-default-U_1268, /* ቨ */
div#popup-default-U_1270, /* ተ */
div#popup-default-U_1278, /* ቸ */
div#popup-default-U_1280, /* ኀ */
div#popup-default-U_1290, /* ነ */
div#popup-default-U_1298, /* ኘ */
div#popup-default-U_12A0, /* አ */
div#popup-default-U_12A8, /* ከ */
div#popup-default-U_12B8, /* ኸ */
div#popup-default-U_12C8, /* ወ */
div#popup-default-U_12D0, /* ዐ */
div#popup-default-U_12D8, /* ዘ */
div#popup-default-U_12E0, /* ዠ */
div#popup-default-U_12E8, /* የ */
div#popup-default-U_12F0, /* ደ */
div#popup-default-U_12F8, /* ዸ */
div#popup-default-U_1300, /* ጀ */
div#popup-default-U_1308, /* ገ */
div#popup-default-U_1318, /* ጘ */
div#popup-default-U_1320, /* ጠ */
div#popup-default-U_1328, /* ጨ */
div#popup-default-U_1330, /* ጰ */
div#popup-default-U_1338, /* ጸ */
div#popup-default-U_1340, /* ፀ */
div#popup-default-U_1348, /* ፈ */
div#popup-default-U_1350, /* ፐ */

div#popup-non-amharic-U_1250, /* ቐ */
div#popup-non-amharic-U_1268 /* ቨ */
{ background:  #baed91 ; color: black; }

div#popup-default-U_1201, /* ሁ */
div#popup-default-U_1209, /* ሉ */
div#popup-default-U_1211, /* ሑ */
div#popup-default-U_1219, /* ሙ */
div#popup-default-U_1221, /* ሡ */
div#popup-default-U_1229, /* ሩ */
div#popup-default-U_1231, /* ሱ */
div#popup-default-U_1239, /* ሹ */
div#popup-default-U_1241, /* ቁ */
div#popup-default-U_1251, /* ቑ */
div#popup-default-U_1261, /* ቡ */
div#popup-default-U_1269, /* ቩ */
div#popup-default-U_1271, /* ቱ */
div#popup-default-U_1279, /* ቹ */
div#popup-default-U_1281, /* ኁ */
div#popup-default-U_1291, /* ኑ */
div#popup-default-U_1299, /* ኙ */
div#popup-default-U_12A1, /* ኡ */
div#popup-default-U_12A9, /* ኩ */
div#popup-default-U_12B9, /* ኹ */
div#popup-default-U_12C9, /* ዉ */
div#popup-default-U_12D1, /* ዑ */
div#popup-default-U_12D9, /* ዙ */
div#popup-default-U_12E1, /* ዡ */
div#popup-default-U_12E9, /* ዩ */
div#popup-default-U_12F1, /* ዱ */
div#popup-default-U_12F9, /* ዹ */
div#popup-default-U_1301, /* ጁ */
div#popup-default-U_1309, /* ጉ */
div#popup-default-U_1319, /* ጙ */
div#popup-default-U_1321, /* ጡ */
div#popup-default-U_1329, /* ጩ */
div#popup-default-U_1331, /* ጱ */
div#popup-default-U_1339, /* ጹ */
div#popup-default-U_1341, /* ፁ */
div#popup-default-U_1349, /* ፉ */
div#popup-default-U_1351  /* ፑ */
{ background:  #faf884  ; color: black; }

div#popup-default-U_1202, /* ሂ */
div#popup-default-U_120A, /* ሊ */
div#popup-default-U_1212, /* ሒ */
div#popup-default-U_121A, /* ሚ */
div#popup-default-U_1222, /* ሢ */
div#popup-default-U_122A, /* ሪ */
div#popup-default-U_1232, /* ሲ */
div#popup-default-U_123A, /* ሺ */
div#popup-default-U_1242, /* ቂ */
div#popup-default-U_1252, /* ቒ */
div#popup-default-U_1262, /* ቢ */
div#popup-default-U_126A, /* ቪ */
div#popup-default-U_1272, /* ቲ */
div#popup-default-U_127A, /* ቺ */
div#popup-default-U_1282, /* ኂ */
div#popup-default-U_1292, /* ኒ */
div#popup-default-U_129A, /* ኚ */
div#popup-default-U_12A2, /* ኢ */
div#popup-default-U_12AA, /* ኪ */
div#popup-default-U_12BA, /* ኺ */
div#popup-default-U_12CA, /* ዊ */
div#popup-default-U_12D2, /* ዒ */
div#popup-default-U_12DA, /* ዚ */
div#popup-default-U_12E2, /* ዢ */
div#popup-default-U_12EA, /* ዪ */
div#popup-default-U_12F2, /* ዲ */
div#popup-default-U_12FA, /* ዺ */
div#popup-default-U_1302, /* ጂ */
div#popup-default-U_130A, /* ጊ */
div#popup-default-U_131A, /* ጚ */
div#popup-default-U_1322, /* ጢ */
div#popup-default-U_132A, /* ጪ */
div#popup-default-U_1332, /* ጲ */
div#popup-default-U_133A, /* ጺ */
div#popup-default-U_1342, /* ፂ */
div#popup-default-U_134A, /* ፊ */
div#popup-default-U_1352  /* ፒ */
{ background:  #fea3aa  ; color: black; }

div#popup-default-U_1203, /* ሃ */
div#popup-default-U_120B, /* ላ */
div#popup-default-U_1213, /* ሓ */
div#popup-default-U_121B, /* ማ */
div#popup-default-U_1223, /* ሣ */
div#popup-default-U_122B, /* ራ */
div#popup-default-U_1233, /* ሳ */
div#popup-default-U_123B, /* ሻ */
div#popup-default-U_1243, /* ቃ */
div#popup-default-U_1253, /* ቓ */
div#popup-default-U_1263, /* ባ */
div#popup-default-U_126B, /* ቫ */
div#popup-default-U_1273, /* ታ */
div#popup-default-U_127B, /* ቻ */
div#popup-default-U_1283, /* ኃ */
div#popup-default-U_1293, /* ና */
div#popup-default-U_129B, /* ኛ */
div#popup-default-U_12A3, /* ኣ */
div#popup-default-U_12AB, /* ካ */
div#popup-default-U_12BB, /* ኻ */
div#popup-default-U_12CB, /* ዋ */
div#popup-default-U_12D3, /* ዓ */
div#popup-default-U_12DB, /* ዛ */
div#popup-default-U_12E3, /* ዣ */
div#popup-default-U_12EB, /* ያ */
div#popup-default-U_12F3, /* ዳ */
div#popup-default-U_12FB, /* ዻ */
div#popup-default-U_1303, /* ጃ */
div#popup-default-U_130B, /* ጋ */
div#popup-default-U_131B, /* ጛ */
div#popup-default-U_1323, /* ጣ */
div#popup-default-U_132B, /* ጫ */
div#popup-default-U_1333, /* ጳ */
div#popup-default-U_133B, /* ጻ */
div#popup-default-U_1343, /* ፃ */
div#popup-default-U_134B, /* ፋ */
div#popup-default-U_1353  /* ፓ */
{ background: #b2cefe  ; color: black; }

div#popup-default-U_1204, /* ሄ */
div#popup-default-U_120C, /* ሌ */
div#popup-default-U_1214, /* ሔ */
div#popup-default-U_121C, /* ሜ */
div#popup-default-U_1224, /* ሤ */
div#popup-default-U_122C, /* ሬ */
div#popup-default-U_1234, /* ሴ */
div#popup-default-U_123C, /* ሼ */
div#popup-default-U_1244, /* ቄ */
div#popup-default-U_1254, /* ቔ */
div#popup-default-U_1264, /* ቤ */
div#popup-default-U_126C, /* ቬ */
div#popup-default-U_1274, /* ቴ */
div#popup-default-U_127C, /* ቼ */
div#popup-default-U_1284, /* ኄ */
div#popup-default-U_1294, /* ኔ */
div#popup-default-U_129C, /* ኜ */
div#popup-default-U_12A4, /* ኤ */
div#popup-default-U_12AC, /* ኬ */
div#popup-default-U_12BC, /* ኼ */
div#popup-default-U_12CC, /* ዌ */
div#popup-default-U_12D4, /* ዔ */
div#popup-default-U_12DC, /* ዜ */
div#popup-default-U_12E4, /* ዤ */
div#popup-default-U_12EC, /* ዬ */
div#popup-default-U_12F4, /* ዴ */
div#popup-default-U_12FC, /* ዼ */
div#popup-default-U_1304, /* ጄ */
div#popup-default-U_130C, /* ጌ */
div#popup-default-U_131C, /* ጜ */
div#popup-default-U_1324, /* ጤ */
div#popup-default-U_132C, /* ጬ */
div#popup-default-U_1334, /* ጴ */
div#popup-default-U_133C, /* ጼ */
div#popup-default-U_1344, /* ፄ */
div#popup-default-U_134C, /* ፌ */
div#popup-default-U_1354  /* ፔ */
{ background: #f8b88b  ; color: black; }


div#popup-default-U_1265, /* ብ */
div#popup-default-U_126D, /* ቭ */
div#popup-default-U_1295, /* ን */
div#popup-default-U_129D, /* ኝ */
div#popup-default-U_12D5, /* ዕ */
div#popup-default-U_12DD, /* ዝ */
div#popup-default-U_12E5  /* ዥ */
{ background: #eceae4; color: black; }

div#popup-default-U_1206, /* ሆ */
div#popup-default-U_120E, /* ሎ */
div#popup-default-U_1216, /* ሖ */
div#popup-default-U_121E, /* ሞ */
div#popup-default-U_1226, /* ሦ */
div#popup-default-U_122E, /* ሮ */
div#popup-default-U_1236, /* ሶ */
div#popup-default-U_123E, /* ሾ */
div#popup-default-U_1246, /* ቆ */
div#popup-default-U_1256, /* ቖ */
div#popup-default-U_1266, /* ቦ */
div#popup-default-U_126E, /* ቮ */
div#popup-default-U_1276, /* ቶ */
div#popup-default-U_127E, /* ቾ */
div#popup-default-U_1286, /* ኆ */
div#popup-default-U_1296, /* ኖ */
div#popup-default-U_129E, /* ኞ */
div#popup-default-U_12A6, /* ኦ */
div#popup-default-U_12AE, /* ኮ */
div#popup-default-U_12BE, /* ኾ */
div#popup-default-U_12CE, /* ዎ */
div#popup-default-U_12D6, /* ዖ */
div#popup-default-U_12DE, /* ዞ */
div#popup-default-U_12E6, /* ዦ */
div#popup-default-U_12EE, /* ዮ */
div#popup-default-U_12F6, /* ዶ */
div#popup-default-U_12FE, /* ዾ */
div#popup-default-U_1306, /* ጆ */
div#popup-default-U_130E, /* ጎ */
div#popup-default-U_131E, /* ጞ */
div#popup-default-U_1326, /* ጦ */
div#popup-default-U_132E, /* ጮ */
div#popup-default-U_1336, /* ጶ */
div#popup-default-U_133E, /* ጾ */
div#popup-default-U_1346, /* ፆ */
div#popup-default-U_134E, /* ፎ */
div#popup-default-U_1356  /* ፖ */
{ background:  #f2a2e8  ; color: black; }

div#popup-default-U_120F, /* ሏ  */
div#popup-default-U_1217, /* ሗ */
div#popup-default-U_121F, /* ሟ */
div#popup-default-U_1227, /* ሧ */
div#popup-default-U_122F, /* ሯ */
div#popup-default-U_1237, /* ሷ */
div#popup-default-U_123F, /* ሿ */
div#popup-default-U_1267, /* ቧ */
div#popup-default-U_126F, /* ቯ */
div#popup-default-U_1277, /* ቷ */
div#popup-default-U_127F, /* ቿ */
div#popup-default-U_1297, /* ኗ */
div#popup-default-U_129F, /* ኟ */
div#popup-default-U_12A7, /* ኧ */
div#popup-default-U_12DF,  /* ዟ */
div#popup-default-U_12E7,  /* ዧ */
div#popup-default-U_12F7,  /* ዷ*/
div#popup-default-U_12FF,  /* ዿ */
div#popup-default-U_1307,  /* ጇ */
div#popup-default-U_1327,  /* ጧ */
div#popup-default-U_132F,  /* ጯ */
div#popup-default-U_1337,  /* ጷ */
div#popup-default-U_133F,  /* ጿ */
div#popup-default-U_134F,  /* ፏ */
div#popup-default-U_1357  /* ፗ */
{ background:  #e1cec9  ; color: black; }

div#popup-default-U_1248, /*  */
div#popup-default-U_1258, /*  */
div#popup-default-U_1288, /*  */
div#popup-default-U_12B0, /*  */
div#popup-default-U_12C0, /*  */
div#popup-default-U_1310  /*  */
/*
{
background-color: #00ff00;
opacity: 0.4;
background-image:  linear-gradient(135deg, #ffffff 25%, transparent 25%), linear-gradient(225deg, #ffffff 25%, transparent 25%), linear-gradient(45deg, #ffffff 25%, transp
/*
{
background-color: #00ff00;
opacity: 0.4;
background-image:  linear-gradient(135deg, #ffffff 25%, transparent 25%), linear-gradient(225deg, #ffffff 25%, transparent 25%), linear-gradient(45deg, #ffffff 25%, transparent 25%), linear-gradient(315deg, #ffffff 25%, #00ff00 25%);
background-position:  8px 0, 8px 0, 0 0, 0 0;
background-size: 8px 8px;
background-repeat: repeat;
}
*/
{
background-color: #00ff00;
opacity: 0.4;
background-size: 4px 4px;
background-image: repeating-linear-gradient(45deg, #ffffff 0, #ffffff 2px, #00FF00 0, #00FF00 50%);
}


/*
.ios.kmw-keyboard-gff_amharic #default-U_1200,
.ios.kmw-keyboard-gff_amharic #default-U_1210,
.ios.kmw-keyboard-gff_amharic #default-K_E { background: greenyellow; }

.android.kmw-keyboard-gff_amharic #default-U_1201,
.android.kmw-keyboard-gff_amharic #default-U_1210,
.android.kmw-keyboard-gff_amharic #default-K_E { background: greenyellow; }
*/
