/* Green vowels on desktop (Preferred selector) */
.desktop .kmw-keyboard-sil_brao #shift-K_A\+default,
.desktop .kmw-keyboard-sil_brao #default-K_A,
.desktop .kmw-keyboard-sil_brao #shift-K_I\+default,
.desktop .kmw-keyboard-sil_brao #shift-K_W\+default,
.desktop .kmw-keyboard-sil_brao #shift-K_U\+default,
.desktop .kmw-keyboard-sil_brao #shift-K_LBRKT\+default,
.desktop .kmw-keyboard-sil_brao #default-K_LBRKT,
.desktop .kmw-keyboard-sil_brao #shift-K_COLON\+default,
.desktop .kmw-keyboard-sil_brao #default-K_COLON,
.desktop .kmw-keyboard-sil_brao #shift-K_COMMA\+default,
.desktop .kmw-keyboard-sil_brao #default-K_COMMA,
.desktop .kmw-keyboard-sil_brao #shift-K_I,
.desktop .kmw-keyboard-sil_brao #default-K_I,
.desktop .kmw-keyboard-sil_brao #shift-K_W,
.desktop .kmw-keyboard-sil_brao #default-K_W,
.desktop .kmw-keyboard-sil_brao #shift-K_U,
.desktop .kmw-keyboard-sil_brao #default-K_U,
.desktop .kmw-keyboard-sil_brao #shift-K_Y,
.desktop .kmw-keyboard-sil_brao #shift-K_LBRKT,
.desktop .kmw-keyboard-sil_brao #shift-K_E,
.desktop .kmw-keyboard-sil_brao #shift-K_S,
.desktop .kmw-keyboard-sil_brao #shift-K_M,
.desktop .kmw-keyboard-sil_brao #shift-K_H,
.desktop .kmw-keyboard-sil_brao #shift-K_COLON,
.desktop .kmw-keyboard-sil_brao #shift-K_A { background: #8fce8f; }

/* Green subcripts on desktop (Preferred selector) */
.desktop .kmw-keyboard-sil_brao #default-K_J,
.desktop .kmw-keyboard-sil_brao #shift-K_R,
.desktop .kmw-keyboard-sil_brao #default-K_R\+shift { background: #8fc9c3; }


/* Green vowels on Android (Preferred selector) */
.android .kmw-keyboard-sil_brao #shift-K_A\+default,
.android .kmw-keyboard-sil_brao #default-K_A,
.android .kmw-keyboard-sil_brao #shift-K_I\+default,
.android .kmw-keyboard-sil_brao #shift-K_W\+default,
.android .kmw-keyboard-sil_brao #shift-K_U\+default,
.android .kmw-keyboard-sil_brao #shift-K_LBRKT\+default,
.android .kmw-keyboard-sil_brao #default-K_LBRKT,
.android .kmw-keyboard-sil_brao #shift-K_COLON\+default,
.android .kmw-keyboard-sil_brao #default-K_COLON,
.android .kmw-keyboard-sil_brao #shift-K_COMMA\+default,
.android .kmw-keyboard-sil_brao #default-K_COMMA,
.android .kmw-keyboard-sil_brao #shift-K_I,
.android .kmw-keyboard-sil_brao #default-K_I,
.android .kmw-keyboard-sil_brao #shift-K_W,
.android .kmw-keyboard-sil_brao #default-K_W,
.android .kmw-keyboard-sil_brao #shift-K_U,
.android .kmw-keyboard-sil_brao #default-K_U,
.android .kmw-keyboard-sil_brao #shift-K_Y,
.android .kmw-keyboard-sil_brao #shift-K_LBRKT,
.android .kmw-keyboard-sil_brao #shift-K_E,
.android .kmw-keyboard-sil_brao #shift-K_S,
.android .kmw-keyboard-sil_brao #shift-K_M,
.android .kmw-keyboard-sil_brao #shift-K_H,
.android .kmw-keyboard-sil_brao #shift-K_COLON,
.android .kmw-keyboard-sil_brao #shift-K_A { background: #598059; }

/* Green subcripts on Android (Preferred selector) */
.android .kmw-keyboard-sil_brao #default-K_J,
.android .kmw-keyboard-sil_brao #shift-K_R,
.android .kmw-keyboard-sil_brao #default-K_R\+shift { background: #466663; }


/* Green vowels on iOS (Preferred selector) */
.ios .kmw-keyboard-sil_brao #shift-K_A\+default,
.ios .kmw-keyboard-sil_brao #default-K_A,
.ios .kmw-keyboard-sil_brao #shift-K_I\+default,
.ios .kmw-keyboard-sil_brao #shift-K_W\+default,
.ios .kmw-keyboard-sil_brao #shift-K_U\+default,
.ios .kmw-keyboard-sil_brao #shift-K_LBRKT\+default,
.ios .kmw-keyboard-sil_brao #default-K_LBRKT,
.ios .kmw-keyboard-sil_brao #shift-K_COLON\+default,
.ios .kmw-keyboard-sil_brao #default-K_COLON,
.ios .kmw-keyboard-sil_brao #shift-K_COMMA\+default,
.ios .kmw-keyboard-sil_brao #default-K_COMMA,
.ios .kmw-keyboard-sil_brao #shift-K_I,
.ios .kmw-keyboard-sil_brao #default-K_I,
.ios .kmw-keyboard-sil_brao #shift-K_W,
.ios .kmw-keyboard-sil_brao #default-K_W,
.ios .kmw-keyboard-sil_brao #shift-K_U,
.ios .kmw-keyboard-sil_brao #default-K_U,
.ios .kmw-keyboard-sil_brao #shift-K_Y,
.ios .kmw-keyboard-sil_brao #shift-K_LBRKT,
.ios .kmw-keyboard-sil_brao #shift-K_E,
.ios .kmw-keyboard-sil_brao #shift-K_S,
.ios .kmw-keyboard-sil_brao #shift-K_M,
.ios .kmw-keyboard-sil_brao #shift-K_H,
.ios .kmw-keyboard-sil_brao #shift-K_COLON,
.ios .kmw-keyboard-sil_brao #shift-K_A { background: #598059; }

/* Green subcripts on Android (Preferred selector) */
.ios .kmw-keyboard-sil_brao #default-K_J,
.ios .kmw-keyboard-sil_brao #shift-K_R,
.ios .kmw-keyboard-sil_brao #default-K_R\+shift { background: #466663; }

