/*
 * Pastel colors for GFF Keyboards
 * Primarily from: https://www.behance.net/gallery/125405749/Top-10-trending-pastel-color-palettes-in-2021
 */

/*
*  =========== NUMERALS LAYER ===========
*
*/
/* numeral layer: western numerals */
.kmw-keyboard-gff_harege_fidelat #numerals-K_1, /* 1 */
.kmw-keyboard-gff_harege_fidelat #numerals-K_2, /* 2 */
.kmw-keyboard-gff_harege_fidelat #numerals-K_3, /* 3 */
.kmw-keyboard-gff_harege_fidelat #numerals-K_4, /* 4 */
.kmw-keyboard-gff_harege_fidelat #numerals-K_5, /* 5 */
.kmw-keyboard-gff_harege_fidelat #numerals-K_6, /* 6 */
.kmw-keyboard-gff_harege_fidelat #numerals-K_7, /* 7 */
.kmw-keyboard-gff_harege_fidelat #numerals-K_8, /* 8 */
.kmw-keyboard-gff_harege_fidelat #numerals-K_9, /* 9 */
.kmw-keyboard-gff_harege_fidelat #numerals-K_0 /* 0 */
  { background:  #ebece6 ; color: black ; } 

/* numeral layer: western numerals */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1369, /* ፲ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_136A, /* ፳ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_136B, /* ፴ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_136C, /* ፵ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_136D, /* ፶ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_136E, /* ፷ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_136F, /* ፸ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1370, /* ፹ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1371, /* ፺ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_137C  /* ፻ */
  { background:  #ece1d5 ; color: black ; } 

/* numeral layer: western numerals */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1372, /* ፲ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1373, /* ፳ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1374, /* ፴ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1375, /* ፵ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1376, /* ፶ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1377, /* ፷ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1378, /* ፸ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1379, /* ፹ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_137A, /* ፺ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_137B  /* ፻ */
  { background:  #f3d6ce ; color: black ; }

/* numeral layer: western numerals */
.kmw-keyboard-gff_harege_fidelat #numerals-K_NUMLOCK,
.kmw-keyboard-gff_harege_fidelat #numerals-U_1361, /* ፡ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1362, /* ። */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1363, /* ፣ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1364, /* ፤ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1365, /* ፥ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1366, /* ፦ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1367, /* ፯ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1360, /* ፠ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_1368, /* ፨ */
.kmw-keyboard-gff_harege_fidelat #numerals-K_BKSP 
  { background:  #ece1d5 ; color: black ; }

/* numeral layer: western numerals */
.kmw-keyboard-gff_harege_fidelat #numerals-K_LOPT, 
.kmw-keyboard-gff_harege_fidelat #numerals-U_00AB, /* « */
.kmw-keyboard-gff_harege_fidelat #numerals-U_2039, /* ‹ */
.kmw-keyboard-gff_harege_fidelat #numerals-U_201C, /* “ */
.kmw-keyboard-gff_harege_fidelat #numerals-K_HYPHEN, /* - */
.kmw-keyboard-gff_harege_fidelat #numerals-U_201D, /* ” */
.kmw-keyboard-gff_harege_fidelat #numerals-U_203A, /* › */
.kmw-keyboard-gff_harege_fidelat #numerals-U_00BB, /* » */
.kmw-keyboard-gff_harege_fidelat #numerals-K_ENTER
  { background:  #ebece6 ; color: black ; } 

.kmw-keyboard-gff_harege_fidelat #numerals-K_SPACE
  { background: #f4eee7; color: #f4eee7; } /* light peach: fff5ec */

.kmw-keyboard-gff_harege_fidelat #numerals-K_4\+shift,
.kmw-keyboard-gff_harege_fidelat #numerals-K_PERIOD
  { background: #f4eee7; color: black ; }

/*
*  =========== DEFAULT LAYER ===========
*
*/
.phone div.kmw-key.kmw-key-default[id$='K_SPACE'], .tablet div.kmw-key.kmw-key-default[id$='K_SPACE']
  { background: #f4eee7; color: #f4eee7; } /* eceae4 */
/* { background:  #ffdbdb ; color: black ; } */

.phone div.kmw-key.kmw-key-special[id$='T_MORE'], .tablet div.kmw-key.kmw-key-special[id$='T_MORE'] {
    color: #ece1d5;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* inner ring */
.phone div.kmw-key.kmw-key-default[id$='K_H'], .tablet div.kmw-key.kmw-key-default[id$='K_H'],
.phone div.kmw-key.kmw-key-default[id$='K_M'], .tablet div.kmw-key.kmw-key-default[id$='K_M'],
.phone div.kmw-key.kmw-key-default[id$='K_Q'], .tablet div.kmw-key.kmw-key-default[id$='K_Q'],
.phone div.kmw-key.kmw-key-default[id$='T_12A0'], .tablet div.kmw-key.kmw-key-default[id$='T_12A0'],
.phone div.kmw-key.kmw-key-default[id$='K_T'], .tablet div.kmw-key.kmw-key-default[id$='K_T'],
.phone div.kmw-key.kmw-key-default[id$='K_K'], .tablet div.kmw-key.kmw-key-default[id$='K_K'],
.phone div.kmw-key.kmw-key-default[id$='K_1+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_1+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_SLASH+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_SLASH+shift'] 
  { background:  #ffffb5 ; color: black ; }

/* 2nd ring */
.phone div.kmw-key.kmw-key-default[id$='K_L'], .tablet div.kmw-key.kmw-key-default[id$='K_L'],
.phone div.kmw-key.kmw-key-default[id$='K_R'], .tablet div.kmw-key.kmw-key-default[id$='K_R'],
.phone div.kmw-key.kmw-key-default[id$='K_N'], .tablet div.kmw-key.kmw-key-default[id$='K_N'],
.phone div.kmw-key.kmw-key-default[id$='K_N+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_N+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_G+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_G+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_Q+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_Q+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_B'], .tablet div.kmw-key.kmw-key-default[id$='K_B'],
.phone div.kmw-key.kmw-key-default[id$='T_12D0'], .tablet div.kmw-key.kmw-key-default[id$='T_12D0'],
.phone div.kmw-key.kmw-key-default[id$='K_T+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_T+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_C'], .tablet div.kmw-key.kmw-key-default[id$='K_C'],
.phone div.kmw-key.kmw-key-default[id$='K_C\+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_C+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_K+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_K+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_G'], .tablet div.kmw-key.kmw-key-default[id$='K_G'],
.phone div.kmw-key.kmw-key-default[id$='K_Y'], .tablet div.kmw-key.kmw-key-default[id$='K_Y']
  { background:  #e2f0cb ; color: black ; }

/* 3rd ring */
.phone div.kmw-key.kmw-key-default[id$='K_S+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_S+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_D'], .tablet div.kmw-key.kmw-key-default[id$='K_D'],
.phone div.kmw-key.kmw-key-default[id$='K_H+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_H+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_S'], .tablet div.kmw-key.kmw-key-default[id$='K_S'],
.phone div.kmw-key.kmw-key-default[id$='K_F'], .tablet div.kmw-key.kmw-key-default[id$='K_F'],
.phone div.kmw-key.kmw-key-default[id$='K_V'], .tablet div.kmw-key.kmw-key-default[id$='K_V'],
.phone div.kmw-key.kmw-key-default[id$='K_P+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_P+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_W'], .tablet div.kmw-key.kmw-key-default[id$='K_W'],
.phone div.kmw-key.kmw-key-default[id$='K_Z'], .tablet div.kmw-key.kmw-key-default[id$='K_Z'],
.phone div.kmw-key.kmw-key-default[id$='K_Z+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_Z+shift'] 
  { background: #ccf1ff ; color: black ; }

/* 4th ring */
.phone div.kmw-key.kmw-key-default[id$='T_1340'], .tablet div.kmw-key.kmw-key-default[id$='T_1340'],
.phone div.kmw-key.kmw-key-default[id$='K_J'], .tablet div.kmw-key.kmw-key-default[id$='K_J'],
.phone div.kmw-key.kmw-key-default[id$='T_1E7E0'], .tablet div.kmw-key.kmw-key-default[id$='T_1E7E0'],
.phone div.kmw-key.kmw-key-default[id$='T_1220'], .tablet div.kmw-key.kmw-key-default[id$='T_1220'],
.phone div.kmw-key.kmw-key-default[id$='K_X'], .tablet div.kmw-key.kmw-key-default[id$='K_X'],
.phone div.kmw-key.kmw-key-default[id$='K_P'], .tablet div.kmw-key.kmw-key-default[id$='K_P'],
.phone div.kmw-key.kmw-key-default[id$='U_2019'], .tablet div.kmw-key.kmw-key-default[id$='U_2019'],
.phone div.kmw-key.kmw-key-default[id$='U_1362'], .tablet div.kmw-key.kmw-key-default[id$='U_1362'],
.phone div.kmw-key.kmw-key-default[id$='T_1280'], .tablet div.kmw-key.kmw-key-default[id$='T_1280'],
.phone div.kmw-key.kmw-key-default[id$='K_NUMLOCK'], .tablet div.kmw-key.kmw-key-default[id$='K_NUMLOCK'] 
/* { background: #ece1d5 ; color: black ; } */
  { background: #f3d6ce ; color: black ; }

/* override for U+2019 background color in a popup context */
.phone.ios div.kmw-key.kmw-key-default[id='popup-punctuation-U_2019'], .tablet.ios div.kmw-key.kmw-key-default[id='popup-punctuation-U_2019']
  {background: #fdfdfe ; color: black ; }

.phone.android div.kmw-key.kmw-key-default[id='popup-punctuation-U_2019'], .tablet.android div.kmw-key.kmw-key-default[id='popup-punctuation-U_2019']
  {background: #777 ; color: white ; }

/* 5th ring - modifier keys */
.kmw-keyboard-gff_amharic #default-K_TWAA,
.phone div.kmw-key.kmw-key-shift[id$='K_SHIFT'], .tablet div.kmw-key.kmw-key-shift[id$='K_SHIFT'],
.phone div.kmw-key.kmw-key-shift[id$='K_LOPT'], .tablet div.kmw-key.kmw-key-shift[id$='K_LOPT'],
.phone div.kmw-key.kmw-key-shift[id$='K_BKSP'], .tablet div.kmw-key.kmw-key-shift[id$='K_BKSP'],
.phone div.kmw-key.kmw-key-shift[id$=K_ENTER], .tablet div.kmw-key.kmw-key-shift[id$=K_ENTER]
/* { background: #f3d6ce ; color: black ; } */
  { background: #ece1d5 ; color: black ; }

/* default layer ግዕዝ */
.phone div.kmw-key.kmw-key-default[id$='T_ግዕዝ'], .tablet div.kmw-key.kmw-key-default[id$='T_ግዕዝ']
  { background:  #e2f0cb; color: black ; } /*#baed91 */

/* default layer ካዕብ */
.phone div.kmw-key.kmw-key-default[id$='T_ካዕብ'], .tablet div.kmw-key.kmw-key-default[id$='T_ካዕብ']
  { background:  #ffffb5 ; color: black ; } /* #faf884 */ 

/* default layer ሣልስ */
.phone div.kmw-key.kmw-key-default[id$='T_ሣልስ'], .tablet div.kmw-key.kmw-key-default[id$='T_ሣልስ']
  { background:  #fea3aa ; color: black ; }

/* default layer ራብዕ */
.phone div.kmw-key.kmw-key-default[id$='T_ራብዕ'], .tablet div.kmw-key.kmw-key-default[id$='T_ራብዕ']
  { background:  #ccf1ff ; color: black ; } /* #b2cefe */

/* default layer ኃምስ */
.phone div.kmw-key.kmw-key-default[id$='T_ኃምስ'], .tablet div.kmw-key.kmw-key-default[id$='T_ኃምስ']
  { background:  #e0d7ff ; color: black ; } /* #f2a2e8 */

/* default layer ሳድስ */
.phone div.kmw-key.kmw-key-default[id$='T_ሳድስ'], .tablet div.kmw-key.kmw-key-default[id$='T_ሳድስ']
  { background: #eceae4; color: black ; }

/* default layer ሳብዕ */
.phone div.kmw-key.kmw-key-default[id$='T_ሳብዕ'], .tablet div.kmw-key.kmw-key-default[id$='T_ሳብዕ']
  { background:  #fad6b6 ; color: black ; } /* f8b88b*/

/* default layer ዘመደ-ራብዕ */
.phone div.kmw-key.kmw-key-default[id$='T_WWA'], .tablet div.kmw-key.kmw-key-default[id$='T_WWA']
/*  { background:  #e1cec9 ; color: black ; } */
    {
    background: #ffffff; color: black ;
    background: linear-gradient(180deg, #ffffff 0%, #ccf1ff 100%);
  }

/* ዘመደ-ግዕዝ */
.phone div.kmw-key.kmw-key-default[id$='T_WWE'], .tablet div.kmw-key.kmw-key-default[id$='T_WWE']
  {
    background: #ffffff; color: black ;
    background: linear-gradient(180deg, #ffffff 0%, #e2f0cb 100%);
  }

/* ዘመደ-ካዕብ */
.phone div.kmw-key.kmw-key-default[id$='T_WWU'], .tablet div.kmw-key.kmw-key-default[id$='T_WWU'],
.phone div.kmw-key.kmw-key-default[id$='T_WWU_GURAGE'], .tablet div.kmw-key.kmw-key-default[id$='T_WWU_GURAGE']
  {
    background: #ffffff; color: black ;
    background: linear-gradient(180deg, #ffffff 0%, #eceae4 100%);
  }

/* ዘመደ-ሣልስ */
.phone div.kmw-key.kmw-key-default[id$='T_WWI'], .tablet div.kmw-key.kmw-key-default[id$='T_WWI'],
.phone div.kmw-key.kmw-key-default[id$='T_WWI_GURAGE'], .tablet div.kmw-key.kmw-key-default[id$='T_WWI_GURAGE']
  {
    background: #ffffff; color: black ;
    background: linear-gradient(180deg, #ffffff 0%, #fea3aa 100%);
  }

/* ዘመደ-ኃምስ */
.phone div.kmw-key.kmw-key-default[id$='T_WWEE'], .tablet div.kmw-key.kmw-key-default[id$='T_WWEE'],
.phone div.kmw-key.kmw-key-default[id$='T_WWEE_GURAGE'], .tablet div.kmw-key.kmw-key-default[id$='T_WWEE_GURAGE']
  {
    background: #ffffff; color: black ;
    background: linear-gradient(180deg, #ffffff 0%, #e0d7ff 100%);
  }
