.highlightExample {font-family: GeezWeb !important; font-weight: bold; font-size: 1.4em; color: #0000ff}
.highlightKeys img {vertical-align:baseline !important}
.typing p, ul {margin-top: 0px; margin-bottom: 2px}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
    box-sizing: border-box;
}

.keys {
  display: inline-block;
  border: 1px solid black;
  padding: 5px; /* Add some space inside the box */
  margin: 0 2px; /* Add some space between the boxes */
}
kbd {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid black;
  margin: 0 2px; /* Add some space between the boxes */
}
.output {
  border-radius: 2px;
  padding: 2px;
  border: 2px solid green;
}
.input {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid black;
}
.key_example
{
  text-indent: 0px;
  background-color: #ebebeb;
}
.geez {
  background:  #e2f0cb ; 
}
.kaib {
  background:  #ffffb5 ;
}
.salis {
  background:  #fea3aa ;
}
.rabi {
  background: #ccf1ff ;
}
.hamis {
  background: #e0d7ff ;
}
.sabi {
  background: #fad6b6 ;
}
.zemede-geez {
  background: #ffffff;  color: black ;
  background: linear-gradient(180deg, #ffffff 0%, #e2f0cb 100%);
}
.zemede-kaib {
  background: #ffffff; color: black ;
  background: linear-gradient(180deg, #ffffff 0%, #eceae4 100%);
}
.zemede-salis {
  background: #ffffff;  color: black ;
  background: linear-gradient(180deg, #ffffff 0%, #fea3aa 100%);
}
.zemede-rabi {
  background: #ffffff;  color: black ;
  background: linear-gradient(180deg, #ffffff 0%, #ccf1ff 100%);
}
.zemede-hamis {
  background: #ffffff;  color: black ;
  background: linear-gradient(180deg, #ffffff 0%, #e0d7ff 100%);
}
.epunct {
  background: #f4eee7 ;
}
.etens {
  background: #f3d6ce ;
}

sup {font-size:xx-small; vertical-align:super;}

table.flat td, table.kb th { border: thin solid #666; text-align: center ; padding: 0.3em }
table.flat { border-bottom: hidden }
table.flat { empty-cells: show }
table.flat th { text-align: center; border: thin solid #666; background-color: #e0dacf }
table.flat caption { margin: 0.5em 0 0 0 }

   td.divide { border-left: 1px solid black }
   td.flat-bottom { border-bottom: 1px solid black }
   td.flat-top { border-top: 1px solid black }

table.kb th, table.kb td { padding: 0.3em }
table.kb th:first-child { background-color: #e0dacf; }
table.kb tr:first-child { background-color: #e0dacf; font-weight:bold; }
table.kb tr:first-child th:first-child { background-color: #ffffff; border-left-color: #ffffff; border-top-color: #ffffff }
table.kb tr:first-child th:last-child { background-color: #ffffff; border-right-color: #ffffff; border-top-color: #ffffff }
table.kb th { background-color: #e0dacf; border-left-color: #ffffff }
table.kb td, table.kb th { border: thin solid #666; text-align: center }
table.kb th { text-align: center; background-color: #d7d0b9 }
table.kb { border-bottom: hidden }
table.kb { empty-cells: show }
table.kb caption { margin: 0.5em 0 0 0 }
table.kb tr:last-child { text-align: center; background-color: #d7d0b9; font-weight:bold; }
table.kb tr:last-child th:first-child { background-color: #ffffff; border-left-color: #ffffff; border-bottom-color: #ffffff }
dd {margin: 0 0 1em; padding: 0}

table.punct th { font-weight: bold;  padding: 0.3em }
table.punct td { font-weight: normal; padding: 0.3em }
table.punct th:first-child { background-color: #e0dacf; }
table.punct tr:first-child { background-color: #e0dacf; }
table.punct tr:first-child th:first-child { background-color: #ffffff; border-left-color: #ffffff; border-top-color: #ffffff }
table.punct th { background-color: #e0dacf; border-left-color: #ffffff }
table.punct td, table.punct th { border: thin solid #666; text-align: center }
table.punct th { text-align: center; background-color: #d7d0b9 }
table.punct { border-bottom: hidden }
table.punct { empty-cells: show }

table.zaima th { font-weight: bold;  padding: 0.3em }
table.zaima td { font-weight: normal; padding: 0.3em }
table.zaima th:first-child { background-color: #e0dacf;}
table.zaima tr:first-child th  { background-color: #e0dacf; }
table.zaima tr:first-child th:first-child { background-color: #ffffff; border-left-color: #ffffff; border-top-color: #ffffff }
table.zaima th { background-color: #e0dacf; border-left-color: #ffffff }
table.zaima td, table.zaima th { border: thin solid #666; text-align: center }
table.zaima th { text-align: center; background-color: #d7d0b9 }
table.zaima { border-bottom: hidden }
table.zaima { empty-cells: show }
