@charset "UTF-8";

/**
 * Experimental styles for KeymanWeb.
 */

/* Background colour: */
.phone.android .kmw-key-layer-group { background-color: #464646 }

/* Key shape: */
.phone.android .kmw-key {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

/* Key colours: */
.phone.android .kmw-key.kmw-key-default { color: #FFF; background-color: #4F4F4F }
.phone.android .kmw-key.kmw-key-shift,
.phone.android .kmw-key.kmw-key-special { color: #FFF; background-color: #545454 }
.phone.android .kmw-key.kmw-key-shift-on,
.phone.android .kmw-key.kmw-key-special-on { color: #000; background-color: #76FCCD }
.phone.android .kmw-key.kmw-key-touched,
.phone.android .kmw-key.kmw-key-deadkey  { color: #76FCCD; background-color: #3A3D42 }
