
.tab-folder > .tab-content:target ~ .tab-content:last-child, .tab-folder > .tab-content {
    display: none;
}

.tab-folder > :last-child, .tab-folder > .tab-content:target {
        display: block;
    }
.button {
    /*background: #8c4646;
    background: linear-gradient(to right, darkgreen 33%, darkred 33%, darkred 66%, #aaaa00 66%); */
    background-color: #4CAF50; /*Green*/
    border: none;
    color: white;
    padding: 5px;
    word-wrap: break-word;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.right {
    float: right;
}
.left {
    float: left;
    }
.full {
    width: 98%;
    min-width: 700px;
    }
    
.red {
    color:red;
    }

h1.color {
    text-align: center;
}
.tagline {
    text-align: center;
    font-style: italic;
}
.buttonlang {
    background-color: pink;
    border: none;
    color: black;
    padding: 5px;
    word-wrap: break-word;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 94%;
    animation: pulse 1.5s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    background-color: pink;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    background-color: #DB7093;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    background-color: pink;
  }
}
.menu {
    display: block;
    width: 100%;
}
table {
    border-style: groove;
    border-color: coral;
    border-width: 7px;
    border-spacing: 0;
    border-collapse: collapse;
}
td {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    width: auto;
    padding: 5px;
}
object.long {
    min-height: 12000px;
    max-height: 20000px;
    overflow-y: hidden;
}
.input {
    font-size: 1.2em
}
body {
    padding-left: 10px;
    padding-right: 10px;
}
.output {
    font-size: 1.2em
}
.wrap-collabsible {
    /*  margin: 1.2rem; */
    margin-bottom: .5rem;
}
input[type='checkbox'] {
    display: none;
}
h3.color {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
    padding: 3px;
    color: #000000;
    background: linear-gradient(90deg, rgba(250,224,66,1) 0%, rgba(250,224,66,0) 100%);
    cursor: pointer;
    border-radius: 7px;
    }


h2.color {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem;
    color: #000000;
    background: linear-gradient(90deg, rgba(110,145,242,1) 0%, rgba(110,145,242,0) 100%);
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}


/* Blue */

span.keycap {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    white-space: nowrap;
    border: 1px solid #aaa;
    border-style: outset;
    border-radius: 4px;
    padding: 0px 3px 1px 3px;
    margin: 0px 0px 0px 0px;
    vertical-align: baseline;
    line-height: 1.8em;
    background: #f5f3f1;
}
blockquote {
    background: pink;
    padding: 5px;
    border: 1px solid grey;
    }

