/*green vowel keys for phone layouts*/
.phone .kmw-keyboard-sil_bunong #default-K_COMMA,
.phone .kmw-keyboard-sil_bunong #default-K_QUOTE, 
.phone .kmw-keyboard-sil_bunong #default-K_O,
.phone .kmw-keyboard-sil_bunong #default-K_A,
.phone .kmw-keyboard-sil_bunong #default-K_U,
.phone .kmw-keyboard-sil_bunong #shift-K_E\+default,
.phone .kmw-keyboard-sil_bunong #default-K_COLON,
.phone .kmw-keyboard-sil_bunong #shift-K_I\+default,
.phone .kmw-keyboard-sil_bunong #shift-K_I,
.phone .kmw-keyboard-sil_bunong #shift-K_W\+default,
.phone .kmw-keyboard-sil_bunong #shift-K_W,
.phone .kmw-keyboard-sil_bunong #shift-K_COLON,
.phone .kmw-keyboard-sil_bunong #shift-K_LBRKT\+default,
.phone .kmw-keyboard-sil_bunong #shift-K_E,
.phone .kmw-keyboard-sil_bunong #shift-K_S,
.phone .kmw-keyboard-sil_bunong #shift-K_O,
.phone .kmw-keyboard-sil_bunong #shift-K_U,
.phone .kmw-keyboard-sil_bunong #shift-K_LBRKT{
    background: green; 
}

/*green vowel keys for OSK and web to denote rota keys*/
.desktop .kmw-keyboard-sil_bunong #default-K_W,
.desktop .kmw-keyboard-sil_bunong #default-K_E, 
.desktop .kmw-keyboard-sil_bunong #default-K_O,
.desktop .kmw-keyboard-sil_bunong #default-K_I,
.desktop .kmw-keyboard-sil_bunong #default-K_U,
.desktop .kmw-keyboard-sil_bunong #default-K_LBRKT,
.desktop .kmw-keyboard-sil_bunong #default-K_RBRKT,
.desktop .kmw-keyboard-sil_bunong #default-K_BKSLASH,
.desktop .kmw-keyboard-sil_bunong #default-K_PERIOD,
.desktop .kmw-keyboard-sil_bunong #default-K_HYPHEN,
.desktop .kmw-keyboard-sil_bunong #default-K_BKQUOTE,
.desktop .kmw-keyboard-sil_bunong #shift-K_BKQUOTE,
.desktop .kmw-keyboard-sil_bunong #shift-K_9,
.desktop .kmw-keyboard-sil_bunong #shift-K_0,
.desktop .kmw-keyboard-sil_bunong #default-K_QUOTE,
.desktop .kmw-keyboard-sil_bunong #shift-K_QUOTE {
   text-shadow: 2px 2px 5px green;
}

/*green vowel keys for tablet layouts to denote rota keys*/
.tablet .kmw-keyboard-sil_bunong #default-K_W,
.tablet .kmw-keyboard-sil_bunong #default-K_E, 
.tablet .kmw-keyboard-sil_bunong #default-K_O,
.tablet .kmw-keyboard-sil_bunong #default-K_I,
.tablet .kmw-keyboard-sil_bunong #default-K_U,
.tablet .kmw-keyboard-sil_bunong #default-K_LBRKT,
.tablet .kmw-keyboard-sil_bunong #default-K_RBRKT,
.tablet .kmw-keyboard-sil_bunong #default-K_BKSLASH,
.tablet .kmw-keyboard-sil_bunong #default-K_PERIOD,
.tablet .kmw-keyboard-sil_bunong #default-K_HYPHEN,
.tablet .kmw-keyboard-sil_bunong #default-K_BKQUOTE,
.tablet .kmw-keyboard-sil_bunong #shift-K_BKQUOTE,
.tablet .kmw-keyboard-sil_bunong #shift-K_9,
.tablet .kmw-keyboard-sil_bunong #shift-K_0,
.tablet .kmw-keyboard-sil_bunong #default-K_QUOTE,
.tablet .kmw-keyboard-sil_bunong #shift-K_QUOTE {
   text-shadow: 2px 2px 5px green;
}

.phone #popup-default-U_17C5,
.phone #popup-default-U_17BC,
.phone #popup-default-U_17BD
{background: green; }
