/*green vowel keys for phone layouts*/
.phone .kmw-keyboard-sil_bunong #default-K_COMMA,
.phone .kmw-keyboard-sil_bunong #default-K_QUOTE, 
.phone .kmw-keyboard-sil_bunong #default-K_O,
.phone .kmw-keyboard-sil_bunong #default-K_A,
.phone .kmw-keyboard-sil_bunong #default-K_U,
.phone .kmw-keyboard-sil_bunong #default-K_E,
.phone .kmw-keyboard-sil_bunong #default-K_COLON,
.phone .kmw-keyboard-sil_bunong #shift-K_I\+default,
.phone .kmw-keyboard-sil_bunong #shift-K_I,
.phone .kmw-keyboard-sil_bunong #shift-K_W\+default,
.phone .kmw-keyboard-sil_bunong #shift-K_W,
.phone .kmw-keyboard-sil_bunong #shift-K_H,
.phone .kmw-keyboard-sil_bunong #shift-K_LBRKT\+default,
.phone .kmw-keyboard-sil_bunong #shift-K_E\+default,
.phone .kmw-keyboard-sil_bunong #shift-K_S,
.phone .kmw-keyboard-sil_bunong #shift-K_O,
.phone .kmw-keyboard-sil_bunong #shift-K_U,
.phone .kmw-keyboard-sil_bunong #shift-K_LBRKT
{background: green; }

