
.ios .kmw-keyboard-sil_madi #shift-K_PERIOD\+default,
.ios .kmw-keyboard-sil_madi #default-K_PERIOD {
    background: #00aaff;
}

.android .kmw-keyboard-sil_madi #shift-K_PERIOD\+default,
.android .kmw-keyboard-sil_madi #default-K_PERIOD {
    background: #00aaff;
}

.desktop .kmw-keyboard-sil_madi #shift-K_PERIOD\+default,
.desktop .kmw-keyboard-sil_madi #default-K_PERIOD {
    background: #00aaff;
}

.desktop .kmw-keyboard-sil_madi #shift-K_PERIOD+default,
.desktop .kmw-keyboard-sil_madi #default-K_X {
    color: #0d0;
}
