body { margin: 30px; 
font-family: Arial, Helvetica, sans-serif; font-size: 10pt;color: #464646;}
h1, h2, h3{color: #a64826; font-weight: bold;}
h2 {font-size: 14pt; }

.clr {clear: both; }
a:link {color: #c06060; text-decoration: underline;}
a:visited {text-decoration: underline; color: #804040;}
a:hover {text-decoration: underline !important; color: #f04040; }
img {border: none; }
p {font-size: 10pt; }

#title a, #footer a { color: white; text-decoration: none }

#container {margin: 0 auto 0 auto; background-color:#FFFFFF;}

/*Top Nav*/
#banner {background-image: url(/images/banner.png); background-repeat: no-repeat; height: 110px; margin-top: 1px}
#topBar {background-image: url(/images/topbar_bg.jpg); background-repeat: repeat-x; height: 30px; margin-top: 1px; clear: both;}
#title {color: #FFF; float: right; padding: 42px 20px 0 0; font:16pt Verdana }
#title a {color: #FFF;}
.topButtons a:link, .topButtons a:visited {text-decoration: none; color: #FFF; font-size: 14px; font-weight: bold;}
.topButtons a:hover {text-decoration: none; }
.topButtons {float: left; margin-top: 6px; margin-left: 25px;}
.topButtons div { float: left; }
.whiteText {color: #FFF; padding-top: 1px; }
.separator {float: left; margin-left: 15px; margin-right: 15px; }
.whiteText .separator { visibility: hidden }

.mainColumn_content { padding: 16px 30px; }

/*Footer*/

#footer {float: left; background-color: #6a2915; text-align: center; color:#FFFFFF; padding-top: 20px; padding-bottom: 20px; font-size: 9pt;}

/* Display tables */

table.display { font-size: 0.8em; border-collapse:	collapse; }
table.display tr td { padding: 2px 8px; }
table.display tr th { padding: 2px 8px; background: #f3e5de }

#osk { font-size: 18pt; margin-top: 4px }
#osk h3 { width: 25.38em; margin: 12px 0 0 0; background: #ad4a28; font-size: 18pt; border: solid 1px #ad4a28 }
#osk h3 span { font-size: 12pt; margin: 4px; color: white }
#osk_caption { font-size: 10pt; padding: 4px; border: 0; margin-bottom: 8px }


  .body_text h1 { 
	font: 36pt Tahoma; 
	text-align: left; 
	margin: 16px 0 24px 0; 
	color: #000000 
	}
  .body_text h2 { 
	font: 30pt Tahoma; 
	text-align: left; 
	margin: 16px 0 24px 0; 
	color: #000000 
	}
  .body_text h3 { 
	font: Bold 20pt Tahoma; 
	text-align: left; 
	margin: 16px 0 16px 0; 
	color:black 
	}
  .body_text h4 { 
	font: Bold 14pt Tahoma; 
	text-align: left; 
	margin: 24px 0 8px 0; 
	color: #000000 
	}
  .body_text h5 { 
	font: Bold 12pt Tahoma; 
	text-align: left; 
	margin: 16px 0 8px 0; 
	color: #000000 
	}
  .body_text p { 
	font-size: 10pt; 
	text-align: left; 
	margin: 0 0 8px 0; 
	color:#000000 
	}
  .body_text table { 
	font-size: 10pt; 
	text-align: left; 
	margin: 8px 8px 8px 8px; 
	color:#000000 
	}
  .body_text p.question { 
	text-align: left; 
	margin: 24px 0 8px 32px; 
	font: Bold 12pt Tahoma;
	font-style: italic; 
	font-weight: bold; 
	color:#A94827 
	}
  .body_text p.answer { 
	text-align: left; 
	margin: 0 0 8px 32px; 
	font-weight: normal; 
	color:#000000 
	}
	
	.body_text li {
	margin-bottom: 8pt;
	font-size: 10pt;
	}

/* On-Screen Keyboard */

        .key { 
            float: left;
            display: block; 
            position: relative;
            overflow: hidden;
            height: 35px;
            
                margin: 2px 0px 0px 2px;
                border: solid 1px grey;
              
        }
        
        #K_SPACE {
          width: 234px; 
          
        }

        #K_BKSLASH {
          width: 42px; 
          
        }
        
        #K_oE2 {
          
            display:none;
          
        }
        
        #K_SHIFTL {
          width: 80px;
        }
        
        .plain {
          
          background-repeat: no-repeat;
          width: 34px;
        }
        
        .special {
          background-repeat: no-repeat;
          
            background: #c0c0c0;
          
        }
        
        .keycap {
          font: bold 7pt Arial; 
          position: absolute; 
          left: 6px; 
          top: 6px;
        }
        
        .key .keycap {          
          display: block;
        }
        
        .special .keycap {
          display: block;
        }
        
        .keytext {
          
					font:
						12pt
							 
						"Galatia SIL"; 
          position: absolute; 
          display: block;
          right: 5px;
          bottom: 4px;
          color: blue;
        }
	
/* example and key images */

.highlightExample table { border-collapse: collapse; }
.highlightExample {color: blue; font-weight: bold; white-space: nowrap }
.highlightKeys {color: blue; font-weight: bold;}
#keymanExample {clear: both; color: #000080; border: 1px solid #8080ff; background-color: #e0e0ff; margin-top: 15px; font-size: 10pt }
#keymanExample h3 { color: white; display: block; margin: 0; padding: 2px 5px; background: #8080ff }
#keymanExample div { padding: 10px 5px; }
#keymanExample td { padding: 10px 5px; }
#keymanExample th { padding: 2px 5px; text-align: left; }

.highlightKeys .key-print { display: none }
.highlightKeys img { vertical-align: baseline; margin: 0 2px 0 0; background-image: url('keys2.gif'); height: 15px; width: 15px; }
.key-grp { margin: 0 4px; }
.key-shift { width: 41px !important; margin-right: 0px !important; background-position: 0 -45px; }
.key-ctrl { width: 33px !important; margin-right: 0px !important; background-position: -41px -45px; }
.key-alt { width: 32px !important; margin-right: 0px !important; background-position: -74px -45px; }
.key-32 { width: 37px !important; }

.key-33 { background-position: -37px 0px; }
.key-34 { background-position: -52px 0px; }
.key-35 { background-position: -67px 0px; }
.key-36 { background-position: -82px 0px; }
.key-37 { background-position: -97px 0px; }
.key-38 { background-position: -112px 0px; }
.key-39 { background-position: -127px 0px; }
.key-40 { background-position: -142px 0px; }
.key-41 { background-position: -157px 0px; }
.key-42 { background-position: -172px 0px; }
.key-43 { background-position: -187px 0px; }
.key-44 { background-position: -202px 0px; }
.key-45 { background-position: -217px 0px; }
.key-46 { background-position: -232px 0px; }
.key-47 { background-position: -247px 0px; }
.key-48 { background-position: -262px 0px; }
.key-49 { background-position: -277px 0px; }
.key-50 { background-position: -292px 0px; }
.key-51 { background-position: -307px 0px; }
.key-52 { background-position: -322px 0px; }
.key-53 { background-position: -337px 0px; }
.key-54 { background-position: -352px 0px; }
.key-55 { background-position: -367px 0px; }
.key-56 { background-position: -382px 0px; }
.key-57 { background-position: -397px 0px; }
.key-58 { background-position: -412px 0px; }
.key-59 { background-position: -427px 0px; }
.key-60 { background-position: -442px 0px; }
.key-61 { background-position: -457px 0px; }
.key-62 { background-position: -472px 0px; }
.key-63 { background-position: -487px 0px; }
.key-64 { background-position: 0px -15px; }
.key-65 { background-position: -15px -15px; }
.key-66 { background-position: -30px -15px; }
.key-67 { background-position: -45px -15px; }
.key-68 { background-position: -60px -15px; }
.key-69 { background-position: -75px -15px; }
.key-70 { background-position: -90px -15px; }
.key-71 { background-position: -105px -15px; }
.key-72 { background-position: -120px -15px; }
.key-73 { background-position: -135px -15px; }
.key-74 { background-position: -150px -15px; }
.key-75 { background-position: -165px -15px; }
.key-76 { background-position: -180px -15px; }
.key-77 { background-position: -195px -15px; }
.key-78 { background-position: -210px -15px; }
.key-79 { background-position: -225px -15px; }
.key-80 { background-position: -240px -15px; }
.key-81 { background-position: -255px -15px; }
.key-82 { background-position: -270px -15px; }
.key-83 { background-position: -285px -15px; }
.key-84 { background-position: -300px -15px; }
.key-85 { background-position: -315px -15px; }
.key-86 { background-position: -330px -15px; }
.key-87 { background-position: -345px -15px; }
.key-88 { background-position: -360px -15px; }
.key-89 { background-position: -375px -15px; }
.key-90 { background-position: -390px -15px; }
.key-91 { background-position: -405px -15px; }
.key-92 { background-position: -420px -15px; }
.key-93 { background-position: -435px -15px; }
.key-94 { background-position: -450px -15px; }
.key-95 { background-position: -465px -15px; }
.key-96 { background-position: 0px -30px; }
.key-97 { background-position: -15px -30px; }
.key-98 { background-position: -30px -30px; }
.key-99 { background-position: -45px -30px; }
.key-100 { background-position: -60px -30px; }
.key-101 { background-position: -75px -30px; }
.key-102 { background-position: -90px -30px; }
.key-103 { background-position: -105px -30px; }
.key-104 { background-position: -120px -30px; }
.key-105 { background-position: -135px -30px; }
.key-106 { background-position: -150px -30px; }
.key-107 { background-position: -165px -30px; }
.key-108 { background-position: -180px -30px; }
.key-109 { background-position: -195px -30px; }
.key-110 { background-position: -210px -30px; }
.key-111 { background-position: -225px -30px; }
.key-112 { background-position: -240px -30px; }
.key-113 { background-position: -255px -30px; }
.key-114 { background-position: -270px -30px; }
.key-115 { background-position: -285px -30px; }
.key-116 { background-position: -300px -30px; }
.key-117 { background-position: -315px -30px; }
.key-118 { background-position: -330px -30px; }
.key-119 { background-position: -345px -30px; }
.key-120 { background-position: -360px -30px; }
.key-121 { background-position: -375px -30px; }
.key-122 { background-position: -390px -30px; }
.key-123 { background-position: -405px -30px; }
.key-124 { background-position: -420px -30px; }
.key-125 { background-position: -435px -30px; }
.key-126 { background-position: -450px -30px; }
