/* tone keys colour */
.android .kmw-keyboard-obolo_chwerty #default-T_GRV {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty #default-T_CCM {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty #default-T_ACU {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty #default-T_CRN {color: #02ff02;}

.android .kmw-keyboard-obolo_chwerty #shift-T_GRV {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty #shift-T_CCM {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty #shift-T_ACU {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty #shift-T_CRN {color: #02ff02;}

.android .kmw-keyboard-obolo_chwerty #caps-T_GRV {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty #caps-T_CCM {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty #caps-T_ACU {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty #caps-T_CRN {color: #02ff02;}
