.phone div.kmw-key.kmw-key-default[id$='K_Q+default'] { background-color: yellow; color: black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_LBRKT+default'] { background-color: yellow; color: black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_COLON+default'] { background-color: yellow; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_RBRKT+default'] { background-color: yellow; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_QUOTE+default'] { background-color: yellow; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_Q'] { background-color: yellow; color: black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_LBRKT'] { background-color: yellow; color: black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_COLON'] { background-color: yellow; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_RBRKT'] { background-color: yellow; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_QUOTE'] { background-color: yellow; color:black; font-weight: bolder}.phone div.kmw-key.kmw-key-default[id$='U_1FF3'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_1FF7'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_1F87'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_1FB3'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_1FB7'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_1F97'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_1FC3'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_1FC7'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_1FA7'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_03CB'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_03CA'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_03B0'] { background-color: pink; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_0390'] { background-color: pink; color:black; font-weight: bolder}

.phone div.kmw-key.kmw-key-default[id$='U_0387'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_002F'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_HYPHEN'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_0021'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_003A'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_037E'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_COMMA'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_0027'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_002C'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='K_PERIOD'] { background-color: LightCyan; color:black; font-weight: bolder}


.phone div.kmw-key.kmw-key-default[id$='U_005B'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_00AB'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_003C'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_007B'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_005D'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_00BB'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_003E'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_007D'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_002B'] { background-color: LightCyan; color:black; font-weight: bolder}
.phone div.kmw-key.kmw-key-default[id$='U_0024'] { background-color: LightCyan; color:black; font-weight: bolder}

.tablet div.kmw-key.kmw-key-default[id$='K_Q+default'] { background-color: yellow; color: black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_LBRKT+default'] { background-color: yellow; color: black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_COLON+default'] { background-color: yellow; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_RBRKT+default'] { background-color: yellow; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_QUOTE+default'] { background-color: yellow; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_Q'] { background-color: yellow; color: black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_LBRKT'] { background-color: yellow; color: black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_RBRKT'] { background-color: yellow; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_QUOTE'] { background-color: yellow; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_COLON'] { background-color: yellow; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_1FF3'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_1FF7'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_1F87'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_1FB3'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_1FB7'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_1F97'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_1FC3'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_1FC7'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_1FA7'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_03CB'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_03CA'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_03B0'] { background-color: pink; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_0390'] { background-color: pink; color:black; font-weight: bolder}

.tablet div.kmw-key.kmw-key-default[id$='U_0387'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_002F'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_HYPHEN'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_0021'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_003A'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_037E'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_COMMA'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_0027'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_002C'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='K_PERIOD'] { background-color: LightCyan; color:black; font-weight: bolder}

.tablet div.kmw-key.kmw-key-default[id$='U_005B'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_00AB'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_003C'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_007B'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_005D'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_00BB'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_003E'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_007D'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_002B'] { background-color: LightCyan; color:black; font-weight: bolder}
.tablet div.kmw-key.kmw-key-default[id$='U_0024'] { background-color: LightCyan; color:black; font-weight: bolder}
