table td{
    width: 180px;
    text-align: center;
}

table{
    background: #e3e3e3;
}

kbd{
    background: #c0c0c0;
    border: solid 1px grey;
    padding: 4px 8px;
    margin-left:4px;
}