.kmw-keyboard-ho_latin   /*1234567890-ROW-NORMAL*/


#default-U_0041,#default-U_004A,#default-U_004B,#default-U_004C,#default-U_004D,#default-U_004E,#default-U_004F,#default-U_0042,#default-U_0043,#default-U_0044,#default-U_0045,#default-U_0046,#default-U_0047,#default-U_0048,#default-U_0049,#default-U_0050,#default-U_0051,#default-U_0052,#default-U_0053,#default-U_0054,#default-U_0055,#default-U_0056,#default-U_0057,#default-U_0058,#default-U_0059,#default-U_0060,#default-U_0061,#default-U_0062,#default-U_0063,#default-U_0064,#default-U_0065,#default-U_0066,


#default-T_ACUTE,#default-T_ACUTE, #default-T_TILDE, #default-K_1, #default-K_1, #default-K_2, #default-K_3, #default-K_4, #default-K_5, #default-K_6, #default-K_7, #default-K_8, #default-K_9, #default-K_0,


#lower-T_ACUTE,#lower-T_ACUTE, #lower-T_TILDE, #lower-K_1, #lower-K_1, #lower-K_2, #lower-K_3, #lower-K_4, #lower-K_5, #lower-K_6, #lower-K_7, #lower-K_8, #lower-K_9, #lower-K_0,


#shift-T_ACUTE,#shift-T_ACUTE, #shift-T_TILDE, #shift-K_1, #shift-K_2, #shift-K_3, #shift-K_4, #shift-K_5, #shift-K_6, #shift-K_7, #shift-K_8, #shift-K_9, #shift-K_0,


#shiftlock-T_ACUTE,#shiftlock-T_ACUTE, #shiftlock-T_TILDE, #shiftlock-K_1, #shiftlock-K_2, #shiftlock-K_3, #shiftlock-K_4, #shiftlock-K_5, #shiftlock-K_6, #shiftlock-K_7, #shiftlock-K_8, #shiftlock-K_9, #shiftlock-K_0,


#default-T_ACUTE, #default-T_TILDE, #default-T_GRAVE, #default-U_1E6D, #default-U_1E0D, #default-U_1E5B, #default-T_TILDEACUTE, #default-T_CIRCUMFLEX, #default-U_0144, #default-U_1E45,


#shift-T_ACUTE, #shift-T_TILDE, #shift-T_GRAVE, #shift-U_1E6C, #shift-U_1E0C, #shift-U_1E5A, #shift-T_TILDEACUTE, #shift-T_CIRCUMFLEX, #shift-U_0143, #shift-U_1E44,


#shiftlock-T_ACUTE, #shiftlock-T_TILDE, #shiftlock-T_GRAVE, #shiftlock-U_1E6C, #shiftlock-U_1E0C, #shiftlock-U_1E5A, #shiftlock-T_TILDEACUTE, #shiftlock-T_CIRCUMFLEX, #shiftlock-U_0143, #shiftlock-U_1E44,


#numeric-K_1, #numeric-K_2, #numeric-K_3, #numeric-K_4, #numeric-K_5, #numeric-K_6, #numeric-K_7, #numeric-K_8, #numeric-K_9, #numeric-K_0 {
   background-color: rgb(51, 51, 51);
   color: white;
   border-color: rgb(51, 51, 51);
   padding-bottom: 42px;
   border-radius: 0px;
   font-size: 24px;
}


.kmw-keyboard-ho_latin /* QWERTYUIOP-ROW*/


#default-U_1E31, #default-K_Q, #default-K_W, #default-K_E, #default-K_R, #default-K_T, #default-K_Y, #default-K_U, #default-K_I, #default-K_O, #default-K_P,


#lower-U_1E31, #lower-K_Q, #lower-K_W, #lower-K_E, #lower-K_R, #lower-K_T, #lower-K_Y, #lower-K_U, #lower-K_I, #lower-K_O, #lower-K_P,


#shift-U_1E30, #shift-K_Q, #shift-K_W, #shift-K_E, #shift-K_R, #shift-K_T, #shift-K_Y, #shift-K_U, #shift-K_I, #shift-K_O, #shift-K_P,


#shiftlock-U_1E30, #shiftlock-K_Q, #shiftlock-K_W, #shiftlock-K_E, #shiftlock-K_R, #shiftlock-K_T, #shiftlock-K_Y, #shiftlock-K_U, #shiftlock-K_I, #shiftlock-K_O, #shiftlock-K_P,


#numeric-U_0025, #numeric-U_00A9, #numeric-U_00AE, #numeric-U_002A, #numeric-U_007E, #numeric-U_0025, #numeric-U_005C, #numeric-K_EQUAL, #numeric-U_003C, #numeric-U_003E {
   background-color: rgb(51, 51, 51);
   color: white;
   border-color: rgb(51, 51, 51);
   padding-bottom: 50px;
   border-radius: 0px;
   font-size: 24px;
}


.kmw-keyboard-ho_latin /*ASDFGHJKL-ROW*/
#default-K_A, #shift-K_A, #shiftlock-K_A,


#default-K_A, #default-K_S, #default-K_D, #default-U_1E0C, #default-K_G, #default-K_H, #default-K_J, #default-K_K, #default-K_L, #default-T_F,


#lower-K_A, #lower-K_S, #lower-K_D, #lower-U_1E0D, #lower-K_G, #lower-K_H, #lower-K_J, #lower-K_K, #lower-K_L, #lower-T_F


#shift-K_A, #shift-K_S, #shift-K_D, #shift-U_1E06, #shift-K_G, #shift-K_H, #shift-K_J, #shift-K_K, #shift-K_L, #shift-T_F,


#shiftlock-K_A, #shiftlock-K_S, #shiftlock-K_D, #shiftlock-U_1E54, #shiftlock-K_G, #shiftlock-K_H, #shiftlock-K_J, #shiftlock-K_K, #shiftlock-K_L, #shiftlock-T_new_418, #shiftlock-T_F,


#numeric-U_118FF, #numeric-U_20B9, #numeric-U_0023, #numeric-U_005F, #numeric-U_0026, #numeric-U_002D, #numeric-U_002B, #numeric-U_0028, #numeric-U_0029, #numeric-U_007C {
   background-color: rgb(51, 51, 51);
   color: white;
   border-color: rgb(51, 51, 51);
   padding-bottom: 46px;
   border-radius: 0px;
   font-size: 24px;
}


.kmw-keyboard-ho_latin /*ZXCVBNM-ROW*/


#default-K_SHIFT, #default-K_SHIFT, #default-U_0074_0301, #default-U_1E6C, #default-U_1E5A, #default-U_0107, #default-K_C, #default-K_V, #default-T_V, #default-K_B, #default-K_N, #default-K_M, #default-K_BKSP,


#lower-K_SHIFT, #lower-U_0074_0301, #lower-U_1E6D, #lower-U_1E5B, #lower-U_0107, #lower-K_C, #lower-K_V, #lower-T_V, #lower-K_B, #lower-K_N, #lower-K_M, #lower-K_BKSP,


#shift-K_SHIFT, #shift-K_SHIFT, #shift-U_0074_0301, #shift-U_1E6C, #shift-U_1E5A, #shift-U_0107, #shift-K_C, #shift-K_V, #shift-T_V, #shift-K_B, #shift-K_N, #shift-K_M, #shift-K_BKSP,


#shiftlock-K_SHIFT, #shiftlock-U_0054_0301, #shiftlock-U_0106, #shiftlock-U_1E6C, #shiftlock-K_C, #shiftlock-K_V, #shiftlock-T_V, #shiftlock-K_B, #shiftlock-K_N, #shiftlock-K_M, #shiftlock-K_BKSP,


#numeric-U_0040, #numeric-U_0022, #numeric-U_0027, #numeric-U_003A, #numeric-U_003B, #numeric-U_002C, #numeric-U_002E, #numeric-U_002F, #numeric-K_BKSP {
   background-color: rgb(51, 51, 51);
   color: white;
   border-color: rgb(51, 51, 51);
   padding-bottom: 42px;
   border-radius: 0px;
   font-size: 24px;
}


.kmw-keyboard-ho_latin /*BOTTOM-ROW*/   


#default-K_NUMLOCK, #default-K_NUMLOCK, #default-K_COMMA, #default-K_LOPT, #default-K_SPACE,  #default-K_PERIOD, #default-K_ENTER,


#lower-K_NUMLOCK, #lower-K_NUMLOCK, #lower-K_COMMA, #lower-K_LOPT, #lower-K_SPACE,  #lower-K_PERIOD, #lower-K_ENTER,


#shift-K_NUMLOCK, #shift-K_COMMA, #shift-K_LOPT, #shift-K_SPACE,  #shift-K_PERIOD, #shift-K_ENTER,


#shiftlock-K_NUMLOCK, #shiftlock-K_COMMA, #shiftlock-K_LOPT, #shiftlock-K_SPACE,  #shiftlock-K_PERIOD, #shiftlock-K_ENTER,


#numeric-K_LOWER, #numeric-U_0021, #numeric-U_1E5513, #numeric-K_SPACE, #numeric-K_LOPT, #numeric-U_003F, #numeric-K_ENTER,


#numeric-U_0024,#numeric-U_005E,


#numeric-K_LOWER, #numeric-U_0021, #numeric-U_1E5513, #numeric-K_SPACE, #numeric-K_LOPT, #numeric-U_003F, #numeric-K_ENTER {
   background-color: rgb(51, 51, 51);
   color: white;
   border-color: rgb(51, 51, 51);
   padding-bottom: 5px;
   margin-bottom: 10px;
   border-radius: 0px;
   font-size: 24px;
}


.kmw-keyboard-ho_latin /*SPACE-BAR-CSS*/


#shiftlock-K_SPACE, #numeric-K_SPACE, #shift-K_SPACE, #lower-K_SPACE, #default-K_SPACE /* #numeric-K_SPACE, #shift-K_SPACE, default-K_SPACE, #shift-K_SPACE*/ {
   border: rgb(51, 51, 51);
   border-radius: 15px;
   border-top: 0px;
   background: -webkit-linear-gradient(top, rgb(51, 51, 51) 20%, rgba(0, 0, 0, 0) 20%), -webkit-linear-gradient(top, #aaaaaa 80%, rgb(51, 51, 51) 80%);
   margin-bottom: 9px;
   padding-top: 5px;
   font-size: 24px;
}


.kmw-keyboard-ho_latin   /*shift-SYMBOLS-TOP-ROW*/
#shift-U_0021, #shift-U_0021, #shift-U_0040, #shift-U_0023, #shift-U_0024, #shift-U_0025, #shift-U_005E, #shift-U_0026, #shift-U_002A, #shift-U_0028, #shift-U_0029,


#shift-U_0021, #shift-U_0040, #shift-U_0023, #shift-U_0024, #shift-U_0025, #shift-U_005E, #shift-U_0026, #shift-U_002A, #shift-U_0028, #shift-U_0029 {
   background-color: rgb(51, 51, 51);
   color: white;
   border-color: rgb(51, 51, 51);
   padding-bottom: 42px;
   border-radius: 0px;
   font-size: 24px;
}




.kmw-keyboard-ho_latin /*NUMshiftlock-CSS*/   


#default-T_ACUTE, #default-T_ACUTE, #default-T_TILDE, #default-T_TILDE,#default-T_GRAVE, #default-T_TILDEACUTE, #default-T_CIRCUMFLEX,
#shift-T_ACUTE, #shift-T_TILDE, #shift-T_TILDE, #shift-T_GRAVE, #shift-T_TILDEACUTE, #shift-T_CIRCUMFLEX,
#lower-T_ACUTE, #lower-T_TILDE, #lower-T_TILDE, #lower-T_GRAVE, #lower-T_TILDEACUTE, #lower-T_CIRCUMFLEX,
#shiftlock-T_ACUTE, #shiftlock-T_TILDE, #shiftlock-T_TILDE, #shiftlock-T_GRAVE, #shiftlock-T_TILDEACUTE, #shiftlock-T_CIRCUMFLEX  {
   font-size: 30px;
   font-family: Noto 'Courier New', Courier, monospace;
   padding-top: 5px;
}




.kmw-keyboard-ho_latin /*SHIFT*/


#default-K_SHIFT, #default-K_SHIFT,#lower-K_SHIFT,#shift-K_SHIFT,#shiftlock-K_SHIFT {
   padding: 0px;
}


