@font-face {
    font-family:"burushaski";
    src: url('fonts/Burusho_Quwatz_Nastaliq.woff2') format('woff2'),
         url('fonts/Burusho_Quwatz_Nastaliq.woff') format('woff'),
         url('fonts/Burusho_Quwatz_Nastaliq.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

html,body,p{
    padding-top: 1em;
    margin: auto;
    width: 98%;
    font-family: "burushaski";
    color:#504949;
    line-height: 1.5em;
span {
    line-height: 150%;
}  
}
h1,h2 {
    color: black;
    font-family: "burushaski";
    margin: auto;
    }
h1,h2,h3,h4 {
    padding-bottom: 1em;
    padding-top: 1em;
}
h1 {
    font-size: 1.5em;
padding-bottom: 1em;}
h1 {
    font-size: 1.10em;
}
img {
    max-width: 100%;
    height: auto;
}