/*
 * Pastel colors for GFF Keyboards
 * Primarily from: https://www.behance.net/gallery/125405749/Top-10-trending-pastel-color-palettes-in-2021
 */

/*
*  =========== NUMERALS LAYER ===========
*
*/
/* numeral layer: western numerals */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_1, /* 1 */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_2, /* 2 */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_3, /* 3 */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_4, /* 4 */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_5, /* 5 */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_6, /* 6 */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_7, /* 7 */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_8, /* 8 */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_9, /* 9 */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_0 /* 0 */
  { background:  #ebece6 ; color: black ; } 

/* numeral layer: western numerals */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1369, /* ፲ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_136A, /* ፳ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_136B, /* ፴ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_136C, /* ፵ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_136D, /* ፶ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_136E, /* ፷ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_136F, /* ፸ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1370, /* ፹ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1371, /* ፺ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_137C  /* ፻ */
  { background:  #ece1d5 ; color: black ; } 

/* numeral layer: western numerals */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1372, /* ፲ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1373, /* ፳ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1374, /* ፴ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1375, /* ፵ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1376, /* ፶ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1377, /* ፷ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1378, /* ፸ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1379, /* ፹ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_137A, /* ፺ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_137B  /* ፻ */
  { background:  #f3d6ce ; color: black ; }

/* numeral layer: western numerals */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1361, /* ፡ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1362, /* ። */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1363, /* ፣ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1364, /* ፤ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1365, /* ፥ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1366, /* ፦ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1367, /* ፯ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1360, /* ፠ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_1368, /* ፨ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_BKSP 
  { background:  #ece1d5 ; color: black ; }

/* numeral layer: western numerals */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_LOPT, 
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_00AB, /* « */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_2039, /* ‹ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_201C, /* “ */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_HYPHEN, /* - */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_201D, /* ” */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_203A, /* › */
.kmw-keyboard-gff_mesobe_fidelat #numerals-U_00BB, /* » */
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_ENTER
  { background:  #ebece6 ; color: black ; } 


.kmw-keyboard-gff_mesobe_fidelat #numerals-K_SPACE
  { background: #f4eee7 ; color: #f4eee7 ; } /* light peach: fff5ec */

.kmw-keyboard-gff_mesobe_fidelat #numerals-K_4\+shift,
.kmw-keyboard-gff_mesobe_fidelat #numerals-K_PERIOD
  { background: #f4eee7 ; color: black ; }

/*
*  =========== DEFAULT LAYER ===========
*
*/
.phone div.kmw-key.kmw-key-default[id$='K_SPACE'], .tablet div.kmw-key.kmw-key-default[id$='K_SPACE']
  { background: #f4eee7 ; color: #f4eee7 ; } /* eceae4 */
/* { background:  #ffdbdb  ; color: black; } */


/* inner ring */
.phone div.kmw-key.kmw-key-default[id$='K_H'], .tablet div.kmw-key.kmw-key-default[id$='K_H'],
.phone div.kmw-key.kmw-key-default[id$='K_M'], .tablet div.kmw-key.kmw-key-default[id$='K_M'],
.phone div.kmw-key.kmw-key-default[id$='K_Q'], .tablet div.kmw-key.kmw-key-default[id$='K_Q'],
.phone div.kmw-key.kmw-key-default[id$='T_12A0'], .tablet div.kmw-key.kmw-key-default[id$='T_12A0'],
.phone div.kmw-key.kmw-key-default[id$='K_T'], .tablet div.kmw-key.kmw-key-default[id$='K_T'],
.phone div.kmw-key.kmw-key-default[id$='K_K'], .tablet div.kmw-key.kmw-key-default[id$='K_K'],
.phone div.kmw-key.kmw-key-default[id$='K_1+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_1+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_SLASH+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_SLASH+shift']
  { background:  #ffffb5 ; color: black ; }

/* 2nd ring */
.phone div.kmw-key.kmw-key-default[id$='K_L'], .tablet div.kmw-key.kmw-key-default[id$='K_L'],
.phone div.kmw-key.kmw-key-default[id$='K_R'], .tablet div.kmw-key.kmw-key-default[id$='K_R'],
.phone div.kmw-key.kmw-key-default[id$='K_N'], .tablet div.kmw-key.kmw-key-default[id$='K_N'],
.phone div.kmw-key.kmw-key-default[id$='K_N+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_N+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_G+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_G+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_Q+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_Q+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_B'], .tablet div.kmw-key.kmw-key-default[id$='K_B'],
.phone div.kmw-key.kmw-key-default[id$='T_12D0'], .tablet div.kmw-key.kmw-key-default[id$='T_12D0'],
.phone div.kmw-key.kmw-key-default[id$='K_T+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_T+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_C'], .tablet div.kmw-key.kmw-key-default[id$='K_C'],
.phone div.kmw-key.kmw-key-default[id$='K_C+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_C+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_K+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_K+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_G'], .tablet div.kmw-key.kmw-key-default[id$='K_G'],
.phone div.kmw-key.kmw-key-default[id$='K_Y'], .tablet div.kmw-key.kmw-key-default[id$='K_Y']
  { background:  #e2f0cb ; color: black ; }

/* 3rd ring */
.phone div.kmw-key.kmw-key-default[id$='K_S+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_S+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_D'], .tablet div.kmw-key.kmw-key-default[id$='K_D'],
.phone div.kmw-key.kmw-key-default[id$='K_H+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_H+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_S'], .tablet div.kmw-key.kmw-key-default[id$='K_S'],
.phone div.kmw-key.kmw-key-default[id$='K_F'], .tablet div.kmw-key.kmw-key-default[id$='K_F'],
.phone div.kmw-key.kmw-key-default[id$='K_V'], .tablet div.kmw-key.kmw-key-default[id$='K_V'],
.phone div.kmw-key.kmw-key-default[id$='K_P+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_P+shift'],
.phone div.kmw-key.kmw-key-default[id$='K_W'], .tablet div.kmw-key.kmw-key-default[id$='K_W'],
.phone div.kmw-key.kmw-key-default[id$='K_Z'], .tablet div.kmw-key.kmw-key-default[id$='K_Z'],
.phone div.kmw-key.kmw-key-default[id$='K_Z+shift'], .tablet div.kmw-key.kmw-key-default[id$='K_Z+shift'] 
  { background: #ccf1ff ; color: black ; }

/* 4th ring */
.phone div.kmw-key.kmw-key-default[id$='T_1340'], .tablet div.kmw-key.kmw-key-default[id$='T_1340'],
.phone div.kmw-key.kmw-key-default[id$='K_J'], .tablet div.kmw-key.kmw-key-default[id$='K_J'],
.phone div.kmw-key.kmw-key-default[id$='T_1E7E0'], .tablet div.kmw-key.kmw-key-default[id$='T_1E7E0'],
.phone div.kmw-key.kmw-key-default[id$='T_1220'], .tablet div.kmw-key.kmw-key-default[id$='T_1220'],
.phone div.kmw-key.kmw-key-default[id$='K_X'], .tablet div.kmw-key.kmw-key-default[id$='K_X'],
.phone div.kmw-key.kmw-key-default[id$='U_2019'], .tablet div.kmw-key.kmw-key-default[id$='U_2019'],
.phone div.kmw-key.kmw-key-default[id$='K_P'], .tablet div.kmw-key.kmw-key-default[id$='K_P'],
.phone div.kmw-key.kmw-key-default[id$='U_1362'], .tablet div.kmw-key.kmw-key-default[id$='U_1362'],
.phone div.kmw-key.kmw-key-default[id$='T_1280'], .tablet div.kmw-key.kmw-key-default[id$='T_1280'],
.phone div.kmw-key.kmw-key-default[id$='K_NUMLOCK'], .tablet div.kmw-key.kmw-key-default[id$='K_NUMLOCK'] 
/* { background: #ece1d5  ; color: black; } */
  { background: #f3d6ce ; color: black; }

/* override for U+2019 background color in a popup context */
.phone.ios div.kmw-key.kmw-key-default[id='popup-punctuation-U_2019'], .tablet.ios div.kmw-key.kmw-key-default[id='popup-punctuation-U_2019']
  {background: #fdfdfe ; color: black ; }

.phone.android div.kmw-key.kmw-key-default[id='popup-punctuation-U_2019'], .tablet.android div.kmw-key.kmw-key-default[id='popup-punctuation-U_2019']
  {background: #777 ; color: white ; }

/* 5th ring - modifier keys */
.phone div.kmw-key.kmw-key-default[id$='T_ካዕብ'], .tablet div.kmw-key.kmw-key-default[id$='T_ካዕብ'],
.phone div.kmw-key.kmw-key-default[id$='T_ሣልስ'], .tablet div.kmw-key.kmw-key-default[id$='T_ሣልስ'],
.phone div.kmw-key.kmw-key-default[id$='T_ራብዕ'], .tablet div.kmw-key.kmw-key-default[id$='T_ራብዕ'],
.phone div.kmw-key.kmw-key-default[id$='T_ኃምስ'], .tablet div.kmw-key.kmw-key-default[id$='T_ኃምስ'],
.phone div.kmw-key.kmw-key-default[id$='T_ሳድስ'], .tablet div.kmw-key.kmw-key-default[id$='T_ሳድስ'],
.phone div.kmw-key.kmw-key-default[id$='T_ሳብዕ'], .tablet div.kmw-key.kmw-key-default[id$='T_ሳብዕ'],
.phone div.kmw-key.kmw-key-default[id$='T_WWA'], .tablet div.kmw-key.kmw-key-default[id$='T_WWA'],
.phone div.kmw-key.kmw-key-shift[id$='K_LOPT'], .tablet div.kmw-key.kmw-key-shift[id$='K_LOPT'],
.phone div.kmw-key.kmw-key-shift[id$='K_BKSP'], .tablet div.kmw-key.kmw-key-shift[id$='K_BKSP'],
.phone div.kmw-key.kmw-key-shift[id$='K_ENTER'], .tablet div.kmw-key.kmw-key-shift[id$='K_ENTER'],
.phone div.kmw-key.kmw-key-shift[id$='K_SHIFT'], .tablet div.kmw-key.kmw-key-shift[id$='K_SHIFT'],
.phone div.kmw-key.kmw-key-deadkey[id$='T_EMPTY'], .tablet div.kmw-key.kmw-key-deadkey[id$='T_EMPTY'],
.kmw-keyboard-gff_mesobe_fidelat #default-U_12CB
/* { background: #f3d6ce  ; color: black; } */
  { background: #ece1d5 ; color: black ; }


/* default layer ግዕዝ */
.phone div.kmw-key.kmw-key-default[id$='U_1200'], .tablet div.kmw-key.kmw-key-default[id$='U_1200'],  /* ሀ */
.phone div.kmw-key.kmw-key-default[id$='U_1208'], .tablet div.kmw-key.kmw-key-default[id$='U_1208'],  /* ለ */
.phone div.kmw-key.kmw-key-default[id$='U_1210'], .tablet div.kmw-key.kmw-key-default[id$='U_1210'],  /* ሐ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7E0'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7E0'], /* 𞟠 */
.phone div.kmw-key.kmw-key-default[id$='U_1218'], .tablet div.kmw-key.kmw-key-default[id$='U_1218'],  /* መ */
.phone div.kmw-key.kmw-key-default[id$='U_1220'], .tablet div.kmw-key.kmw-key-default[id$='U_1220'],  /* ሠ */
.phone div.kmw-key.kmw-key-default[id$='U_1228'], .tablet div.kmw-key.kmw-key-default[id$='U_1228'],  /* ረ */
.phone div.kmw-key.kmw-key-default[id$='U_1230'], .tablet div.kmw-key.kmw-key-default[id$='U_1230'],  /* ሰ */
.phone div.kmw-key.kmw-key-default[id$='U_1238'], .tablet div.kmw-key.kmw-key-default[id$='U_1238'],  /* ሸ */
.phone div.kmw-key.kmw-key-default[id$='U_1240'], .tablet div.kmw-key.kmw-key-default[id$='U_1240'],  /* ቀ */
.phone div.kmw-key.kmw-key-default[id$='U_1250'], .tablet div.kmw-key.kmw-key-default[id$='U_1250'],  /* ቀ */
.phone div.kmw-key.kmw-key-default[id$='U_1260'], .tablet div.kmw-key.kmw-key-default[id$='U_1260'],  /* በ */
.phone div.kmw-key.kmw-key-default[id$='U_1268'], .tablet div.kmw-key.kmw-key-default[id$='U_1268'],  /* ቨ */
.phone div.kmw-key.kmw-key-default[id$='U_1270'], .tablet div.kmw-key.kmw-key-default[id$='U_1270'],  /* ተ */
.phone div.kmw-key.kmw-key-default[id$='U_1278'], .tablet div.kmw-key.kmw-key-default[id$='U_1278'],  /* ቸ */
.phone div.kmw-key.kmw-key-default[id$='U_1280'], .tablet div.kmw-key.kmw-key-default[id$='U_1280'],  /* ኀ */
.phone div.kmw-key.kmw-key-default[id$='U_1290'], .tablet div.kmw-key.kmw-key-default[id$='U_1290'],  /* ነ */
.phone div.kmw-key.kmw-key-default[id$='U_1298'], .tablet div.kmw-key.kmw-key-default[id$='U_1298'],  /* ኘ */
.phone div.kmw-key.kmw-key-default[id$='U_12A0'], .tablet div.kmw-key.kmw-key-default[id$='U_12A0'],  /* አ */
.phone div.kmw-key.kmw-key-default[id$='U_12A8'], .tablet div.kmw-key.kmw-key-default[id$='U_12A8'],  /* ከ */
.phone div.kmw-key.kmw-key-default[id$='U_12B8'], .tablet div.kmw-key.kmw-key-default[id$='U_12B8'],  /* ኸ */
.phone div.kmw-key.kmw-key-default[id$='U_12C8'], .tablet div.kmw-key.kmw-key-default[id$='U_12C8'],  /* ወ */
.phone div.kmw-key.kmw-key-default[id$='U_12D0'], .tablet div.kmw-key.kmw-key-default[id$='U_12D0'],  /* ዐ */
.phone div.kmw-key.kmw-key-default[id$='U_12D8'], .tablet div.kmw-key.kmw-key-default[id$='U_12D8'],  /* ዘ */
.phone div.kmw-key.kmw-key-default[id$='U_12E0'], .tablet div.kmw-key.kmw-key-default[id$='U_12E0'],  /* ዠ */
.phone div.kmw-key.kmw-key-default[id$='U_12E8'], .tablet div.kmw-key.kmw-key-default[id$='U_12E8'],  /* የ */
.phone div.kmw-key.kmw-key-default[id$='U_12F0'], .tablet div.kmw-key.kmw-key-default[id$='U_12F0'],  /* ደ */
.phone div.kmw-key.kmw-key-default[id$='U_12F8'], .tablet div.kmw-key.kmw-key-default[id$='U_12F8'],  /* ዸ */
.phone div.kmw-key.kmw-key-default[id$='U_1300'], .tablet div.kmw-key.kmw-key-default[id$='U_1300'],  /* ጀ */
.phone div.kmw-key.kmw-key-default[id$='U_1308'], .tablet div.kmw-key.kmw-key-default[id$='U_1308'],  /* ገ */
.phone div.kmw-key.kmw-key-default[id$='U_1318'], .tablet div.kmw-key.kmw-key-default[id$='U_1318'],  /* ጘ */
.phone div.kmw-key.kmw-key-default[id$='U_1320'], .tablet div.kmw-key.kmw-key-default[id$='U_1320'],  /* ጠ */
.phone div.kmw-key.kmw-key-default[id$='U_1328'], .tablet div.kmw-key.kmw-key-default[id$='U_1328'],  /* ጨ */
.phone div.kmw-key.kmw-key-default[id$='U_1330'], .tablet div.kmw-key.kmw-key-default[id$='U_1330'],  /* ጰ */
.phone div.kmw-key.kmw-key-default[id$='U_1338'], .tablet div.kmw-key.kmw-key-default[id$='U_1338'],  /* ጸ */
.phone div.kmw-key.kmw-key-default[id$='U_1340'], .tablet div.kmw-key.kmw-key-default[id$='U_1340'],  /* ፀ */
.phone div.kmw-key.kmw-key-default[id$='U_1348'], .tablet div.kmw-key.kmw-key-default[id$='U_1348'],  /* ፈ */
.phone div.kmw-key.kmw-key-default[id$='U_1350'], .tablet div.kmw-key.kmw-key-default[id$='U_1350']   /* ፐ */
  { background:  #e2f0cb ; color: black; } /*#baed91 */

/* default layer ካዕብ */
.phone div.kmw-key.kmw-key-default[id$='U_1201'], .tablet div.kmw-key.kmw-key-default[id$='U_1201'],  /* ሁ */
.phone div.kmw-key.kmw-key-default[id$='U_1209'], .tablet div.kmw-key.kmw-key-default[id$='U_1209'],  /* ሉ */
.phone div.kmw-key.kmw-key-default[id$='U_1211'], .tablet div.kmw-key.kmw-key-default[id$='U_1211'],  /* ሑ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7E1'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7E1'], /* 𞟡 */
.phone div.kmw-key.kmw-key-default[id$='U_1219'], .tablet div.kmw-key.kmw-key-default[id$='U_1219'],  /* ሙ */
.phone div.kmw-key.kmw-key-default[id$='U_1221'], .tablet div.kmw-key.kmw-key-default[id$='U_1221'],  /* ሡ */
.phone div.kmw-key.kmw-key-default[id$='U_1229'], .tablet div.kmw-key.kmw-key-default[id$='U_1229'],  /* ሩ */
.phone div.kmw-key.kmw-key-default[id$='U_1231'], .tablet div.kmw-key.kmw-key-default[id$='U_1231'],  /* ሱ */
.phone div.kmw-key.kmw-key-default[id$='U_1239'], .tablet div.kmw-key.kmw-key-default[id$='U_1239'],  /* ሹ */
.phone div.kmw-key.kmw-key-default[id$='U_1241'], .tablet div.kmw-key.kmw-key-default[id$='U_1241'],  /* ቁ */
.phone div.kmw-key.kmw-key-default[id$='U_1251'], .tablet div.kmw-key.kmw-key-default[id$='U_1251'],  /* ቑ */
.phone div.kmw-key.kmw-key-default[id$='U_1261'], .tablet div.kmw-key.kmw-key-default[id$='U_1261'],  /* ቡ */
.phone div.kmw-key.kmw-key-default[id$='U_1269'], .tablet div.kmw-key.kmw-key-default[id$='U_1269'],  /* ቩ */
.phone div.kmw-key.kmw-key-default[id$='U_1271'], .tablet div.kmw-key.kmw-key-default[id$='U_1271'],  /* ቱ */
.phone div.kmw-key.kmw-key-default[id$='U_1279'], .tablet div.kmw-key.kmw-key-default[id$='U_1279'],  /* ቹ */
.phone div.kmw-key.kmw-key-default[id$='U_1281'], .tablet div.kmw-key.kmw-key-default[id$='U_1281'],  /* ኁ */
.phone div.kmw-key.kmw-key-default[id$='U_1291'], .tablet div.kmw-key.kmw-key-default[id$='U_1291'],  /* ኑ */
.phone div.kmw-key.kmw-key-default[id$='U_1299'], .tablet div.kmw-key.kmw-key-default[id$='U_1299'],  /* ኙ */
.phone div.kmw-key.kmw-key-default[id$='U_12A1'], .tablet div.kmw-key.kmw-key-default[id$='U_12A1'],  /* ኡ */
.phone div.kmw-key.kmw-key-default[id$='U_12A9'], .tablet div.kmw-key.kmw-key-default[id$='U_12A9'],  /* ኩ */
.phone div.kmw-key.kmw-key-default[id$='U_12B9'], .tablet div.kmw-key.kmw-key-default[id$='U_12B9'],  /* ኹ */
.phone div.kmw-key.kmw-key-default[id$='U_12C9'], .tablet div.kmw-key.kmw-key-default[id$='U_12C9'],  /* ዉ */
.phone div.kmw-key.kmw-key-default[id$='U_12D1'], .tablet div.kmw-key.kmw-key-default[id$='U_12D1'],  /* ዑ */
.phone div.kmw-key.kmw-key-default[id$='U_12D9'], .tablet div.kmw-key.kmw-key-default[id$='U_12D9'],  /* ዙ */
.phone div.kmw-key.kmw-key-default[id$='U_12E1'], .tablet div.kmw-key.kmw-key-default[id$='U_12E1'],  /* ዡ */
.phone div.kmw-key.kmw-key-default[id$='U_12E9'], .tablet div.kmw-key.kmw-key-default[id$='U_12E9'],  /* ዩ */
.phone div.kmw-key.kmw-key-default[id$='U_12F1'], .tablet div.kmw-key.kmw-key-default[id$='U_12F1'],  /* ዱ */
.phone div.kmw-key.kmw-key-default[id$='U_12F9'], .tablet div.kmw-key.kmw-key-default[id$='U_12F9'],  /* ዹ */
.phone div.kmw-key.kmw-key-default[id$='U_1301'], .tablet div.kmw-key.kmw-key-default[id$='U_1301'],  /* ጁ */
.phone div.kmw-key.kmw-key-default[id$='U_1309'], .tablet div.kmw-key.kmw-key-default[id$='U_1309'],  /* ጉ */
.phone div.kmw-key.kmw-key-default[id$='U_1319'], .tablet div.kmw-key.kmw-key-default[id$='U_1319'],  /* ጙ */
.phone div.kmw-key.kmw-key-default[id$='U_1321'], .tablet div.kmw-key.kmw-key-default[id$='U_1321'],  /* ጡ */
.phone div.kmw-key.kmw-key-default[id$='U_1329'], .tablet div.kmw-key.kmw-key-default[id$='U_1329'],  /* ጩ */
.phone div.kmw-key.kmw-key-default[id$='U_1331'], .tablet div.kmw-key.kmw-key-default[id$='U_1331'],  /* ጱ */
.phone div.kmw-key.kmw-key-default[id$='U_1339'], .tablet div.kmw-key.kmw-key-default[id$='U_1339'],  /* ጹ */
.phone div.kmw-key.kmw-key-default[id$='U_1341'], .tablet div.kmw-key.kmw-key-default[id$='U_1341'],  /* ፁ */
.phone div.kmw-key.kmw-key-default[id$='U_1349'], .tablet div.kmw-key.kmw-key-default[id$='U_1349'],  /* ፉ */
.phone div.kmw-key.kmw-key-default[id$='U_1351'], .tablet div.kmw-key.kmw-key-default[id$='U_1351']   /* ፑ */
  { background:  #ffffb5 ; color: black; } /* #faf884 */ 

/* default layer ሣልስ */
.phone div.kmw-key.kmw-key-default[id$='U_1202'], .tablet div.kmw-key.kmw-key-default[id$='U_1202'],  /* ሂ */
.phone div.kmw-key.kmw-key-default[id$='U_120A'], .tablet div.kmw-key.kmw-key-default[id$='U_120A'],  /* ሊ */
.phone div.kmw-key.kmw-key-default[id$='U_1212'], .tablet div.kmw-key.kmw-key-default[id$='U_1212'],  /* ሒ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7E2'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7E2'],  /* 𞟢 */
.phone div.kmw-key.kmw-key-default[id$='U_121A'], .tablet div.kmw-key.kmw-key-default[id$='U_121A'],  /* ሚ */
.phone div.kmw-key.kmw-key-default[id$='U_1222'], .tablet div.kmw-key.kmw-key-default[id$='U_1222'],  /* ሢ */
.phone div.kmw-key.kmw-key-default[id$='U_122A'], .tablet div.kmw-key.kmw-key-default[id$='U_122A'],  /* ሪ */
.phone div.kmw-key.kmw-key-default[id$='U_1232'], .tablet div.kmw-key.kmw-key-default[id$='U_1232'],  /* ሲ */
.phone div.kmw-key.kmw-key-default[id$='U_123A'], .tablet div.kmw-key.kmw-key-default[id$='U_123A'],  /* ሺ */
.phone div.kmw-key.kmw-key-default[id$='U_1242'], .tablet div.kmw-key.kmw-key-default[id$='U_1242'],  /* ቂ */
.phone div.kmw-key.kmw-key-default[id$='U_1252'], .tablet div.kmw-key.kmw-key-default[id$='U_1252'],  /* ቒ */
.phone div.kmw-key.kmw-key-default[id$='U_1262'], .tablet div.kmw-key.kmw-key-default[id$='U_1262'],  /* ቢ */
.phone div.kmw-key.kmw-key-default[id$='U_126A'], .tablet div.kmw-key.kmw-key-default[id$='U_126A'],  /* ቪ */
.phone div.kmw-key.kmw-key-default[id$='U_1272'], .tablet div.kmw-key.kmw-key-default[id$='U_1272'],  /* ቲ */
.phone div.kmw-key.kmw-key-default[id$='U_127A'], .tablet div.kmw-key.kmw-key-default[id$='U_127A'],  /* ቺ */
.phone div.kmw-key.kmw-key-default[id$='U_1282'], .tablet div.kmw-key.kmw-key-default[id$='U_1282'],  /* ኂ */
.phone div.kmw-key.kmw-key-default[id$='U_1292'], .tablet div.kmw-key.kmw-key-default[id$='U_1292'],  /* ኒ */
.phone div.kmw-key.kmw-key-default[id$='U_129A'], .tablet div.kmw-key.kmw-key-default[id$='U_129A'],  /* ኚ */
.phone div.kmw-key.kmw-key-default[id$='U_12A2'], .tablet div.kmw-key.kmw-key-default[id$='U_12A2'],  /* ኢ */
.phone div.kmw-key.kmw-key-default[id$='U_12AA'], .tablet div.kmw-key.kmw-key-default[id$='U_12AA'],  /* ኪ */
.phone div.kmw-key.kmw-key-default[id$='U_12BA'], .tablet div.kmw-key.kmw-key-default[id$='U_12BA'],  /* ኺ */
.phone div.kmw-key.kmw-key-default[id$='U_12CA'], .tablet div.kmw-key.kmw-key-default[id$='U_12CA'],  /* ዊ */
.phone div.kmw-key.kmw-key-default[id$='U_12D2'], .tablet div.kmw-key.kmw-key-default[id$='U_12D2'],  /* ዒ */
.phone div.kmw-key.kmw-key-default[id$='U_12DA'], .tablet div.kmw-key.kmw-key-default[id$='U_12DA'],  /* ዚ */
.phone div.kmw-key.kmw-key-default[id$='U_12E2'], .tablet div.kmw-key.kmw-key-default[id$='U_12E2'],  /* ዢ */
.phone div.kmw-key.kmw-key-default[id$='U_12EA'], .tablet div.kmw-key.kmw-key-default[id$='U_12EA'],  /* ዪ */
.phone div.kmw-key.kmw-key-default[id$='U_12F2'], .tablet div.kmw-key.kmw-key-default[id$='U_12F2'],  /* ዲ */
.phone div.kmw-key.kmw-key-default[id$='U_12FA'], .tablet div.kmw-key.kmw-key-default[id$='U_12FA'],  /* ዺ */
.phone div.kmw-key.kmw-key-default[id$='U_1302'], .tablet div.kmw-key.kmw-key-default[id$='U_1302'],  /* ጂ */
.phone div.kmw-key.kmw-key-default[id$='U_130A'], .tablet div.kmw-key.kmw-key-default[id$='U_130A'],  /* ጊ */
.phone div.kmw-key.kmw-key-default[id$='U_131A'], .tablet div.kmw-key.kmw-key-default[id$='U_131A'],  /* ጚ */
.phone div.kmw-key.kmw-key-default[id$='U_1322'], .tablet div.kmw-key.kmw-key-default[id$='U_1322'],  /* ጢ */
.phone div.kmw-key.kmw-key-default[id$='U_132A'], .tablet div.kmw-key.kmw-key-default[id$='U_132A'],  /* ጪ */
.phone div.kmw-key.kmw-key-default[id$='U_1332'], .tablet div.kmw-key.kmw-key-default[id$='U_1332'],  /* ጲ */
.phone div.kmw-key.kmw-key-default[id$='U_133A'], .tablet div.kmw-key.kmw-key-default[id$='U_133A'],  /* ጺ */
.phone div.kmw-key.kmw-key-default[id$='U_1342'], .tablet div.kmw-key.kmw-key-default[id$='U_1342'],  /* ፂ */
.phone div.kmw-key.kmw-key-default[id$='U_134A'], .tablet div.kmw-key.kmw-key-default[id$='U_134A'],  /* ፊ */
.phone div.kmw-key.kmw-key-default[id$='U_1352'], .tablet div.kmw-key.kmw-key-default[id$='U_1352']   /* ፒ */
  { background:  #fea3aa  ; color: black; }

/* default layer ራብዕ */
.phone div.kmw-key.kmw-key-default[id$='U_1203'], .tablet div.kmw-key.kmw-key-default[id$='U_1203'],  /* ሃ */
.phone div.kmw-key.kmw-key-default[id$='U_120B'], .tablet div.kmw-key.kmw-key-default[id$='U_120B'],  /* ላ */
.phone div.kmw-key.kmw-key-default[id$='U_1213'], .tablet div.kmw-key.kmw-key-default[id$='U_1213'],  /* ሓ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7E3'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7E3'], /* 𞟣 */
.phone div.kmw-key.kmw-key-default[id$='U_121B'], .tablet div.kmw-key.kmw-key-default[id$='U_121B'],  /* ማ */
.phone div.kmw-key.kmw-key-default[id$='U_1223'], .tablet div.kmw-key.kmw-key-default[id$='U_1223'],  /* ሣ */
.phone div.kmw-key.kmw-key-default[id$='U_122B'], .tablet div.kmw-key.kmw-key-default[id$='U_122B'],  /* ራ */
.phone div.kmw-key.kmw-key-default[id$='U_1233'], .tablet div.kmw-key.kmw-key-default[id$='U_1233'],  /* ሳ */
.phone div.kmw-key.kmw-key-default[id$='U_123B'], .tablet div.kmw-key.kmw-key-default[id$='U_123B'],  /* ሻ */
.phone div.kmw-key.kmw-key-default[id$='U_1243'], .tablet div.kmw-key.kmw-key-default[id$='U_1243'],  /* ቃ */
.phone div.kmw-key.kmw-key-default[id$='U_1253'], .tablet div.kmw-key.kmw-key-default[id$='U_1253'],  /* ቓ */
.phone div.kmw-key.kmw-key-default[id$='U_1263'], .tablet div.kmw-key.kmw-key-default[id$='U_1263'],  /* ባ */
.phone div.kmw-key.kmw-key-default[id$='U_126B'], .tablet div.kmw-key.kmw-key-default[id$='U_126B'],  /* ቫ */
.phone div.kmw-key.kmw-key-default[id$='U_1273'], .tablet div.kmw-key.kmw-key-default[id$='U_1273'],  /* ታ */
.phone div.kmw-key.kmw-key-default[id$='U_127B'], .tablet div.kmw-key.kmw-key-default[id$='U_127B'],  /* ቻ */
.phone div.kmw-key.kmw-key-default[id$='U_1283'], .tablet div.kmw-key.kmw-key-default[id$='U_1283'],  /* ኃ */
.phone div.kmw-key.kmw-key-default[id$='U_1293'], .tablet div.kmw-key.kmw-key-default[id$='U_1293'],  /* ና */
.phone div.kmw-key.kmw-key-default[id$='U_129B'], .tablet div.kmw-key.kmw-key-default[id$='U_129B'],  /* ኛ */
.phone div.kmw-key.kmw-key-default[id$='U_12A3'], .tablet div.kmw-key.kmw-key-default[id$='U_12A3'],  /* ኣ */
.phone div.kmw-key.kmw-key-default[id$='U_12AB'], .tablet div.kmw-key.kmw-key-default[id$='U_12AB'],  /* ካ */
.phone div.kmw-key.kmw-key-default[id$='U_12BB'], .tablet div.kmw-key.kmw-key-default[id$='U_12BB'],  /* ኻ */
.phone div.kmw-key.kmw-key-default[id$='U_12CB'], .tablet div.kmw-key.kmw-key-default[id$='U_12CB'],  /* ዋ */
.phone div.kmw-key.kmw-key-default[id$='U_12D3'], .tablet div.kmw-key.kmw-key-default[id$='U_12D3'],  /* ዓ */
.phone div.kmw-key.kmw-key-default[id$='U_12DB'], .tablet div.kmw-key.kmw-key-default[id$='U_12DB'],  /* ዛ */
.phone div.kmw-key.kmw-key-default[id$='U_12E3'], .tablet div.kmw-key.kmw-key-default[id$='U_12E3'],  /* ዣ */
.phone div.kmw-key.kmw-key-default[id$='U_12EB'], .tablet div.kmw-key.kmw-key-default[id$='U_12EB'],  /* ያ */
.phone div.kmw-key.kmw-key-default[id$='U_12F3'], .tablet div.kmw-key.kmw-key-default[id$='U_12F3'],  /* ዳ */
.phone div.kmw-key.kmw-key-default[id$='U_12FB'], .tablet div.kmw-key.kmw-key-default[id$='U_12FB'],  /* ዻ */
.phone div.kmw-key.kmw-key-default[id$='U_1303'], .tablet div.kmw-key.kmw-key-default[id$='U_1303'],  /* ጃ */
.phone div.kmw-key.kmw-key-default[id$='U_130B'], .tablet div.kmw-key.kmw-key-default[id$='U_130B'],  /* ጋ */
.phone div.kmw-key.kmw-key-default[id$='U_131B'], .tablet div.kmw-key.kmw-key-default[id$='U_131B'],  /* ጛ */
.phone div.kmw-key.kmw-key-default[id$='U_1323'], .tablet div.kmw-key.kmw-key-default[id$='U_1323'],  /* ጣ */
.phone div.kmw-key.kmw-key-default[id$='U_132B'], .tablet div.kmw-key.kmw-key-default[id$='U_132B'],  /* ጫ */
.phone div.kmw-key.kmw-key-default[id$='U_1333'], .tablet div.kmw-key.kmw-key-default[id$='U_1333'],  /* ጳ */
.phone div.kmw-key.kmw-key-default[id$='U_133B'], .tablet div.kmw-key.kmw-key-default[id$='U_133B'],  /* ጻ */
.phone div.kmw-key.kmw-key-default[id$='U_1343'], .tablet div.kmw-key.kmw-key-default[id$='U_1343'],  /* ፃ */
.phone div.kmw-key.kmw-key-default[id$='U_134B'], .tablet div.kmw-key.kmw-key-default[id$='U_134B'],  /* ፋ */
.phone div.kmw-key.kmw-key-default[id$='U_1353'], .tablet div.kmw-key.kmw-key-default[id$='U_1353']   /* ፓ */
  { background:  #ccf1ff  ; color: black; } /* #b2cefe */

/* default layer ኃምስ */
.phone div.kmw-key.kmw-key-default[id$='U_1204'], .tablet div.kmw-key.kmw-key-default[id$='U_1204'],  /* ሄ */
.phone div.kmw-key.kmw-key-default[id$='U_120C'], .tablet div.kmw-key.kmw-key-default[id$='U_120C'],  /* ሌ */
.phone div.kmw-key.kmw-key-default[id$='U_1214'], .tablet div.kmw-key.kmw-key-default[id$='U_1214'],  /* ሔ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7E4'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7E4'], /* 𞟤 */
.phone div.kmw-key.kmw-key-default[id$='U_121C'], .tablet div.kmw-key.kmw-key-default[id$='U_121C'],  /* ሜ */
.phone div.kmw-key.kmw-key-default[id$='U_1224'], .tablet div.kmw-key.kmw-key-default[id$='U_1224'],  /* ሤ */
.phone div.kmw-key.kmw-key-default[id$='U_122C'], .tablet div.kmw-key.kmw-key-default[id$='U_122C'],  /* ሬ */
.phone div.kmw-key.kmw-key-default[id$='U_1234'], .tablet div.kmw-key.kmw-key-default[id$='U_1234'],  /* ሴ */
.phone div.kmw-key.kmw-key-default[id$='U_123C'], .tablet div.kmw-key.kmw-key-default[id$='U_123C'],  /* ሼ */
.phone div.kmw-key.kmw-key-default[id$='U_1244'], .tablet div.kmw-key.kmw-key-default[id$='U_1244'],  /* ቄ */
.phone div.kmw-key.kmw-key-default[id$='U_1254'], .tablet div.kmw-key.kmw-key-default[id$='U_1254'],  /* ቔ */
.phone div.kmw-key.kmw-key-default[id$='U_1264'], .tablet div.kmw-key.kmw-key-default[id$='U_1264'],  /* ቤ */
.phone div.kmw-key.kmw-key-default[id$='U_126C'], .tablet div.kmw-key.kmw-key-default[id$='U_126C'],  /* ቬ */
.phone div.kmw-key.kmw-key-default[id$='U_1274'], .tablet div.kmw-key.kmw-key-default[id$='U_1274'],  /* ቴ */
.phone div.kmw-key.kmw-key-default[id$='U_127C'], .tablet div.kmw-key.kmw-key-default[id$='U_127C'],  /* ቼ */
.phone div.kmw-key.kmw-key-default[id$='U_1284'], .tablet div.kmw-key.kmw-key-default[id$='U_1284'],  /* ኄ */
.phone div.kmw-key.kmw-key-default[id$='U_1294'], .tablet div.kmw-key.kmw-key-default[id$='U_1294'],  /* ኔ */
.phone div.kmw-key.kmw-key-default[id$='U_129C'], .tablet div.kmw-key.kmw-key-default[id$='U_129C'],  /* ኜ */
.phone div.kmw-key.kmw-key-default[id$='U_12A4'], .tablet div.kmw-key.kmw-key-default[id$='U_12A4'],  /* ኤ */
.phone div.kmw-key.kmw-key-default[id$='U_12AC'], .tablet div.kmw-key.kmw-key-default[id$='U_12AC'],  /* ኬ */
.phone div.kmw-key.kmw-key-default[id$='U_12BC'], .tablet div.kmw-key.kmw-key-default[id$='U_12BC'],  /* ኼ */
.phone div.kmw-key.kmw-key-default[id$='U_12CC'], .tablet div.kmw-key.kmw-key-default[id$='U_12CC'],  /* ዌ */
.phone div.kmw-key.kmw-key-default[id$='U_12D4'], .tablet div.kmw-key.kmw-key-default[id$='U_12D4'],  /* ዔ */
.phone div.kmw-key.kmw-key-default[id$='U_12DC'], .tablet div.kmw-key.kmw-key-default[id$='U_12DC'],  /* ዜ */
.phone div.kmw-key.kmw-key-default[id$='U_12E4'], .tablet div.kmw-key.kmw-key-default[id$='U_12E4'],  /* ዤ */
.phone div.kmw-key.kmw-key-default[id$='U_12EC'], .tablet div.kmw-key.kmw-key-default[id$='U_12EC'],  /* ዬ */
.phone div.kmw-key.kmw-key-default[id$='U_12F4'], .tablet div.kmw-key.kmw-key-default[id$='U_12F4'],  /* ዴ */
.phone div.kmw-key.kmw-key-default[id$='U_12FC'], .tablet div.kmw-key.kmw-key-default[id$='U_12FC'],  /* ዼ */
.phone div.kmw-key.kmw-key-default[id$='U_1304'], .tablet div.kmw-key.kmw-key-default[id$='U_1304'],  /* ጄ */
.phone div.kmw-key.kmw-key-default[id$='U_130C'], .tablet div.kmw-key.kmw-key-default[id$='U_130C'],  /* ጌ */
.phone div.kmw-key.kmw-key-default[id$='U_131C'], .tablet div.kmw-key.kmw-key-default[id$='U_131C'],  /* ጜ */
.phone div.kmw-key.kmw-key-default[id$='U_1324'], .tablet div.kmw-key.kmw-key-default[id$='U_1324'],  /* ጤ */
.phone div.kmw-key.kmw-key-default[id$='U_132C'], .tablet div.kmw-key.kmw-key-default[id$='U_132C'],  /* ጬ */
.phone div.kmw-key.kmw-key-default[id$='U_1334'], .tablet div.kmw-key.kmw-key-default[id$='U_1334'],  /* ጴ */
.phone div.kmw-key.kmw-key-default[id$='U_133C'], .tablet div.kmw-key.kmw-key-default[id$='U_133C'],  /* ጼ */
.phone div.kmw-key.kmw-key-default[id$='U_1344'], .tablet div.kmw-key.kmw-key-default[id$='U_1344'],  /* ፄ */
.phone div.kmw-key.kmw-key-default[id$='U_134C'], .tablet div.kmw-key.kmw-key-default[id$='U_134C'],  /* ፌ */
.phone div.kmw-key.kmw-key-default[id$='U_1354'], .tablet div.kmw-key.kmw-key-default[id$='U_1354']   /* ፔ */
  { background:  #e0d7ff  ; color: black; } /* #f2a2e8 */

/* default layer ሳድስ */
.phone div.kmw-key.kmw-key-default[id$='U_1205'], .tablet div.kmw-key.kmw-key-default[id$='U_1205'],  /* ህ */
.phone div.kmw-key.kmw-key-default[id$='U_120D'], .tablet div.kmw-key.kmw-key-default[id$='U_120D'],  /* ል */
.phone div.kmw-key.kmw-key-default[id$='U_1215'], .tablet div.kmw-key.kmw-key-default[id$='U_1215'],  /* ሕ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7E5'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7E5'], /* 𞟥 */ 
.phone div.kmw-key.kmw-key-default[id$='U_121D'], .tablet div.kmw-key.kmw-key-default[id$='U_121D'],  /* ም */
.phone div.kmw-key.kmw-key-default[id$='U_1225'], .tablet div.kmw-key.kmw-key-default[id$='U_1225'],  /* ሥ */
.phone div.kmw-key.kmw-key-default[id$='U_122D'], .tablet div.kmw-key.kmw-key-default[id$='U_122D'],  /* ር */
.phone div.kmw-key.kmw-key-default[id$='U_1235'], .tablet div.kmw-key.kmw-key-default[id$='U_1235'],  /* ስ */
.phone div.kmw-key.kmw-key-default[id$='U_123D'], .tablet div.kmw-key.kmw-key-default[id$='U_123D'],  /* ሽ */
.phone div.kmw-key.kmw-key-default[id$='U_1245'], .tablet div.kmw-key.kmw-key-default[id$='U_1245'],  /* ቅ */
.phone div.kmw-key.kmw-key-default[id$='U_1255'], .tablet div.kmw-key.kmw-key-default[id$='U_1255'],  /* ቕ */
.phone div.kmw-key.kmw-key-default[id$='U_1265'], .tablet div.kmw-key.kmw-key-default[id$='U_1265'],  /* ብ */
.phone div.kmw-key.kmw-key-default[id$='U_126D'], .tablet div.kmw-key.kmw-key-default[id$='U_126D'],  /* ቭ */
.phone div.kmw-key.kmw-key-default[id$='U_1275'], .tablet div.kmw-key.kmw-key-default[id$='U_1275'],  /* ት */
.phone div.kmw-key.kmw-key-default[id$='U_127D'], .tablet div.kmw-key.kmw-key-default[id$='U_127D'],  /* ች */
.phone div.kmw-key.kmw-key-default[id$='U_1285'], .tablet div.kmw-key.kmw-key-default[id$='U_1285'],  /* ኅ */
.phone div.kmw-key.kmw-key-default[id$='U_1295'], .tablet div.kmw-key.kmw-key-default[id$='U_1295'],  /* ን */
.phone div.kmw-key.kmw-key-default[id$='U_129D'], .tablet div.kmw-key.kmw-key-default[id$='U_129D'],  /* ኝ */
.phone div.kmw-key.kmw-key-default[id$='U_12A5'], .tablet div.kmw-key.kmw-key-default[id$='U_12A5'],  /* እ */
.phone div.kmw-key.kmw-key-default[id$='U_12AD'], .tablet div.kmw-key.kmw-key-default[id$='U_12AD'],  /* ክ */ 
.phone div.kmw-key.kmw-key-default[id$='U_12BD'], .tablet div.kmw-key.kmw-key-default[id$='U_12BD'],  /* ኽ */ 
.phone div.kmw-key.kmw-key-default[id$='U_12CD'], .tablet div.kmw-key.kmw-key-default[id$='U_12CD'],  /* ው */ 
.phone div.kmw-key.kmw-key-default[id$='U_12D5'], .tablet div.kmw-key.kmw-key-default[id$='U_12D5'],  /* ዕ */
.phone div.kmw-key.kmw-key-default[id$='U_12DD'], .tablet div.kmw-key.kmw-key-default[id$='U_12DD'],  /* ዝ */
.phone div.kmw-key.kmw-key-default[id$='U_12E5'], .tablet div.kmw-key.kmw-key-default[id$='U_12E5'],  /* ዥ */
.phone div.kmw-key.kmw-key-default[id$='U_12ED'], .tablet div.kmw-key.kmw-key-default[id$='U_12ED'],  /* ይ */
.phone div.kmw-key.kmw-key-default[id$='U_12F5'], .tablet div.kmw-key.kmw-key-default[id$='U_12F5'],  /* ድ */
.phone div.kmw-key.kmw-key-default[id$='U_1305'], .tablet div.kmw-key.kmw-key-default[id$='U_1305'],  /* ጅ */
.phone div.kmw-key.kmw-key-default[id$='U_130D'], .tablet div.kmw-key.kmw-key-default[id$='U_130D'],  /* ግ */
.phone div.kmw-key.kmw-key-default[id$='U_131D'], .tablet div.kmw-key.kmw-key-default[id$='U_131D'],  /* ጝ */
.phone div.kmw-key.kmw-key-default[id$='U_1325'], .tablet div.kmw-key.kmw-key-default[id$='U_1325'],  /* ጥ */
.phone div.kmw-key.kmw-key-default[id$='U_132D'], .tablet div.kmw-key.kmw-key-default[id$='U_132D'],  /* ጭ */
.phone div.kmw-key.kmw-key-default[id$='U_1335'], .tablet div.kmw-key.kmw-key-default[id$='U_1335'],  /* ጵ */
.phone div.kmw-key.kmw-key-default[id$='U_133D'], .tablet div.kmw-key.kmw-key-default[id$='U_133D'],  /* ጽ */
.phone div.kmw-key.kmw-key-default[id$='U_1345'], .tablet div.kmw-key.kmw-key-default[id$='U_1345'],  /* ፅ */
.phone div.kmw-key.kmw-key-default[id$='U_134D'], .tablet div.kmw-key.kmw-key-default[id$='U_134D'],  /* ፍ */
.phone div.kmw-key.kmw-key-default[id$='U_1355'], .tablet div.kmw-key.kmw-key-default[id$='U_1355']   /* ፕ */
  { background: #eceae4; color: black; }

/* default layer ሳብዕ */
.phone div.kmw-key.kmw-key-default[id$='U_1206'], .tablet div.kmw-key.kmw-key-default[id$='U_1206'],  /* ሆ */
.phone div.kmw-key.kmw-key-default[id$='U_120E'], .tablet div.kmw-key.kmw-key-default[id$='U_120E'],  /* ሎ */
.phone div.kmw-key.kmw-key-default[id$='U_1216'], .tablet div.kmw-key.kmw-key-default[id$='U_1216'],  /* ሖ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7E6'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7E6'], /* 𞟦 */
.phone div.kmw-key.kmw-key-default[id$='U_121E'], .tablet div.kmw-key.kmw-key-default[id$='U_121E'],  /* ሞ */
.phone div.kmw-key.kmw-key-default[id$='U_1226'], .tablet div.kmw-key.kmw-key-default[id$='U_1226'],  /* ሦ */
.phone div.kmw-key.kmw-key-default[id$='U_122E'], .tablet div.kmw-key.kmw-key-default[id$='U_122E'],  /* ሮ */
.phone div.kmw-key.kmw-key-default[id$='U_1236'], .tablet div.kmw-key.kmw-key-default[id$='U_1236'],  /* ሶ */
.phone div.kmw-key.kmw-key-default[id$='U_123E'], .tablet div.kmw-key.kmw-key-default[id$='U_123E'],  /* ሾ */
.phone div.kmw-key.kmw-key-default[id$='U_1246'], .tablet div.kmw-key.kmw-key-default[id$='U_1246'],  /* ቆ */
.phone div.kmw-key.kmw-key-default[id$='U_1256'], .tablet div.kmw-key.kmw-key-default[id$='U_1256'],  /* ቖ */
.phone div.kmw-key.kmw-key-default[id$='U_1266'], .tablet div.kmw-key.kmw-key-default[id$='U_1266'],  /* ቦ */
.phone div.kmw-key.kmw-key-default[id$='U_126E'], .tablet div.kmw-key.kmw-key-default[id$='U_126E'],  /* ቮ */
.phone div.kmw-key.kmw-key-default[id$='U_1276'], .tablet div.kmw-key.kmw-key-default[id$='U_1276'],  /* ቶ */
.phone div.kmw-key.kmw-key-default[id$='U_127E'], .tablet div.kmw-key.kmw-key-default[id$='U_127E'],  /* ቾ */
.phone div.kmw-key.kmw-key-default[id$='U_1286'], .tablet div.kmw-key.kmw-key-default[id$='U_1286'],  /* ኆ */
.phone div.kmw-key.kmw-key-default[id$='U_1296'], .tablet div.kmw-key.kmw-key-default[id$='U_1296'],  /* ኖ */
.phone div.kmw-key.kmw-key-default[id$='U_129E'], .tablet div.kmw-key.kmw-key-default[id$='U_129E'],  /* ኞ */
.phone div.kmw-key.kmw-key-default[id$='U_12A6'], .tablet div.kmw-key.kmw-key-default[id$='U_12A6'],  /* ኦ */
.phone div.kmw-key.kmw-key-default[id$='U_12AE'], .tablet div.kmw-key.kmw-key-default[id$='U_12AE'],  /* ኮ */
.phone div.kmw-key.kmw-key-default[id$='U_12BE'], .tablet div.kmw-key.kmw-key-default[id$='U_12BE'],  /* ኾ */
.phone div.kmw-key.kmw-key-default[id$='U_12CE'], .tablet div.kmw-key.kmw-key-default[id$='U_12CE'],  /* ዎ */
.phone div.kmw-key.kmw-key-default[id$='U_12D6'], .tablet div.kmw-key.kmw-key-default[id$='U_12D6'],  /* ዖ */
.phone div.kmw-key.kmw-key-default[id$='U_12DE'], .tablet div.kmw-key.kmw-key-default[id$='U_12DE'],  /* ዞ */
.phone div.kmw-key.kmw-key-default[id$='U_12E6'], .tablet div.kmw-key.kmw-key-default[id$='U_12E6'],  /* ዦ */
.phone div.kmw-key.kmw-key-default[id$='U_12EE'], .tablet div.kmw-key.kmw-key-default[id$='U_12EE'],  /* ዮ */
.phone div.kmw-key.kmw-key-default[id$='U_12F6'], .tablet div.kmw-key.kmw-key-default[id$='U_12F6'],  /* ዶ */
.phone div.kmw-key.kmw-key-default[id$='U_12FE'], .tablet div.kmw-key.kmw-key-default[id$='U_12FE'],  /* ዾ */
.phone div.kmw-key.kmw-key-default[id$='U_1306'], .tablet div.kmw-key.kmw-key-default[id$='U_1306'],  /* ጆ */
.phone div.kmw-key.kmw-key-default[id$='U_130E'], .tablet div.kmw-key.kmw-key-default[id$='U_130E'],  /* ጎ */
.phone div.kmw-key.kmw-key-default[id$='U_131E'], .tablet div.kmw-key.kmw-key-default[id$='U_131E'],  /* ጞ */
.phone div.kmw-key.kmw-key-default[id$='U_1326'], .tablet div.kmw-key.kmw-key-default[id$='U_1326'],  /* ጦ */
.phone div.kmw-key.kmw-key-default[id$='U_132E'], .tablet div.kmw-key.kmw-key-default[id$='U_132E'],  /* ጮ */
.phone div.kmw-key.kmw-key-default[id$='U_1336'], .tablet div.kmw-key.kmw-key-default[id$='U_1336'],  /* ጶ */
.phone div.kmw-key.kmw-key-default[id$='U_133E'], .tablet div.kmw-key.kmw-key-default[id$='U_133E'],  /* ጾ */
.phone div.kmw-key.kmw-key-default[id$='U_1346'], .tablet div.kmw-key.kmw-key-default[id$='U_1346'],  /* ፆ */
.phone div.kmw-key.kmw-key-default[id$='U_134E'], .tablet div.kmw-key.kmw-key-default[id$='U_134E'],  /* ፎ */
.phone div.kmw-key.kmw-key-default[id$='U_1356'], .tablet div.kmw-key.kmw-key-default[id$='U_1356']   /* ፖ */
  { background:  #fad6b6  ; color: black; } /* f8b88b*/


/* default layer ዘመደ-ራብዕ */
.phone div.kmw-key.kmw-key-default[id$='U_120F'], .tablet div.kmw-key.kmw-key-default[id$='U_120F'], /* ሏ */
.phone div.kmw-key.kmw-key-default[id$='U_1217'], .tablet div.kmw-key.kmw-key-default[id$='U_1217'], /* ሗ */
.phone div.kmw-key.kmw-key-default[id$='U_121F'], .tablet div.kmw-key.kmw-key-default[id$='U_121F'], /* ሟ */
.phone div.kmw-key.kmw-key-default[id$='U_1227'], .tablet div.kmw-key.kmw-key-default[id$='U_1227'], /* ሧ */
.phone div.kmw-key.kmw-key-default[id$='U_122F'], .tablet div.kmw-key.kmw-key-default[id$='U_122F'], /* ሯ */
.phone div.kmw-key.kmw-key-default[id$='U_1237'], .tablet div.kmw-key.kmw-key-default[id$='U_1237'], /* ሷ */
.phone div.kmw-key.kmw-key-default[id$='U_123F'], .tablet div.kmw-key.kmw-key-default[id$='U_123F'], /* ሿ */
.phone div.kmw-key.kmw-key-default[id$='U_1267'], .tablet div.kmw-key.kmw-key-default[id$='U_1267'], /* ቧ */
.phone div.kmw-key.kmw-key-default[id$='U_126F'], .tablet div.kmw-key.kmw-key-default[id$='U_126F'], /* ቯ */
.phone div.kmw-key.kmw-key-default[id$='U_1277'], .tablet div.kmw-key.kmw-key-default[id$='U_1277'], /* ቷ */
.phone div.kmw-key.kmw-key-default[id$='U_127F'], .tablet div.kmw-key.kmw-key-default[id$='U_127F'], /* ቿ */
.phone div.kmw-key.kmw-key-default[id$='U_1297'], .tablet div.kmw-key.kmw-key-default[id$='U_1297'], /* ኗ */
.phone div.kmw-key.kmw-key-default[id$='U_129F'], .tablet div.kmw-key.kmw-key-default[id$='U_129F'], /* ኟ */
.phone div.kmw-key.kmw-key-default[id$='U_12A7'], .tablet div.kmw-key.kmw-key-default[id$='U_12A7'], /* ኧ */
.phone div.kmw-key.kmw-key-default[id$='U_12DF'], .tablet div.kmw-key.kmw-key-default[id$='U_12DF'], /* ዟ */
.phone div.kmw-key.kmw-key-default[id$='U_12E7'], .tablet div.kmw-key.kmw-key-default[id$='U_12E7'], /* ዧ */
.phone div.kmw-key.kmw-key-default[id$='U_12F7'], .tablet div.kmw-key.kmw-key-default[id$='U_12F7'], /* ዷ*/
.phone div.kmw-key.kmw-key-default[id$='U_12FF'], .tablet div.kmw-key.kmw-key-default[id$='U_12FF'], /* ዿ */
.phone div.kmw-key.kmw-key-default[id$='U_1307'], .tablet div.kmw-key.kmw-key-default[id$='U_1307'], /* ጇ */
.phone div.kmw-key.kmw-key-default[id$='U_1327'], .tablet div.kmw-key.kmw-key-default[id$='U_1327'], /* ጧ */
.phone div.kmw-key.kmw-key-default[id$='U_132F'], .tablet div.kmw-key.kmw-key-default[id$='U_132F'], /* ጯ */
.phone div.kmw-key.kmw-key-default[id$='U_1337'], .tablet div.kmw-key.kmw-key-default[id$='U_1337'], /* ጷ */
.phone div.kmw-key.kmw-key-default[id$='U_133F'], .tablet div.kmw-key.kmw-key-default[id$='U_133F'], /* ጿ */
.phone div.kmw-key.kmw-key-default[id$='U_134F'], .tablet div.kmw-key.kmw-key-default[id$='U_134F'], /* ፏ */
.phone div.kmw-key.kmw-key-default[id$='U_1357'], .tablet div.kmw-key.kmw-key-default[id$='U_1357']  /* ፗ */
  { background:  #e1cec9  ; color: black; }


/* ዘመደ-ግዕዝ */
.phone div.kmw-key.kmw-key-default[id$='U_1248'], .tablet div.kmw-key.kmw-key-default[id$='U_1248'],  /* ቈ */
.phone div.kmw-key.kmw-key-default[id$='U_1258'], .tablet div.kmw-key.kmw-key-default[id$='U_1258'],  /* ቘ */
.phone div.kmw-key.kmw-key-default[id$='U_1288'], .tablet div.kmw-key.kmw-key-default[id$='U_1288'],  /* ኈ */
.phone div.kmw-key.kmw-key-default[id$='U_12B0'], .tablet div.kmw-key.kmw-key-default[id$='U_12B0'],  /* ኰ */
.phone div.kmw-key.kmw-key-default[id$='U_12C0'], .tablet div.kmw-key.kmw-key-default[id$='U_12C0'],  /* ዀ */
.phone div.kmw-key.kmw-key-default[id$='U_1310'], .tablet div.kmw-key.kmw-key-default[id$='U_1310'],  /* ጐ */
.phone div.kmw-key.kmw-key-default[id$='U_2D93'], .tablet div.kmw-key.kmw-key-default[id$='U_2D93'],  /* ⶓ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7E8'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7E8'], /* 𞟨 */
.phone div.kmw-key.kmw-key-default[id$='U_1380'], .tablet div.kmw-key.kmw-key-default[id$='U_1380'],  /* ᎀ */
.phone div.kmw-key.kmw-key-default[id$='U_1384'], .tablet div.kmw-key.kmw-key-default[id$='U_1384'],  /* ᎄ */
.phone div.kmw-key.kmw-key-default[id$='U_1388'], .tablet div.kmw-key.kmw-key-default[id$='U_1388'],  /* ᎈ */
.phone div.kmw-key.kmw-key-default[id$='U_138C'], .tablet div.kmw-key.kmw-key-default[id$='U_138C']   /* ᎌ */
  {
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #e2f0cb 100%);
  }

/* ዘመደ-ካዕብ */
.phone div.kmw-key.kmw-key-default[id$='U_124D'], .tablet div.kmw-key.kmw-key-default[id$='U_124D'],  /* ቍ */
.phone div.kmw-key.kmw-key-default[id$='U_125D'], .tablet div.kmw-key.kmw-key-default[id$='U_125D'],  /* ቝ */
.phone div.kmw-key.kmw-key-default[id$='U_128D'], .tablet div.kmw-key.kmw-key-default[id$='U_128D'],  /* ኍ */
.phone div.kmw-key.kmw-key-default[id$='U_12B5'], .tablet div.kmw-key.kmw-key-default[id$='U_12B5'],  /* ኵ */
.phone div.kmw-key.kmw-key-default[id$='U_12C5'], .tablet div.kmw-key.kmw-key-default[id$='U_12C5'],  /* ዅ */
.phone div.kmw-key.kmw-key-default[id$='U_1315'], .tablet div.kmw-key.kmw-key-default[id$='U_1315'],  /* ጕ */
.phone div.kmw-key.kmw-key-default[id$='U_2D96'], .tablet div.kmw-key.kmw-key-default[id$='U_2D96'],  /* ⶔ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7F7'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7F7'], /* 𞟷 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7EB'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7EB'], /* 𞟫 */
.phone div.kmw-key.kmw-key-default[id$='U_1383'], .tablet div.kmw-key.kmw-key-default[id$='U_1383'],  /* ᎃ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7F2'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7F2'], /* 𞟲 */
.phone div.kmw-key.kmw-key-default[id$='U_1387'], .tablet div.kmw-key.kmw-key-default[id$='U_1387'],  /* ᎇ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7FA'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7FA'], /* 𞟺 */
.phone div.kmw-key.kmw-key-default[id$='U_138B'], .tablet div.kmw-key.kmw-key-default[id$='U_138B'],  /* ᎋ */
.phone div.kmw-key.kmw-key-default[id$='U_138F'], .tablet div.kmw-key.kmw-key-default[id$='U_138F']   /* ᎏ */
  {
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #eceae4 100%);
  }

/* ዘመደ-ሣልስ */
.phone div.kmw-key.kmw-key-default[id$='U_124A'], .tablet div.kmw-key.kmw-key-default[id$='U_124A'],  /* ቊ */
.phone div.kmw-key.kmw-key-default[id$='U_125A'], .tablet div.kmw-key.kmw-key-default[id$='U_125A'],  /* ቚ */
.phone div.kmw-key.kmw-key-default[id$='U_128A'], .tablet div.kmw-key.kmw-key-default[id$='U_128A'],  /* ኊ */
.phone div.kmw-key.kmw-key-default[id$='U_12B2'], .tablet div.kmw-key.kmw-key-default[id$='U_12B2'],  /* ኲ */
.phone div.kmw-key.kmw-key-default[id$='U_12C2'], .tablet div.kmw-key.kmw-key-default[id$='U_12C2'],  /* ዂ */
.phone div.kmw-key.kmw-key-default[id$='U_1312'], .tablet div.kmw-key.kmw-key-default[id$='U_1312'],  /* ጒ */
.phone div.kmw-key.kmw-key-default[id$='U_2D94'], .tablet div.kmw-key.kmw-key-default[id$='U_2D94'],  /* ⶔ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7F5'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7F5'], /* 𞟵 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7E9'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7E9'], /* 𞟩 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7ED'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7ED'], /* 𞟭 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7F0'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7F0'], /* 𞟰 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7F3'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7F3'], /* 𞟳 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7F8'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7F8'], /* 𞟸 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7FB'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7FB'], /* 𞟻 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7FD'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7FD']  /* 𞟽 */
  {
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #fea3aa 100%);
  }

/* ዘመደ-ራብዕ */
.phone div.kmw-key.kmw-key-default[id$='U_124B'], .tablet div.kmw-key.kmw-key-default[id$='U_124B'], /* ቋ */
.phone div.kmw-key.kmw-key-default[id$='U_125B'], .tablet div.kmw-key.kmw-key-default[id$='U_125B'], /* ቛ */
.phone div.kmw-key.kmw-key-default[id$='U_128B'], .tablet div.kmw-key.kmw-key-default[id$='U_128B'], /* ኋ */
.phone div.kmw-key.kmw-key-default[id$='U_12B3'], .tablet div.kmw-key.kmw-key-default[id$='U_12B3'], /* ኳ */
.phone div.kmw-key.kmw-key-default[id$='U_12C3'], .tablet div.kmw-key.kmw-key-default[id$='U_12C3'], /* ዃ */
.phone div.kmw-key.kmw-key-default[id$='U_1313'], .tablet div.kmw-key.kmw-key-default[id$='U_1313'], /* ጓ */
.phone div.kmw-key.kmw-key-default[id$='U_131F'], .tablet div.kmw-key.kmw-key-default[id$='U_131F']  /* ጟ */
  {
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #ccf1ff 100%);
  }

/* ዘመደ-ኃምስ */
.phone div.kmw-key.kmw-key-default[id$='U_124C'], .tablet div.kmw-key.kmw-key-default[id$='U_124C'],  /* ቌ */
.phone div.kmw-key.kmw-key-default[id$='U_125C'], .tablet div.kmw-key.kmw-key-default[id$='U_125C'],  /* ቜ */
.phone div.kmw-key.kmw-key-default[id$='U_128C'], .tablet div.kmw-key.kmw-key-default[id$='U_128C'],  /* ኌ */
.phone div.kmw-key.kmw-key-default[id$='U_12B4'], .tablet div.kmw-key.kmw-key-default[id$='U_12B4'],  /* ኴ */
.phone div.kmw-key.kmw-key-default[id$='U_12C4'], .tablet div.kmw-key.kmw-key-default[id$='U_12C4'],  /* ዄ */
.phone div.kmw-key.kmw-key-default[id$='U_1314'], .tablet div.kmw-key.kmw-key-default[id$='U_1314'],  /* ጔ */
.phone div.kmw-key.kmw-key-default[id$='U_2D95'], .tablet div.kmw-key.kmw-key-default[id$='U_2D95'],  /* ⶕ */
.phone div.kmw-key.kmw-key-default[id$='U_1E7EA'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7EA'], /* 𞟪 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7EE'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7EE'], /* 𞟮 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7F1'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7F1'], /* 𞟱 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7F4'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7F4'], /* 𞟴 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7F6'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7F6'], /* 𞟶 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7F9'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7F9'], /* 𞟹 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7FC'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7FC'], /* 𞟼 */
.phone div.kmw-key.kmw-key-default[id$='U_1E7FE'], .tablet div.kmw-key.kmw-key-default[id$='U_1E7FE']  /* 𞟾 */
  {
    background: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #e0d7ff 100%);
  }
